@using Data;
@using Data.Providers;
@{
    ViewBag.Title = "Vina Focus";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];

    var list_category_parent_default = new CategoryProvider().getListParentCategory().Where(c => c.type_of_category_id == 1).ToList();
    var category_parent_special_first = new CategoryProvider().getListParentCategory().Where(c => c.type_of_category_id == 2).FirstOrDefault();
    var list_category_parent_special = new CategoryProvider().getListParentCategory().Where(c => c.type_of_category_id == 2).ToList();

    var list_slide = new StoreSlideProvider().getIsShowing();
    var banner = new StoreBannerProvider().getbyId(1);

    var contact = new StoreContactProvider().get1Contact();
    var logo_header = new StoreLogoProvider().getLogoHeader();
    var list_da = new BlogProvider().getByCategoryIdShowing(5);

    ViewBag.Keywords = "Thiết bị điện, ống nhựa, phụ kiện, công tắc, ổ cắm, đèn, Opple, Edenki, Thuận Phát, Vina Focus";
    ViewBag.Description = "Vina Focus cung cấp các dòng sản phẩm thiết bị điện cao cấp, ống nhựa và phụ kiện, đèn chiếu sáng chất lượng cao.";
    ViewBag.Canonical = urlSite;
    ViewBag.Alternate = urlSite;
    ViewBag.Url = urlSite;
    ViewBag.Image = urlCMS + "/" + logo_header.image;
}

<!-- Slider Section -->
<div class="mb-4 slide-desktop">
    <div class="bg-img-hero">
        <div class="overflow-hidden">
            <div class="js-slick-carousel u-slick"
                 data-pagi-classes="text-center position-absolute right-0 bottom-0 left-0 u-slick__pagination u-slick__pagination--long justify-content-center mb-3 mb-md-4">
                @foreach (var slide in list_slide)
                {
                    if (slide.main_text != "mobile")
                    {
                        <div class="js-slide">
                            <div data-scs-animation-in="fadeInRight" data-scs-animation-delay="500">
                                <a href="@slide.link_url">
                                    <img class="img-fluid ml-auto mr-10 mr-wd-auto img-slider" src="@urlCMS/@slide.image" alt="@slide.alt">
                                </a>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>
<!-- End Slider Section -->
<!-- Slider Section -->
<div class="mb-4 slide-mobile">
    <div class="bg-img-hero">
        <div class="overflow-hidden">
            <div class="js-slick-carousel u-slick"
                 data-pagi-classes="text-center position-absolute right-0 bottom-0 left-0 u-slick__pagination u-slick__pagination--long justify-content-center mb-3 mb-md-4">
                @foreach (var slide in list_slide)
                {
                    if (slide.main_text == "mobile")
                    {
                        <div class="js-slide">
                            <div data-scs-animation-in="fadeInRight" data-scs-animation-delay="500">
                                <a href="@slide.link_url">
                                    <img class="img-fluid ml-auto mr-10 mr-wd-auto img-slider" src="@urlCMS/@slide.image" alt="@slide.alt">
                                </a>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>
<!-- End Slider Section -->

<div class="container banner-custom">
    <!-- Banner -->
    <div class="row mb-6 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
        <div class="col-md-6 mb-4 mb-xl-0 col-xl-4 col-wd-3 flex-shrink-0 flex-xl-shrink-1">
            <a href="/" class="min-height-146 py-1 py-xl-2 py-wd-1 d-flex align-items-center text-gray-90">
                <img src="~/Assets/img/banner/banner-ongnhua.jpg" />
            </a>
        </div>
        <div class="col-md-6 mb-4 mb-xl-0 col-xl-4 col-wd-3 flex-shrink-0 flex-xl-shrink-1">
            <a href="/" class="min-height-146 py-1 py-xl-2 py-wd-1 d-flex align-items-center text-gray-90">
                <img src="~/Assets/img/banner/banner-den.jpg" />
            </a>
        </div>
        <div class="col-md-6 mb-4 mb-xl-0 col-xl-4 col-wd-3 flex-shrink-0 flex-xl-shrink-1">
            <a href="/" class="min-height-146 py-1 py-xl-2 py-wd-1 d-flex align-items-center text-gray-90">
                <img src="~/Assets/img/banner/banner-congtac.jpg" />
            </a>
        </div>
        <div class="col-md-6 mb-4 mb-xl-0 col-xl-4 col-wd-3 flex-shrink-0 flex-xl-shrink-1 d-xl-none d-wd-block">
            <a href="/" class="min-height-146 py-1 py-xl-2 py-wd-1 d-flex align-items-center text-gray-90">
                <img src="~/Assets/img/banner/banner-chinhsachdaily.jpg" />
            </a>
        </div>
    </div>
    <!-- End Banner -->
</div>

<div class="rs-featured style1 gray-bg4 pt-104 pb-75 md-pt-66 md-pb-35">
    <div class="container">
        <div class="sec-title text-center mb-62 md-mb-34 sm-mb-45">
            <h2 class="title mb-0 bottom-wave">Vì sao chọn Vina Focus?</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-37">
                <div class="featured-wrap">
                    <div class="icon-part pt-7">
                        <img src="https://rstheme.com/products/html/reobiz/assets/images/featured/style1/icons/1.png" alt="">
                    </div>
                    <div class="content-part">
                        <h4 class="title">Project Management</h4>
                        <div class="desc">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-37">
                <div class="featured-wrap">
                    <div class="icon-part pt-7">
                        <img src="https://rstheme.com/products/html/reobiz/assets/images/featured/style1/icons/2.png" alt="">
                    </div>
                    <div class="content-part">
                        <h4 class="title">Strategy &amp; Planning</h4>
                        <div class="desc">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-37">
                <div class="featured-wrap">
                    <div class="icon-part pt-7">
                        <img src="https://rstheme.com/products/html/reobiz/assets/images/featured/style1/icons/3.png" alt="">
                    </div>
                    <div class="content-part">
                        <h4 class="title">HR Consulting</h4>
                        <div class="desc">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-37">
                <div class="featured-wrap">
                    <div class="icon-part pt-7">
                        <img src="https://rstheme.com/products/html/reobiz/assets/images/featured/style1/icons/4.png" alt="">
                    </div>
                    <div class="content-part">
                        <h4 class="title">Development Solutions</h4>
                        <div class="desc">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-37">
                <div class="featured-wrap">
                    <div class="icon-part pt-7">
                        <img src="https://rstheme.com/products/html/reobiz/assets/images/featured/style1/icons/5.png" alt="">
                    </div>
                    <div class="content-part">
                        <h4 class="title">Markets &amp; Resources</h4>
                        <div class="desc">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-37">
                <div class="featured-wrap">
                    <div class="icon-part pt-7">
                        <img src="https://rstheme.com/products/html/reobiz/assets/images/featured/style1/icons/6.png" alt="">
                    </div>
                    <div class="content-part">
                        <h4 class="title">Support &amp; Maintain</h4>
                        <div class="desc">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container banner-dai">
    <!-- Banner 2 columns -->
    <div class="mb-8">
        <div class="row">
            <div class="col-md-12 mb-3 mb-md-0 banner-custom">
                <a href="/">
                    <img src="@urlCMS/@banner.image" alt="@banner.alt" />
                </a>
            </div>

        </div>
    </div>
    <!-- End Banner 2 columns -->
    <!-- Recommendation for you -->
    <div class="position-relative">
        <div class="border-bottom border-color-1 mb-2">
            <h3 class="section-title section-title__full d-inline-block mb-0 pb-2 font-size-22">Một số dự án đã thực hiện</h3>
        </div>
        <div class="js-slick-carousel u-slick position-static overflow-hidden u-slick-overflow-visble pb-7 pt-2 px-1"
             data-pagi-classes="text-center right-0 bottom-1 left-0 u-slick__pagination u-slick__pagination--long mb-0 z-index-n1 mt-3 mt-md-0"
             data-slides-show="3"
             data-slides-scroll="1"
             data-arrows-classes="position-absolute top-0 font-size-17 u-slick__arrow-normal top-10"
             data-arrow-left-classes="fa fa-angle-left right-1"
             data-arrow-right-classes="fa fa-angle-right right-0"
             data-autoplay="true"
             data-responsive='[{
                          "breakpoint": 1400,
                          "settings": {
                            "slidesToShow": 3
                          }
                        }, {
                            "breakpoint": 1200,
                            "settings": {
                              "slidesToShow": 3
                            }
                        }, {
                          "breakpoint": 992,
                          "settings": {
                            "slidesToShow": 3
                          }
                        }, {
                          "breakpoint": 768,
                          "settings": {
                            "slidesToShow": 1
                          }
                        }, {
                          "breakpoint": 554,
                          "settings": {
                            "slidesToShow": 1
                          }
                        }]'>

            @foreach (var da in list_da)
            {
                <div class="js-slide">
                    <article class="card card-home border-0">
                        <a href="/blogs/@da.blog_seo_alias" class="d-block"><img class="img-fluid" src="@urlCMS/@da.blog_image" alt="@da.blog_alt_image"></a>
                        <div class="card-body pt-5 pb-0 px-0">
                            <h4 class="mb-3"><a href="/blogs/@da.blog_seo_alias">@da.blog_title</a></h4>
                            <div class="mb-3 pb-3 border-bottom">
                                <div class="list-group list-group-horizontal flex-wrap list-group-borderless align-items-center mx-n0dot5">
                                    <a href="/blogs/@da.blog_seo_alias" class="mx-0dot5 text-gray-5">Người đăng: @da.user.username</a>
                                    <span class="mx-2 font-size-n5 mt-1 text-gray-5"><i class="fas fa-circle"></i></span>
                                    <a href="/blogs/@da.blog_seo_alias" class="mx-0dot5 text-gray-5">Vào lúc: @da.create_datetime.Value.ToString("HH:mm dd/MM/yyyy")</a>
                                </div>
                            </div>
                            <p>@Html.Raw(da.blog_summary)</p>
                        </div>
                    </article>
                </div>
            }
        </div>
    </div>
    <!-- End Recommendation for you -->

</div>
