@model List<product_variation>
@using Data;
@using Data.Providers;

@if (Model.Count() > 0)
{
    <table class="table table-hover datatable-wrapper mb-0">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Sản phẩm</th>
                <th text-align:center" scope="col">Mã sản phẩm</th>
                <th scope="col">Giá bán</th>
                <th scope="col">Tồn kho</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var pv in Model)
                {
                    <tr>
                        <td>
                            <input onchange="img_pv_change('@pv.product_variation_id')" type="file" style="display: none" accept="image/gif, image/jpeg, image/jpg, image/png" id="file_img_product_variation_@pv.product_variation_id" />
                            <label for="file_img_product_variation_@pv.product_variation_id" style="cursor: pointer;" data-toggle="tooltip" data-original-title="Click để thay hình ảnh" class="tooltip-wrapper" data-placement="top">
                                <span id="append_img_product_variation_@pv.product_variation_id">
                                    @if (pv.product_variation_image != null)
                                    {
                                        <img id="img_product_variation_@pv.product_variation_id" alt="@pv.product_variation_image_alt" src="@pv.product_variation_image" style="background-color: hsl(210, 8%, 90%); object-fit:contain" class="img-fluid bg-img" />
                                    }
                                    else
                                    {
                                        <img id="img_product_variation_@pv.product_variation_id" src="../Assets/images/Icon/iconImg.png" style="background-color: hsl(210, 8%, 90%);object-fit:contain" class="img-fluid bg-img" />
                                    }
                                </span>
                            </label>
                        </td>
                        <td>
                            <a class="text-primary" href="/Product/ProductDetail?id=@pv.product.product_id" target="_blank">@pv.product.product_name</a> <br />
                            @foreach (var ev in new ElementVariationProvider().getByProductVariationId(pv.product_variation_id))
                            {
                                <small>@ev.product_variation_property.product_variation_property_name : @ev.element_variation_name</small><br />
                            }
                        </td>
                        <td align="center">
                            @if (pv.product_variation_code != null)
                            {
                                <a>@pv.product_variation_code</a>
                            }
                        </td>
                        <td class="showNumeric">@pv.product_variation_price</td>
                        <td>
                            @if (pv.product.warehouse_management_status == false)
                            {
                                <a href="javascript:void(0)" class="text-info tooltip-wrapper font-28" data-toggle="tooltip" data-placement="bottom" data-original-title="Không giới hạn số lượng"><i class="ion ion-md-infinite"></i></a>
                            }
                            else
                            {
                                <strong>
                                    @pv.product_variation_in_stock
                                    @if (pv.allow_ordering_while_out_of_stock_status == true)
                                    {
                                    <a href="javascript:void(0)" class="text-info tooltip-wrapper" data-toggle="tooltip" data-placement="bottom" data-original-title="Cho phép đặt khi hết hàng" aria-describedby="tooltip50142"><i class="fa fa-flag"></i></a>
                                    }
                                </strong>
                            }

                        </td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-icon btn-secondary" onclick="removeThisPvOutOfCombo('@pv.product_variation_id')"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
}
else
{
    <div class="align_center">
        <a>Chưa tạo lập sản phẩm bán kèm.</a>
    </div>
}


<script>
    $(document).ready(function () {
        //$(".showNumeric").autoNumeric('init', { aSign: ' ₫', pSign: 's', mDec: '0', aSep: '.', aDec: ',' });
    });


</script>