@model IPagedList<Data.product>
@using Data.Providers;
@using PagedList;
@using PagedList.Mvc;

@{
    var check_box_count = Model.Count();

}

<div class="table-responsive data-grid">
    <table class="table table-striped mb-0">
        <thead>
            <tr>
                <th align="center" scope="col" style="width:18%;">

                </th>
                <th scope="col" style="width:10%; text-align:center" align="center">
                    <p class="th_table">Trạng thái</p>
                </th>
                <th scope="col" style="width:12%">

                </th>
                <th scope="col" style="width:30%">
                    <p class="th_table">Sản phẩm</p>
                </th>
                <th scope="col" style="width:10%; text-align:center">
                    <p class="th_table">Tồn kho</p>
                </th>
                <th scope="col" style="width:20%;">
                    <p class="th_table">Nhà cung cấp</p>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td align="center">
                        <a class="btn btn-primary" href="javascript:void(0)" onclick="selectThisProduct('@product.product_id')" data-dismiss="modal">Chọn</a>
                    </td>

                    @if (product.status == true)
                    {
                        <td align="center">
                            <p><span class="badge badge-success-inverse px-2 py-1 mt-1">Đang hiển thị</span></p>
                        </td>
                    }
                    else
                    {
                        <td align="center">
                            <p><span class="badge badge-danger-inverse px-2 py-1 mt-1">Đang ẩn</span></p>
                        </td>
                    }

                    <td align="center">
                        <span class="bg-img m-auto ">
                            <img src="@product.product_image" class="img-fluid bg-img" alt="@product.alt_image">
                        </span>
                    </td>
                    <td><a href="/Product/ProductDetail?id=@product.product_id" class="text-primary">@product.product_name</a></td>
                    <td align="center">
                        @if (product.warehouse_management_status == true)
                        {
                            @product.view_count
                            if (product.allow_ordering_while_out_of_stock_status == true)
                            {
                                <a href="javascript:void(0)" class="text-info tooltip-wrapper" data-toggle="tooltip" data-placement="bottom" data-original-title="Cho phép đặt hàng ngay cả khi hết hàng"><i class="fa fa-flag"></i></a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" class="text-secondary tooltip-wrapper" data-toggle="tooltip" data-placement="bottom" data-original-title="Không cho phép đặt hàng khi hết hàng"><i class="fa fa-flag-o"></i></a>
                            }
                        }
                        else
                        {
                            <a href="javascript:void(0)" class="text-info tooltip-wrapper font-28" data-toggle="tooltip" data-placement="bottom" data-original-title="Không giới hạn số lượng"><i class="ion ion-md-infinite"></i></a>
                        }

                    </td>
                    <td>
                        <a href="/Supplier/SupplierDetail?id=@product.supplier_id" class="text-primary">@product.supplier.supplier_name</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<br>
@if (check_box_count == 0)
{
<div style="text-align:center">
    <h3>Không có kết quả nào được tìm thấy.</h3>
    <img src="~/Assets/images/image_system/not_found.png" style="width:50%" />
</div>
    <script>
        $('#label_for_select_all').css({ display: 'none' });
    </script>
}
else
{
    <a>Hiển thị kết quả từ 1 - @check_box_count trong tổng số @ViewBag.NumberOfList</a>
    <script>
        $('#label_for_select_all').css({ display: 'block' });
    </script>
}
@Html.PagedListPager(Model, page_num => Url.Action("GetProductListSelect", new { page_num, search_string = ViewBag.FilterValue, quick_filter = ViewBag.QuickFilter, quick_filter_value = ViewBag.QuickFilterValue, size_of_page = ViewBag.SizeOfPage, sort_list_return = ViewBag.SortListReturn }),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "data_table_list_product" }))


<script>
    $(document).ready(function () {
     
    });
</script>