@model IEnumerable<Data.product>
@using Data;
@using Data.Providers;

@{
    ViewBag.Title = "Danh sách biến thể sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Danh sách sản phẩm</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            Sản phẩm
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">Danh sách biến thể sản phẩm</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->

<div class="gr-btn-action row">
    <div class="btn-group-left col-md-6">
        <a href="@Url.Action("ExportToExcel", "Product")" class="btn btn-square btn-inverse-light button-custom" style="background-color: none; padding-left: 0px;">Export &nbsp;<i class="nav-icon ti ti-download"></i></a>
        <a class="btn btn-square btn-inverse-light button-custom" style="background-color: none; padding-left: 0px;" data-toggle="modal" data-target="#modalImportExcel">Import &nbsp;<i class="nav-icon ti ti-upload"></i></a>
    </div>
    <div class="btn-group-right col-md-6" style="text-align: right">
        <a class="btn btn-square btn-primary" href="@Url.Action("InsertProduct", "Product")">Tạo sản phẩm &nbsp;<i class="nav-icon ion ion-md-arrow-round-forward"></i></a>
    </div>


    <div class="modal fade hide in" data-keyboard="false" data-backdrop="static" id="modalImportExcel" tabindex="-1" role="dialog" aria-labelledby="defaultModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nhập danh sách sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <input type="file" id="importExcel" name="importExcel" style="display: none" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        <label for="importExcel" class="btn btn-primary">Chọn tệp .xlsx</label>
                        <a id="fileName">Không có tệp nào được chọn.</a>
                    </div>
                    <div style="padding-top: 10px;">
                        Tải file mẫu nhập danh sách sản phẩm <a href="~/Assets/file/form-import-product.xlsx" download class="text-info font-weight-bold">tại đây</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-success">Nhập danh sách sản phẩm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="input-group mb-3">
            <form id="form_filter_for_product_variation">
                <div class="btn-group">
                    <select class="custom-select" id="select_filter_product_variation">
                        <option value="all" selected="">Lọc sản phẩm theo</option>
                        <option value="product_status">Trạng thái sản phẩm</option>
                        <option value="category">Danh mục sản phẩm</option>
                        <option value="supplier">Nhà cung cấp</option>
                    </select>

                    <select class="custom-select" id="filter_by_product_status_for_product_variation" style="display: none">
                        <option selected="" value="-1" disabled>Chọn điều kiện lọc...</option>
                        <option value="hidden">Đang ẩn</option>
                        <option value="show">Đang hiển thị</option>
                    </select>

                    <select class="custom-select" id="filter_by_category_for_product_variation" style="display: none">
                        <option selected="" disabled>Chọn điều kiện lọc...</option>
                        @foreach (var category in new CategoryProvider().getAll())
                        {
                            <option value="@category.category_name">@category.category_name</option>
                        }
                    </select>

                    <select class="custom-select" id="filter_by_supplier_for_product_variation" style="display: none">
                        <option selected="" disabled>Chọn điều kiện lọc...</option>
                        @foreach (var supplier in new SupplierProvider().getAll())
                        {
                            <option value="@supplier.supplier_name">@supplier.supplier_name</option>
                        }
                    </select>
                </div>
            </form>

            <input type="text" class="form-control" id="search_input_for_product_variation" name="search_input_for_product_variation" value="@ViewBag.FilterValue" placeholder="Tìm kiếm sản phẩm..." aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="button-addon2" onclick="searchProductForProductVariation()">
                    <i class="nav-icon ti ti-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="text-align:right">
        <form>
            <div class="btn-group">
                <select class="custom-select" id="sort_list_product_return_select_for_product_variation">
                    <option selected="" value="name_az" disabled>Sắp xếp thứ tự theo</option>
                    <option value="name_az">Tên danh mục: A -> Z</option>
                    <option value="name_za">Tên danh mục: Z -> A</option>
                    <option disabled>------------------------------------------</option>
                    <option value="supplier_az">Tên nhà cung cấp: A -> Z</option>
                    <option value="supplier_za">Tên nhà cung cấp: Z -> A</option>
                    <option disabled>------------------------------------------</option>
                    <option value="warehouse_asc">Lượng tồn kho: Tăng dần</option>
                    <option value="warehouse_dec">Lượng tồn kho: Giảm dần</option>
                </select>
            </div>
            <div class="btn-group">
                <select class="custom-select" id="size_of_page_select_product_for_product_variation">
                    <option selected="" value="10" disabled>Hiển thị</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        </form>
    </div>
</div>

<div class="" id="data_table_product_variation">
    @{Html.RenderAction("GetProductVariation", "Product", new { page_num = ViewBag.page_num, search_string = ViewBag.FilterValue, quick_filter = ViewBag.QuickFilter, quick_filter_value = ViewBag.QuickFilterValue, size_of_page = ViewBag.SizeOfPage, sort_list_return = ViewBag.SortListReturn });}
</div>

<script>
    $(document).ready(function () {
        $('#product').addClass('active');
        $('#list_product').addClass('active');

        $(".showNumeric").autoNumeric('init', { aSign: ' ₫', pSign: 's', mDec: '0', aSep: '.', aDec: ',' });
        $('#form_filter_for_product_variation').trigger("reset");
    });

    $('#select_filter_product_variation').on('change', function () {
        var filter_value_parent = this.value;
        var search_string = $('#search_input_for_product_variation').val().trim();
        if (filter_value_parent == "product_status") {
            $('#filter_by_product_status_for_product_variation').css('display', 'block');
            $('#filter_by_category_for_product_variation').css('display', 'none');
            $('#filter_by_supplier_for_product_variation').css('display', 'none');
        }
        else if (filter_value_parent == "category") {
            $('#filter_by_product_status_for_product_variation').css('display', 'none');
            $('#filter_by_category_for_product_variation').css('display', 'block');
            $('#filter_by_supplier_for_product_variation').css('display', 'none');
        }
        else if (filter_value_parent == "supplier") {
            $('#filter_by_product_status_for_product_variation').css('display', 'none');
            $('#filter_by_category_for_product_variation').css('display', 'none');
            $('#filter_by_supplier_for_product_variation').css('display', 'block');
        }
        else {
            $('#form_filter_for_product_variation.custom-select').trigger("reset");
            $('#filter_by_product_status_for_product_variation').css('display', 'none');
            $('#filter_by_supplier_for_product_variation').css('display', 'none');
            $('#filter_by_category_for_product_variation').css('display', 'none');
            string_value_to_filter = "";
            filterProductVariationCommon();
        }
    });

    var string_value_to_filter = "";
    $('#filter_by_product_status_for_product_variation').on('change', function () {
        string_value_to_filter = this.value;
        filterProductVariationCommon();
    });

    $('#filter_by_category_for_product_variation').on('change', function () {
        string_value_to_filter = this.value;
        filterProductVariationCommon();
    });

    $('#filter_by_supplier_for_product_variation').on('change', function () {
        string_value_to_filter = this.value;
        filterProductVariationCommon();
    });

    $('#search_input_for_product_variation').keypress(function (e) {
        if (e.which == 13) {
            filterProductVariationCommon();
        }
    });

    function filterProductVariationCommon() {
        var search_string = $('#search_input_for_product_variation').val().trim();
        var quick_filter_value = string_value_to_filter;
        var quick_filter = $("#select_filter_product_variation option:selected").val();
        var size_of_page = $("#size_of_page_select_product_for_product_variation option:selected").val();
        var sort_list_return = $("#sort_list_product_return_select_for_product_variation option:selected").val();
        $.ajax({
            url: "/Product/IndexVariation",
            data: {
                search_string: search_string,
                page_num: 1,
                quick_filter_value: quick_filter_value,
                quick_filter: quick_filter,
                size_of_page: size_of_page,
                sort_list_return: sort_list_return,
            },
            context: document.body,
            type: "GET",
            dataType: "html",
            success: function (data) {
                $("#data_table_product_variation").html($(data).find("#data_table_product_variation"));
            },
            error: function (xhr, status) {
            },
            complete: function (xhr, status) {
            }
        });
    }

    $('#size_of_page_select_product_for_product_variation').on('change', function () {
        filterProductVariationCommon();
    });

    $('#sort_list_product_return_select_for_product_variation').on('change', function () {
        filterProductVariationCommon();
    });

    function searchProductForProductVariation() {
        filterProductVariationCommon();
    }

</script>
