@using Data;
@using Data.Providers;
@{
    ViewBag.Title = "TPA Lock - Smart Security";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];

    var list_product_newest = new ProductProvider().getNewestShowing().Take(12).ToList();
    var category_dac_biet = new CategoryProvider().getByTypeNameOnSite("Danh mục đặc biệt").FirstOrDefault();
    var list_newest_blog = new BlogProvider().getNewest().Take(6).ToList();
    var list_partner = new StorePartnerProvider().getAll();
    var list_slide = new StoreSlideProvider().getIsShowing();  
}

<!-- ======slider-area-start=========================================== -->
<div class="slider-area over-hidden">
    <div class="slider-active">
        @foreach (var slide in list_slide)
        {
            <div class="single-slider slider-height d-flex align-items-center" data-background="@urlCMS/@slide.image">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12  col-lg-6  col-md-12  col-sm-12 col-12  d-flex align-items-center position-static">
                            <div class="slider-content">
                                <span data-animation="fadeInLeft" data-delay=".7s" class="position-relative primary-color">@slide.child_text_1</span>
                                <h1 data-animation="fadeInLeft" data-delay="1s" class="pb-10">@slide.main_text</h1>
                                <p data-animation="fadeInLeft" data-delay="1.3s" class="text-white">@slide.child_text_2</p>
                                <a data-animation="fadeInLeft" data-delay="1.7s" href="@slide.link_url" class="btn mt-15">XEM CHI TIẾT</a>
                            </div>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>
        }
    </div><!-- /slider-active -->
</div>
<!-- slider-area-end=  -->
<!-- ====== feature-area-start=========================================== -->
<div class="feature-area feature-position position-relative over-hidden">
    <div class="container-wrapper">
        <div class="feature-bg bg-white mlr-15 pl-30 pr-30 pt-30 mb-10">
            <div class="row">
                <div class="col-xl-4  col-lg-4  col-md-4  col-sm-12 col-12">
                    <div class="single-feature position-relative over-hidden">
                        <img class="img-zoom" src="~/Assets/images/common/khoa-pho-thong.jpg" alt="khoa-pho-thong"/>
                        <div class="section-content section-content-position position-absolute pl-40 pt-35">
                            <span class="primary-color">Đa dạng chủng loại</span>
                            <h3 class="text-white pt-10 pb-20">Khóa Phổ Thông</h3>
                            <p class="text-white">Ưu đãi dành cho khách hàng mua lần đầu</p>
                            <a href="/collections/khoa-pho-thong" class="btn2 text-white position-relative d-inline-block pb-6">Khám Phá Ngay</a>
                        </div><!-- /section-content -->
                    </div>
                </div><!-- /col -->
                <div class="col-xl-4  col-lg-4  col-md-4  col-sm-12 col-12">
                    <div class="single-feature position-relative">
                        <img src="~/Assets/images/common/tpa-lock-banner.jpg" alt="tpa-lock-banner"/>
                        <div class="section-content section-content-position position-absolute pt-65 text-center">
                            <span class="orange-color">Thẩm Mỹ & Tinh Tế</span>
                            <h3 class="black-color pt-10 pb-30">Happy life with TPA Lock</h3>
                            <p class="black-color">Dòng sản phẩm theo xu hướng</p>
                            <div class="sale-off-img m-auto pt-30 pb-50">
                                <img src="~/Assets/images/common/tpa-text.png" alt="text"/>
                            </div>
                            <a href="/collections/xu-huong" class="btn black-color border-black">Khám phá ngay</a>
                        </div><!-- /section-content -->
                    </div>
                </div><!-- /col -->
                <div class="col-xl-4  col-lg-4  col-md-4  col-sm-12 col-12">
                    <div class="single-feature position-relative over-hidden">
                        <img class="img-zoom" src="~/Assets/images/common/khoa-cao-cap.jpg" alt="khoa-cao-cap"/>
                        <div class="section-content section-content-position position-absolute pl-40 pt-35">
                            <span class="primary-color">Kiến Trúc Sang Trọng</span>
                            <h3 class="text-white pt-10 pb-20">Khóa Cao Cấp</h3>
                            <p class="text-white">Dòng sản phẩm cao cấp nhập khẩu</p>
                            <a href="/collections/khoa-cao-cap" class="btn2 text-white position-relative d-inline-block pb-6">Khám Phá Ngay</a>
                        </div><!-- /section-content -->
                    </div>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /bg-white -->
    </div><!-- /container -->
</div>
<!-- feature-area-end -->
<!-- ====== bestseller-product-area-start================================ -->
<div class="Bestsellers Products-area over-hidden">
    <div class="container-wrapper pl-15 pr-15">
        <div class="row">
            <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                <div class="section-title text-center pt-90 pb-30">
                    <h2>Cập Nhật Mới Nhất</h2>
                    <p>Những sản phẩm mới được TPA Lock đưa đến tay người tiêu dùng. Được cập nhật thường xuyên.</p>
                </div><!-- /section-title -->
            </div><!-- /col -->
        </div><!-- /row -->
        <div class="row">
            @foreach (var product in list_product_newest)
            {
                <div class="col-xl-2  col-lg-2  col-md-3  col-sm-6 col-12 mb-40">
                    <div class="single-product bg-white position-relative pb-30">
                        <div class="single-product-img position-relative">
                            <a href="/@product.seo_alias"><img class="height100" src="@urlCMS/@product.product_image" alt="@product.alt_image"></a>
                            <div class="single-product-hover-img position-absolute">
                                @{ var img_more = new ImageMoreProvider().get1ByProductId(product.product_id);}
                                @if (img_more != null)
                                {
                                    <a href="/@product.seo_alias"><img class="height100" src="@urlCMS/@img_more.image_more_url" alt="@img_more.image_more_alt"></a>
                                }
                            </div><!-- /single-product-hover-img -->
                        </div><!-- /single-product-img -->

                        <h5 class="product-name pt-20 pl-20"><a href="/@product.seo_alias">@product.product_name</a></h5>
                        <div class="product-price pl-20">
                            @if (product.price > 0)
                            {
                                <span class="old-price">
                                    <del class="showNumeric">@product.price</del>
                                </span>
                            }
                            <span class="black-color showNumeric">@product.promotion_price</span>
                        </div>
                    </div><!-- /single-product -->
                </div><!-- /col -->
            }


        </div><!-- /row -->
        
    </div><!-- /container -->
</div>
<!-- product-area-end  -->
<!-- ====== product-offer-area-start ==================================== -->
<div class="product-offer-area product-offer-height pl-15 pr-15 pt-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12 pb-20">
                <div class="single-feature position-relative over-hidden">
                    <img class="img-zoom" src="../Assets/images/feature/product-offer-left-img.jpg" alt="">
                    <div class="section-content section-content-position position-absolute pl-90 pt-110">
                        <span class="primary-color">Ends Today</span>
                        <h3 class="text-white pt-10 pb-30">Elements Of Style</h3>
                        <p class="text-white">USB Powered LED Lights – Use it Anywhere!</p>
                        <a href="single-product.html" class="btn2 text-white position-relative d-inline-block pt-45 pb-6">Explore Items</a>
                    </div><!-- /section-content -->
                </div>
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /container -->
</div>
<!-- product-offer-area-end  -->
<!-- ====== Sale-Products-area-start ==================================== -->
@if (category_dac_biet != null)
{
    <div class="Sale-product-area over-hidden">
        <div class="container-wrapper">
            <div class="row">
                <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                    <div class="section-title text-center pt-80 pb-10">
                        <h2>Xu hướng được lựa chọn</h2>
                        <p>Các sản phẩm được lựa chọn nhiều nhất.</p>
                    </div><!-- /section-title -->
                </div><!-- /col -->
            </div><!-- /row -->
            <div class="Sale-Products-active">
                @{ var list_product_dac_biet = new ProductProvider().getByCategoryIdOnSite(category_dac_biet.category_id).Take(12).ToList();}
                @foreach (var product in list_product_dac_biet)
                {
                    <div class="row pl-10 pr-10 pt-25">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-40">
                            <div class="single-product bg-white position-relative pb-30">
                                <div class="single-product-img position-relative">
                                    <a href="/@product.seo_alias"><img class="height100" src="@urlCMS/@product.product_image" alt="@product.alt_image"></a>
                                    <div class="single-product-hover-img position-absolute">
                                        @{ var img_more = new ImageMoreProvider().get1ByProductId(product.product_id);}
                                        @if (img_more != null)
                                        {
                                            <a href="/@product.seo_alias"><img class="height100" src="@urlCMS/@img_more.image_more_url" alt="@img_more.image_more_alt"></a>
                                        }
                                    </div><!-- /single-product-hover-img -->
                                </div><!-- /single-product-img -->

                                <h5 class="product-name pt-20 pl-20"><a href="/@product.seo_alias">@product.product_name</a></h5>
                                <div class="product-price pl-20">
                                    @if (product.price > 0)
                                    {
                                        <span class="old-price">
                                            <del class="showNumeric">@product.price</del>
                                        </span>
                                    }
                                    <span class="black-color showNumeric">@product.promotion_price</span>
                                </div>
                            </div><!-- /single-product -->
                        </div><!-- /col -->
                    </div><!-- /row -->
                }
            </div><!-- /sale-product-active -->
            <div class="row">
                <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                    <div class="section-button text-center pt-10">
                        <a href="/collections/@category_dac_biet.seo_alias" class="btn black-color border-black">Xem Thêm Xu Hướng</a>
                    </div><!-- /section-title -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
}

<!-- Sale-Products-area-end  -->
<!-- ====== blog-area-start=============================================== -->
<div class="blog-area pb-60 over-hidden">
    <div class="container-wrapper">
        <div class="row">
            <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                <div class="section-title text-center pt-40 pb-30">
                    <h2>Dự án của TPA Lock</h2>
                    <p>Một số dự án đã triển khai cho khách hàng và đối tác.</p>
                </div><!-- /section-title -->
            </div><!-- /col -->
        </div><!-- /row -->
        <div class="blog-active">
            @foreach (var blog in list_newest_blog)
            {
                <div class="row pl-15 pr-15">
                    <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12">
                        <div class="single-blog-box mb-40 position-relative">
                            <a href="/blogs/@blog.blog_seo_alias">
                                <img class="width100" src="@urlCMS/@blog.blog_image" alt="@blog.blog_alt_image">
                            </a>

                            <div class="single-box-content position-absolute">
                                <div class="single-box-text position-absolute pr-40 pt-40 pb-40 pl-40">
                                    <div class="single-blog-box-hover">
                                        <ul class="blog-tag d-flex pb-10">
                                            <li><a class="text-white bg-transparent d-inline-block pl-0">@blog.blog_category.blog_category_name</a></li>
                                        </ul>
                                        <h5><a class="text-white d-block" href="/blogs/@blog.blog_seo_alias">@blog.blog_title</a></h5>
                                    </div>
                                    <ul class="blog-post-data d-flex">
                                        <li class="post-view pr-25 text-white"><span class="icon-eye pr-1"></span>Views</li>
                                        <li class="post-comments text-white"><span><i class="far fa-comment"></i></span> Comments</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- /col -->
                </div>
            }
            
        </div><!-- /blog-active -->
    </div><!-- /container -->
</div>
<!-- blog-area-end -->
<!-- ====== blog-area-start=============================================== -->
<div class="brand-logo-area">
    <div class="container-wrapper pl-15 pr-15">
        <div class="brand-active border-gray-top">
            @foreach (var partner in list_partner)
            {
                <div class="single-brand pt-85 pb-85 pl-15 pr-15 d-flex justify-content-center" style="width: 150px;">
                    <img src="@urlCMS/@partner.image" alt="@partner.alt">
                </div>
            }
        </div><!-- /brand-active -->
    </div><!-- /container -->
</div>
<!-- brand-logo-area-end  -->
<!-- ====== instagram-area-start ========================================= -->
<div class="instagram-img-area over-hidden">
    <div class="row">
        <div class="col-xl-2  col-lg-2  col-md-2  col-sm-2 col-6 p-0">
            <div class="instagram-img">
                <img src="../Assets/images/instragram/instragram-img1.jpg" alt="">
            </div>
        </div><!-- /col -->
        <div class="col-xl-2  col-lg-2  col-md-2  col-sm-2 col-6 p-0">
            <div class="instagram-img">
                <img src="../Assets/images/instragram/instragram-img2.jpg" alt="">
            </div>
        </div><!-- /col -->
        <div class="col-xl-2  col-lg-2  col-md-2 col-sm-2 col-6 p-0">
            <div class="instagram-img">
                <img src="../Assets/images/instragram/instragram-img3.jpg" alt="">
            </div>
        </div><!-- /col -->
        <div class="col-xl-2  col-lg-2  col-md-2  col-sm-2 col-6 p-0">
            <div class="instagram-img">
                <img src="../Assets/images/instragram/instragram-img4.jpg" alt="">
            </div>
        </div><!-- /col -->
        <div class="col-xl-2  col-lg-2  col-md-2  col-sm-2 col-6 p-0">
            <div class="instagram-img">
                <img src="../Assets/images/instragram/instragram-img5.jpg" alt="">
            </div>
        </div><!-- /col -->
        <div class="col-xl-2  col-lg-2  col-md-2  col-sm-2 col-6 p-0">
            <div class="instagram-img">
                <img src="../Assets/images/instragram/instragram-img1.jpg" alt="">
            </div>
        </div><!-- /col -->
    </div><!-- /row -->
</div>
<!-- instagram-area-end  -->

<script>
    $(document).ready(function () {
        $('.header-area').removeClass('white-bg border-bottom');
        $('.header').removeClass('header-2 position-relative');
        $('.header').addClass('position-absolute');
    });
</script>