@model Data.transport
@using Data;
@using Data.Providers;
@{
    ViewBag.Title = "Chi tiết vận chuyển #T" + Model.transport_id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var current_datetime = System.DateTime.Now;
}

<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>
                    Mã vận chuyển <span>#T</span>@Model.transport_id /
                    <strong>
                        Cập nhật bởi <span class="text-info" id="text_header_user_update">@Model.user.username</span>
                        lúc
                        @if (Model.update_datetime.Value.Date == current_datetime.Date)
                        {
                            <span id="text_header_datetime_update">Hôm nay @Model.update_datetime.Value.ToString("HH:mm")</span>
                        }
                        else if (Model.update_datetime.Value.Date == current_datetime.Date.AddDays(1))
                        {
                            <span id="text_header_datetime_update">Ngày mai @Model.update_datetime.Value.ToString("HH:mm")</span>
                        }
                        else if (Model.update_datetime.Value.Date == current_datetime.Date.AddDays(-1))
                        {
                            <span id="text_header_datetime_update">Hôm qua @Model.update_datetime.Value.ToString("HH:mm")</span>
                        }
                        else
                        {
                            <span id="text_header_datetime_update">Ngày @Model.update_datetime.Value.ToString("dd/M/yyyy") @Model.update_datetime.Value.ToString("HH:mm")</span>
                        }

                    </strong>
                </h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            Vận chuyển
                        </li>
                        <li class="breadcrumb-item">
                            Tình hình vận chuyển
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page"><span>#T</span>@Model.transport_id</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>

<div class="gr-btn-action row">
    <div class="btn-group-left col-md-6">
        <div class="btn-group mb-2 mr-2 mb-xl-0 mr-xl-0">
            <button type="button" class="btn btn-square btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-truck"></i>&nbsp;&nbsp; Cập nhật trạng thái vận chuyển
            </button>
            <div class="dropdown-menu">
                @foreach (var ss in ViewData["ListShippingStatus"] as List<shipping_status>)
                {
                    if (ss.shipping_status_id == Model.shipping_status_id)
                    {
                        <a class="dropdown-item disabled" href="javascript:void(0)" id="ss_@ss.shipping_status_id">@ss.shipping_status_description</a>
                        <div class="dropdown-divider"></div>
                    }
                    else
                    {
                        <a class="dropdown-item" href="javascript:void(0)" id="ss_@ss.shipping_status_id" onclick="updateShippingStatus('@ss.shipping_status_id')">@ss.shipping_status_description</a>
                        <div class="dropdown-divider"></div>
                    }
                }

            </div>
        </div>
        <div class="btn-group mb-2 mr-2 mb-xl-0 mr-xl-0">
            <button type="button" class="btn btn-square btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-credit-card"></i>&nbsp;&nbsp; Cập nhật trạng thái thu hộ (COD)
            </button>
            <div class="dropdown-menu">
                @if (Model.get_money_status_id == true)
                {
                    <a class="dropdown-item disabled" href="javascript:void(0)">Đã nhận tiền</a>
                }
                else
                {
                    <a class="dropdown-item" id="got_money_cod" href="javascript:void(0)" onclick="updateGetMoneyCODStatus()">Đã nhận tiền</a>
                }
                <div class="dropdown-divider"></div>
                @if (Model.compare_waybill_code_status == true)
                {
                    <a class="dropdown-item disabled" href="javascript:void(0)">Đã đối soát</a>
                }
                else
                {
                    <a class="dropdown-item" id="compared_waybill" href="javascript:void(0)" onclick="updateCompareWaybill()">Đã đối soát</a>
                }

            </div>
        </div>
    </div>
    <div class="btn-group-right col-md-6" style="text-align: right">
        <div class="card-heading">

        </div>
    </div>

    @foreach (var ss in ViewData["ListShippingStatus"] as List<shipping_status>)
    {
        <div class="modal fade hide in" data-keyboard="false" data-backdrop="static" id="modalConfirmUpdateShippingStatus_@ss.shipping_status_id" tabindex="-1" role="dialog" aria-labelledby="defaultModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xác nhận <span class="text_shipping_status"></span>?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Bạn có chắc chắn xác nhận <a class="text_shipping_status"></a> cho phiếu giao hàng này?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-success" onclick="confirmUpdateShippingStatus('@ss.shipping_status_id')">Xác nhận <span class="text_shipping_status"></span></button>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="modal fade hide in" data-keyboard="false" data-backdrop="static" id="modalConfirmUpdateGetMoneyCODStatus" tabindex="-1" role="dialog" aria-labelledby="defaultModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận đã nhận tiền COD?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn xác nhận đã nhận tiền COD cho phiếu giao hàng này?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-success" onclick="confirmUpdateGetMoneyCODStatus('@Model.transport_id')">Xác nhận đã nhận tiền COD</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade hide in" data-keyboard="false" data-backdrop="static" id="modalConfirmUpdateCompareWaybill" tabindex="-1" role="dialog" aria-labelledby="defaultModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận đã đối soát tiền với nhà vận chuyển?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn xác nhận đối soát tiền với nhà vận chuyển cho phiếu giao hàng này?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-success" onclick="confirmUpdateCompareWaybill('@Model.transport_id')">Xác nhận đã đối soát</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xxl-8">
        <div class="card card-statistics">
            <div class="card-header">
                <h4 class="card-title">Thông tin đơn hàng</h4>
            </div>
            <div class="card-body">

                @*div append*@
                <div id="div_list_product_selected">
                    <div class="div_product_selected">
                        <div class="table-responsive">
                            <table class="table table-borderless table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width:5%;"></th>
                                        <th scope="col" style="width:10%;"></th>
                                        <th scope="col" style="width:30%;">
                                            Tên sản phẩm
                                        </th>
                                        <th scope="col" style="width:15%;">
                                            Giá
                                        </th>
                                        <th scope="col" style="width:15%; text-align:center">
                                            Số lượng
                                        </th>
                                        <th scope="col" style="width:10%;">
                                            Đơn vị
                                        </th>
                                        <th scope="col" style="width:15%;">
                                            Tổng giá từng sản phẩm
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="table_list_product_selected">
                                    @if (ViewData["ListProductVariationInOrder"] != null)
                                    {
                                        foreach (var pv in ViewData["ListProductVariationInOrder"] as List<product_variation_in_order>)
                                        {
                                            <tr id="" class="">
                                                <td><a class="text-success"><i class="fa fa-truck"></i></a></td>
                                                <td scope="row" class="">
                                                    <img src="@pv.product_variation_image" class="img-fluid bg-img img_product_in_order">&nbsp;
                                                </td>
                                                <td style="white-space: unset" id="">
                                                    <a target="_blank" href="/Product/ProductDetail?id=@(new ProductProvider().getProductIdByProductVariationId((long)pv.product_variation_id))" class="text-primary font-bold">
                                                        @pv.product_name
                                                    </a><br>
                                                    <small class="text-info">@pv.product_variation_name</small>
                                                </td>
                                                <td id="" class="showNumeric">@pv.product_variation_price</td>
                                                <td align="center">@pv.product_variation_quantity</td>
                                                <td>(@pv.unit_name)</td>
                                                <td class="showNumeric" id="">@(pv.product_variation_price * pv.product_variation_quantity)</td>
                                            </tr>
                                        }
                                    }
                                    @if (ViewData["ListCustomProductInOrder"] != null)
                                    {
                                        foreach (var cp in ViewData["ListCustomProductInOrder"] as List<custom_product_in_order>)
                                        {
                                            <tr id="" class="">
                                                <td><a class="text-success"><i class="fa fa-truck"></i></a></td>
                                                <td scope="row" class="">
                                                    <img src="../Assets/images/Icon/iconImg.png" style="background-color: #ccc" class="img-fluid bg-img img_product_in_order">&nbsp;
                                                </td>
                                                <td style="white-space: unset" id="">
                                                    <a class="text-primary font-bold">
                                                        @cp.custom_product_in_order_name
                                                    </a><br>
                                                </td>
                                                <td id="" class="showNumeric">@cp.custom_product_in_order_price</td>
                                                <td align="center">@cp.custom_product_in_order_quantity</td>
                                                <td>(@cp.unit_name)</td>
                                                <td class="showNumeric" id="">@(cp.custom_product_in_order_quantity * cp.custom_product_in_order_price)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="row" id="div_info_detail_order">
                    <div class="col-md-8">
                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <td class="font-bold" width="30%">Khối lượng gói hàng (kg):</td>
                                        <td id="" width="70%">@Model.package_weight</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Dài x Rộng x Cao (cm):</td>
                                        <td id="">@Model.package_lenght <i class="fa fa-times"></i> @Model.package_width <i class="fa fa-times"></i> @Model.package_height</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Ghi chú vận chuyển:</td>
                                        @if (Model.allow_check_product == true)
                                        {
                                            <td style="white-space:unset">
                                                @Model.transport_description <br />
                                                <span class="text-danger"><strong>Được phép</strong> kiểm tra sản phẩm trước khi nhận</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="white-space:unset">
                                                @Model.transport_description
                                                <br />
                                                <span class="text-danger"><strong>Không được phép</strong> kiểm tra sản phẩm trước khi nhận</span>
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <td class="font-bold" width="30%">Tiền thu hộ (COD):</td>
                                        @if (ViewBag.Order.payment_method_id == 3)
                                        {
                                            <td class="showNumeric" width="70%">@Model.get_cost_cod</td>
                                        }
                                        else
                                        {
                                            <td width="70%"><span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-secondary-inverse">Không thu</span></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td class="font-bold" width="30%">Phí vận chuyển:</td>
                                        <td class="showNumeric" width="70%" id="show_text_shipping_fee">@Model.shipping_fee</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="line_div"></div>
                <div>
                    <a href="javascript:void(0);" class="btn btn-primary" onclick="openModalUpdateShippingFee()">Cập nhật phí vận chuyển</a>
                    <a href="javascript:void(0);" class="btn btn-primary" onclick="openModalUpdateWaybillCode()">Cập nhật mã vận đơn</a>
                    <a href="javascript:void(0);" class="btn btn-info" onclick="print()"><i class="fa fa-print"></i>&nbsp;&nbsp; In vận đơn</a>
                </div>
            </div>
        </div>

        <div id="data_transport_log">
            @Html.Action("GetTransportLog", "Transport", new { transport_id = Model.transport_id })
        </div>
        

    </div>


    <div class="col-xxl-4">
        <div>
            <div class="card mb-0 o-hidden">
                <div class="card-header">
                    <div class="card-heading">
                        <h4 class="card-title">Thông tin phiếu vận chuyển</h4>
                    </div>
                </div>
                <div class="card-body selects-contant-boots">
                    <div class="table-responsive" id="">
                        <table class="table table-borderless mb-0">
                            <tbody>
                                <tr>
                                    <td class="font-bold">Mã đơn hàng:</td>
                                    <td><a href="/Order/OrderDetail?id=@Model.order_id" class="text-primary">#@Model.order_id</a></td>
                                </tr>
                                <tr>
                                    <td class="font-bold">Nhà vận chuyển:</td>
                                    <td>@Model.transport_service</td>
                                </tr>
                                <tr>
                                    <td class="font-bold">Mã vận đơn:</td>
                                    <td id="show_text_waybill_code">@Model.waybill_code</td>
                                </tr>
                                <tr>
                                    <td class="font-bold">Phương thức vận chuyển:</td>
                                    <td>@Model.transport_method</td>
                                </tr>
                                <tr>
                                    <td class="font-bold">Trạng thái thu hộ (COD):</td>
                                    @if (ViewBag.Order.payment_method_id == 4)
                                    {
                                        <td id=""><span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-secondary-inverse">Không thu</span></td>
                                    }
                                    else
                                    {
                                        if (Model.get_money_status_id == true)
                                        {
                                            <td id="show_text_get_money_cod_satatus"><span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-success-inverse">Đã nhận</span></td>
                                        }
                                        else
                                        {
                                            <td id="show_text_get_money_cod_satatus"><span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-warning-inverse">Chưa nhận</span></td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td class="font-bold">Trạng thái vận chuyển:</td>
                                    @if (Model.shipping_status_id == 1 || Model.shipping_status_id == 2)
                                    {
                                        <td id="show_text_shipping_status_name"><span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-info-inverse">@Model.shipping_status.shipping_status_description</span></td>
                                    }
                                    else if (Model.shipping_status_id == 3)
                                    {
                                        <td id="show_text_shipping_status_name"><span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-success-inverse">@Model.shipping_status.shipping_status_description</span></td>
                                    }
                                    else if (Model.shipping_status_id == 4 || Model.shipping_status_id == 5)
                                    {
                                        <td id="show_text_shipping_status_name"><span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-warning-inverse">@Model.shipping_status.shipping_status_description</span></td>
                                    }
                                    else
                                    {
                                        <td id="show_text_shipping_status_name"><span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-danger-inverse">@Model.shipping_status.shipping_status_description</span></td>
                                    }
                                </tr>
                                <tr>
                                    <td class="font-bold">Trạng thái đối soát:</td>
                                    @if (ViewBag.Order.payment_method_id == 4)
                                    {
                                        <td id=""><span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-secondary-inverse">Không đối soát</span></td>
                                    }
                                    else
                                    {
                                        if (Model.compare_waybill_code_status == true)
                                        {
                                            <td id="show_text_compare_waybill_satatus"><span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-success-inverse">Đã đối soát</span></td>
                                        }
                                        else
                                        {
                                            <td id="show_text_compare_waybill_satatus"><span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-warning-inverse">Chưa đối soát</span></td>
                                        }
                                    }

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="cardRightBottom">
            <div class="card mb-0 o-hidden">
                <div class="card-header">
                    <div class="card-heading">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title">Thông tin khách hàng</h4>
                            </div>
                            <div class="col-md-4 div-card-title-right"></div>
                        </div>
                    </div>
                </div>
                <div class="card-body selects-contant-boots" id="column_right_select_customer">
                    @if (ViewBag.Customer == null)
                    {
                        <div id="div_customer_null">
                            <img class="img_column_right" src="~/Assets/images/image_system/order_img1.png" />
                            <h5>Chưa có khách hàng nào được chọn</h5>
                        </div>
                    }
                    else
                    {
                        <div class="contact-contant" id="div_contact_customer_selected">
                            <div class="py-4">
                                <div class="d-flex align-items-center">
                                    <div class="bg-img avatar_profile_customer">
                                        <img src="~/Assets/img/avatar/AvatarCustomerProfile.png" class="img-fluid" />
                                    </div>
                                    <div class="ml-3">
                                        <h4 class="mb-0">
                                            @if (ViewBag.Customer.customer_first_name == null && ViewBag.Customer.customer_last_name == null)
                                            {
                                                <a target="_blank" href="/Customer/CustomerDetail?id=@ViewBag.Customer.customer_id" class="text-primary" id="info_customer_fullname">
                                                    @ViewBag.Customer.customer_email
                                                </a>
                                            }
                                            else
                                            {
                                                <a target="_blank" href="/Customer/CustomerDetail?id=@ViewBag.Customer.customer_id" class="text-primary" id="info_customer_fullname">
                                                    @ViewBag.Customer.customer_first_name @ViewBag.Customer.customer_last_name
                                                </a>
                                            }
                                        </h4>
                                        <h4><span class="badge badge-info-inverse px-2 py-1 mt-1"><i class="fa fa-bookmark"></i>&nbsp;&nbsp; <span><a id="info_number_of_order">@ViewBag.NumberOfOrderCustomer</a> đơn hàng</span></span></h4>
                                    </div>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <ul class="nav">
                                                <li class="nav-item">
                                                    <div class="img-icon"><i class="fa fa-envelope-o"></i></div>
                                                </li>
                                                <li class="nav-item">
                                                    <a id="info_customer_email">@ViewBag.Customer.customer_email</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4" id="div_icon_edit_email_in_order">
                                            @*<a onclick="editEmailInOrder()" class="tooltip-wrapper card-title text-primary" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Sửa Email" href="javascript:void(0)" id=""><i class="icon_nav fa fa-edit"></i></a>*@
                                        </div>
                                    </div>

                                    <ul class="nav">
                                        <li class="nav-item">
                                            <div class="img-icon"><i class="fa fa-phone"></i></div>
                                        </li>
                                        <li class="nav-item">
                                            <a id="info_customer_phone_number">@ViewBag.Customer.customer_phone_number</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

        <div class="cardRightBottom" id="card_delivery_address">
            <div class="card mb-0 o-hidden">
                <div class="card-header">
                    <div class="card-heading">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title">Địa chỉ giao hàng</h4>
                            </div>
                            <div class="col-md-4 div-card-title-right">
                                <a target="_blank" href="https://goo.gl/maps/jiK5e6g5HbAFMcNM6" class="btn btn-icon btn-xs btn-inverse-primary" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Xem bản đồ địa chỉ giao hàng"><i class="font-15 ti ti-location-pin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body selects-contant-boots">
                    @if (ViewBag.DeliveryAddress != null)
                    {
                        <div class="table-responsive" id="table_delivery_address">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <td class="font-bold">Họ Tên:</td>
                                        <td><span id="text_firstname">@ViewBag.DeliveryAddress.first_name</span> <span id="text_lastname">@ViewBag.DeliveryAddress.last_name</span></td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Điện thoại:</td>
                                        <td id="text_phone_number">@ViewBag.DeliveryAddress.phone_number</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Tỉnh/Thành phố:</td>
                                        @if (ViewBag.DeliveryAddress.province_id != null)
                                        {
                                            <td id="text_province">@ViewBag.DeliveryAddress.province.Name</td>
                                            <td id="text_province_id" class="hidden_element">@ViewBag.DeliveryAddress.province_id</td>
                                        }
                                        else
                                        {
                                            <td id="text_province"></td>
                                            <td id="text_province_id" class="hidden_element"></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Quận/Huyện/Thị xã:</td>
                                        @if (ViewBag.DeliveryAddress.district_id != null)
                                        {
                                            <td id="text_district">@ViewBag.DeliveryAddress.district.Name</td>
                                            <td id="text_district_id" class="hidden_element">@ViewBag.DeliveryAddress.district_id</td>
                                        }
                                        else
                                        {
                                            <td id="text_district"></td>
                                            <td id="text_district_id" class="hidden_element"></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Xã/Phường/Thị trấn:</td>
                                        @if (ViewBag.DeliveryAddress.ward_id != null)
                                        {
                                            <td id="text_ward">@ViewBag.DeliveryAddress.ward.Name</td>
                                            <td id="text_ward_id" class="hidden_element">@ViewBag.DeliveryAddress.ward_id</td>
                                        }
                                        else
                                        {
                                            <td id="text_ward"></td>
                                            <td id="text_ward_id" class="hidden_element"></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Địa chỉ chi tiết:</td>
                                        <td id="text_address_detail">@ViewBag.DeliveryAddress.address_detail</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p>Chưa có thông tin</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hide in" data-keyboard="false" data-backdrop="static" id="modalUpdateShippingFee" tabindex="-1" role="dialog" aria-labelledby="defaultModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật phí vận chuyển</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label" for="product_price_promotion">Phí vận chuyển</label>
                        <div class="mb-2">
                            <input value="@Model.shipping_fee" type="text" class="form-control autoNumericInput" id="shipping_fee" name="shipping_fee" placeholder="Nhập phí vận chuyển">
                            <div class="invalid-feedback" id="shipping_fee_feedback">
                                Yêu cầu nhập phí vận chuyển.
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-success" onclick="confirmUpdateShippingFee('@Model.transport_id')">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hide in" data-keyboard="false" data-backdrop="static" id="modalUpdateWaybillCode" tabindex="-1" role="dialog" aria-labelledby="defaultModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật mã vận đơn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label" for="product_price_promotion">Mã vận đơn</label>
                        <div class="mb-2">
                            <input value="@Model.waybill_code" type="text" class="form-control" id="waybill_code" name="waybill_code" placeholder="Nhập mã vận đơn">
                            <div class="invalid-feedback" id="waybill_code_feedback">
                                Yêu cầu nhập mã vận đơn.
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-success" onclick="confirmUpdateWaybillCode('@Model.transport_id')">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#shipping_service').addClass('active');
        $('#transport_status').addClass('active');

        $('form').trigger('reset');

    });
    function updateShippingStatus(shipping_status_id) {
        var shipping_status_name = $('#ss_' + shipping_status_id).text();
        $('.text_shipping_status').text(shipping_status_name.toLowerCase());
        $('#modalConfirmUpdateShippingStatus_' + shipping_status_id).modal('show');
    }

    var shipping_status_id_before = 0;
    function confirmUpdateShippingStatus(shipping_status_id) {
        $.ajax({
            url: "/Transport/UpdateShippingStatus",
            data: {
                transport_id: @Model.transport_id,
                shipping_status_id: shipping_status_id,
            },
            context: document.body,
            type: "POST",
            dataType: "html",
            beforeSend: function () {

            },
            success: function (data) {
                $('#ss_' + shipping_status_id).addClass('disabled');
                $('#ss_' + shipping_status_id).prop("onclick", null).off("click");

                var shipping_status_name = JSON.parse(data).shipping_status_name;
                $('#show_text_shipping_status_name').empty();
                if (shipping_status_id == 1 || shipping_status_id == 2) {
                    $('#show_text_shipping_status_name').append('<span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-info-inverse">' + shipping_status_name + '</span>');
                }
                else if (shipping_status_id == 3) {
                    $('#show_text_shipping_status_name').append('<span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-success-inverse">' + shipping_status_name + '</span>');
                }
                else if (shipping_status_id == 4 || shipping_status_id == 5) {
                    $('#show_text_shipping_status_name').append('<span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-warning-inverse">' + shipping_status_name + '</span>');
                }
                else {
                    $('#show_text_shipping_status_name').append('<span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-danger-inverse">' + shipping_status_name + '</span>');
                }

                var now_update = new Date();
                var current_time_upadate = now_update.getHours() + ':' + now_update.getMinutes();
                if (now_update.getMinutes().toString().length == 1) {
                    current_time_upadate = now_update.getHours() + ':0' + now_update.getMinutes();
                }
                $('#text_header_datetime_update').text("Hôm nay " + current_time_upadate);
                updateTransportLog(@Model.transport_id);
                showToast("success", "Trạng thái vận chuyển đã được cập nhật.", "Cập nhật thành công");
                $('#modalConfirmUpdateShippingStatus_' + shipping_status_id).modal('hide');
            },
            error: function (xhr, status) {
                showToast("error", "Vui lòng kiểm tra lại dữ liệu vừa nhập.", "Lỗi");
            },
            complete: function (xhr, status) {

            }
        });
    }

    function updateGetMoneyCODStatus() {
        $('#modalConfirmUpdateGetMoneyCODStatus').modal('show');
    }

    function confirmUpdateGetMoneyCODStatus(transport_id) {
        if(@ViewBag.Order.payment_method_id == 4) {
            showToast("error", "Đơn hàng này không thu tiền COD.", "Lưu ý");
            $('#modalConfirmUpdateGetMoneyCODStatus').modal('hide');
        } else {
            $.ajax({
                url: "/Transport/UpdateGetMoneyCODStatus",
                data: {
                    transport_id: transport_id,
                },
                context: document.body,
                type: "POST",
                dataType: "html",
                beforeSend: function () {

                },
                success: function (data) {
                    $('#got_money_cod').addClass('disabled');
                    $("#got_money_cod").prop("onclick", null).off("click");

                    $('#show_text_get_money_cod_satatus').empty();
                    $('#show_text_get_money_cod_satatus').append('<span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-success-inverse">Đã nhận</span>');
                    showToast("success", "Trạng thái thu hộ COD đã được cập nhật.", "Cập nhật thành công");

                    data_json = JSON.parse(data);
                    $('#text_header_user_update').text(data_json.user_update);

                    var now_update = new Date();
                    var current_time_upadate = now_update.getHours() + ':' + now_update.getMinutes();
                    if (now_update.getMinutes().toString().length == 1) {
                        current_time_upadate = now_update.getHours() + ':0' + now_update.getMinutes();
                    }
                    $('#text_header_datetime_update').text("Hôm nay " + current_time_upadate);
                    updateTransportLog(@Model.transport_id);
                    $('#modalConfirmUpdateGetMoneyCODStatus').modal('hide');
                },
                error: function (xhr, status) {
                    showToast("error", "Vui lòng kiểm tra lại dữ liệu vừa nhập.", "Lỗi");
                },
                complete: function (xhr, status) {

                }
            });
        }
    }

    function updateCompareWaybill() {
        $('#modalConfirmUpdateCompareWaybill').modal('show');
    }

    function confirmUpdateCompareWaybill(transport_id) {
        if(@ViewBag.Order.payment_method_id == 4) {
            showToast("error", "Đơn hàng này không thu tiền COD.", "Lưu ý");
            $('#modalConfirmUpdateCompareWaybill').modal('hide');
        } else {
            $.ajax({
                url: "/Transport/UpdateCompareWaybill",
                data: {
                    transport_id: transport_id,
                },
                context: document.body,
                type: "POST",
                dataType: "html",
                beforeSend: function () {

                },
                success: function (data) {
                    $('#compared_waybill').addClass('disabled');
                    $("#compared_waybill").prop("onclick", null).off("click");

                    $('#show_text_compare_waybill_satatus').empty();
                    $('#show_text_compare_waybill_satatus').append('<span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-success-inverse">Đã đối soát</span>');
                    showToast("success", "Trạng thái đối soát đã được cập nhật.", "Cập nhật thành công");

                    data_json = JSON.parse(data);
                    $('#text_header_user_update').text(data_json.user_update);

                    var now_update = new Date();
                    var current_time_upadate = now_update.getHours() + ':' + now_update.getMinutes();
                    if (now_update.getMinutes().toString().length == 1) {
                        current_time_upadate = now_update.getHours() + ':0' + now_update.getMinutes();
                    }
                    $('#text_header_datetime_update').text("Hôm nay " + current_time_upadate);
                    updateTransportLog(@Model.transport_id);
                    $('#modalConfirmUpdateCompareWaybill').modal('hide');
                },
                error: function (xhr, status) {
                    showToast("error", "Vui lòng kiểm tra lại dữ liệu vừa nhập.", "Lỗi");
                },
                complete: function (xhr, status) {

                }
            });
        }
    }

    function openModalUpdateShippingFee() {
        $('#modalUpdateShippingFee').modal('show');
    }

    function confirmUpdateShippingFee(transport_id) {
        var shipping_fee = $('#shipping_fee').autoNumeric('get');
        if (shipping_fee == "" || shipping_fee == null) {
            $('#shipping_fee_feedback').css({display: 'block'});
            $('#shipping_fee').addClass('is-invalid');
            showToast("error", "Phí vận chuyển không được để trống.", "Lỗi");
        } else {
            $('#shipping_fee_feedback').css({ display: 'none' });
            $('#shipping_fee').removeClass('is-invalid');

            $.ajax({
                url: "/Transport/UpdateShippingFee",
                data: {
                    transport_id: transport_id,
                    shipping_fee: shipping_fee
                },
                context: document.body,
                type: "POST",
                dataType: "html",
                beforeSend: function () {

                },
                success: function (data) {
                    $('#show_text_shipping_fee').autoNumeric('set', shipping_fee);
                    showToast("success", "Phí vận chuyển đã được cập nhật.", "Cập nhật thành công");

                    data_json = JSON.parse(data);
                    $('#text_header_user_update').text(data_json.user_update);
                    var now_update = new Date();
                    var current_time_upadate = now_update.getHours() + ':' + now_update.getMinutes();
                    if (now_update.getMinutes().toString().length == 1) {
                        current_time_upadate = now_update.getHours() + ':0' + now_update.getMinutes();
                    }
                    $('#text_header_datetime_update').text("Hôm nay " + current_time_upadate);
                    updateTransportLog(@Model.transport_id);
                    $('#modalUpdateShippingFee').modal('hide');
                },
                error: function (xhr, status) {
                    showToast("error", "Vui lòng kiểm tra lại dữ liệu vừa nhập.", "Lỗi");
                },
                complete: function (xhr, status) {

                }
            });
        }
    }

    function openModalUpdateWaybillCode() {
        $('#modalUpdateWaybillCode').modal('show');
    }

    function confirmUpdateWaybillCode(transport_id) {
        var waybill_code = $('#waybill_code').val();
        if (waybill_code == "" || waybill_code == null) {
            $('#waybill_code_feedback').css({ display: 'block' });
            $('#waybill_code').addClass('is-invalid');
            showToast("error", "Mã vận đơn không được để trống.", "Lỗi");
        } else {
            $('#waybill_code_feedback').css({ display: 'none' });
            $('#waybill_code').removeClass('is-invalid');

            $.ajax({
                url: "/Transport/UpdateWaybillCode",
                data: {
                    transport_id: transport_id,
                    waybill_code: waybill_code
                },
                context: document.body,
                type: "POST",
                dataType: "html",
                beforeSend: function () {

                },
                success: function (data) {
                    $('#show_text_waybill_code').text(waybill_code);
                    showToast("success", "Mã vận đơn đã được cập nhật.", "Cập nhật thành công");

                    data_json = JSON.parse(data);
                    $('#text_header_user_update').text(data_json.user_update);
                    var now_update = new Date();
                    var current_time_upadate = now_update.getHours() + ':' + now_update.getMinutes();
                    if (now_update.getMinutes().toString().length == 1) {
                        current_time_upadate = now_update.getHours() + ':0' + now_update.getMinutes();
                    }
                    $('#text_header_datetime_update').text("Hôm nay " + current_time_upadate);
                    updateTransportLog(@Model.transport_id);
                    $('#modalUpdateWaybillCode').modal('hide');
                },
                error: function (xhr, status) {
                    showToast("error", "Vui lòng kiểm tra lại dữ liệu vừa nhập.", "Lỗi");
                },
                complete: function (xhr, status) {

                }
            });
        }
    }

    function updateTransportLog(transport_id) {
        $.ajax({
            url: '@Url.Action("GetTransportLog", "Transport")',
            context: document.body,
            type: "POST",
            dataType: "html",
            data: { transport_id: transport_id },
            success: function (result) {
                $('#data_transport_log').html(result);
            } 
        });
    }

      function addNewTransportLog() {
        var content = $('#content_add_transport_log').val();
          var transport_id = @Model.transport_id;
        $.ajax({
            url: "/Transport/AddTransportLog",
            data: {
                transport_id: transport_id,
                content: content
            },
            context: document.body,
            type: "POST",
            dataType: "html",
            beforeSend: function () {

            },
            success: function (data) {
                updateTransportLog(@Model.transport_id);
                $('#content_add_transport_log').val("");
                showToast("success", "Ghi chú mới đã được tạo.", "Tạo thành công");
            },
            error: function (xhr, status) {
                showToast("error", "Vui lòng kiểm tra lại dữ liệu vừa nhập.", "Lỗi");
            },
            complete: function (xhr, status) {

            }
        });
    }

    $('#content_add_transport_log').keypress(function (e) {
        if (e.which == 13) {
            addNewTransportLog();
        }
    });
</script>
