@model IPagedList<Data.blog>
@using Data.Providers;
@using Data;
@using PagedList;
@using PagedList.Mvc;

@{
    var check_box_count = Model.Count();
    var current_datetime = System.DateTime.Now;
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
}
@if (check_box_count == 0)
{
    <div class="center-div">
        <h3>Không có bài viết nào.</h3>
    </div>
}
else
{
    @foreach (var blog in Model)
    {
        <!-- ttm-blog-classic -->
        <article class="post ttm-blog-classic clearfix">
            <!-- post-featured-wrapper -->
            <div class="ttm-post-featured-wrapper ttm-featured-wrapper">
                <div class="ttm-post-featured">
                    <img class="img-fluid" src="@urlCMS/@blog.blog_image" alt="@blog.blog_alt_image">
                </div>
            </div><!-- post-featured-wrapper end -->
            <!-- ttm-blog-classic-content -->
            <div class="ttm-blog-classic-content">
                <div class="entry-content">
                    <div class="ttm-post-catagory">
                        <span><a>@blog.blog_category.blog_category_name</a></span>
                    </div>
                    <header class="entry-header">
                        <h2 class="entry-title"><a href="/blogs/@blog.blog_seo_alias">@blog.blog_title</a></h2>
                    </header>
                    <div class="ttm-post-entry-header">
                        <div class="post-meta">
                            <span class="ttm-meta-line byline"><img src="images/admin.jpg" class="img-fluid" alt=""> By Admin</span>
                            <span class="ttm-meta-line entry-date"><i class="fa fa-calendar"></i><time class="entry-date published" datetime="2018-07-28T00:39:29+00:00">July 28, 2018</time></span>
                            <span class="ttm-meta-line tags-links"><i class="fa fa-comment-o"></i>1 Comments</span>
                        </div>
                    </div>
                    <div class="ttm-box-desc-text">
                        <p>Crop protection encompasses: Pesticide-based approaches such as herbicides, insecticides and fungicides some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum,</p>
                    </div>
                    <div class="ttm-blogbox-desc-footer">
                        <div class="ttm-blogbox-footer-readmore d-inline-block">
                            <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor btn-inline ttm-icon-btn-right mt-10" href="#">Read More <i class="ti ti-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- ttm-blog-classic-content end -->
        </article>
        <!-- ttm-blog-classic end -->
    }
    <div class="center-div">
        <a>Hiển thị @check_box_count trong @ViewBag.NumberOfList bài viết</a>
        @Html.PagedListPager(Model, page_num => Url.Action("GetBlog", new { page_num}),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "data_table" }))
    </div>
}
