@model List<Data.product>
@using Data;
@using Data.Providers;
@{
    ViewBag.Title = ViewBag.Category.category_name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];
    long category_parent_id = (long)ViewBag.CategoryParent.category_id;
    var list_category_child_1 = new CategoryProvider().getByCategoryParentId(category_parent_id);

    var category_parent = new category();
    var category_child_1 = new category();
    var category_child_2 = new CategoryProvider().getByCategoryId(ViewBag.CategoryID);

    if (category_child_2.category_parent_id != null)
    {
        category_child_1 = new CategoryProvider().getByCategoryId((long)category_child_2.category_parent_id);
    }

    if (category_child_1.category_parent_id != null)
    {
        category_parent = new CategoryProvider().getByCategoryId((long)category_child_1.category_parent_id);
    }

    var list_tag = new TagProvider().getByCategoryId(ViewBag.Category.category_id);
    var meta_keyword = "";
    if (list_tag.Count > 0)
    {
        foreach (var tag in list_tag)
        {
            meta_keyword += tag.tag_name + ", ";
        }
    }

    ViewBag.Keywords = meta_keyword + ViewBag.Category.category_name;
    ViewBag.Description = ViewBag.Category.seo_description;
    ViewBag.Canonical = urlSite + "/products/" + ViewBag.Category.seo_alias;
    ViewBag.Alternate = urlSite + "/products/" + ViewBag.Category.seo_alias;
    ViewBag.Url = urlSite + "/products/" + ViewBag.Category.seo_alias;
    ViewBag.Image = urlCMS + "/" + ViewBag.Category.image;
}
<!-- Page Title -->
<div class="page-title parallax parallax1 flat_strech">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Our Shop</h1>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="/">Home</a></li>
                            @if (category_parent != null && category_parent.category_id > 0)
                            {
                                <li><a href="/collections/@category_parent.seo_alias">@category_parent.category_name</a></li>
                            }

                            @if (category_child_1 !=null && category_child_1.category_id > 0)
                            {
                                <li><a href="/collections/@category_child_1.seo_alias">@category_child_1.category_name</a></li>
                            }
                            <li aria-current="page">@category_child_2.category_name</li>
                        </ul>
                    </div>
                </div><!-- /.page-title-captions -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>

<section class="flat-row products shop-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section style2 ">
                    <h1 class="title">@category_child_2.category_name</h1>
                </div>
                <form class="flat-shop-ordering" method="get">
                    <select name="orderby" class="orderby" id="sorter">
                        <option value="moi-nhat" selected="selected">Mới nhất</option>
                        <option value="pho-bien-nhat">Phổ biến nhất</option>
                        <option value="ten-az">Tên A đến Z</option>
                        <option value="ten-za">Tên Z đến A</option>
                        <option value="gia-cao-thap">Giá cao đến thấp</option>
                        <option value="gia-thap-cao">Giá thấp đến cao</option>
                    </select>
                </form>
            </div><!--col-md-12-->
        </div><!--row-->

        <div class="row">
            <div id="data_table">
                @{Html.RenderAction("GetProductByCategory", "Category", new { page_num = ViewBag.page_num, seo_alias = ViewBag.CategorySeoAlias, select_order = ViewBag.SelectOrder });}
            </div>
        </div><!--row-->
    </div><!--container -->
</section>

<script>
    $('#sorter').change(function () {
        filterProductCommon();
    });

    function filterProductCommon() {
        var select_order = $('#sorter').val();
        var seo_alias = '@ViewBag.CategorySeoAlias';
        $("#data_table").empty();
        $.ajax({
            url: "/Category/Index",
            data: {
                seo_alias: seo_alias,
                page_num: 1,
                select_order: select_order,
            },
            context: document.body,
            type: "POST",
            dataType: "html",
            beforeSend: function () {
                $('#loader_list_product').attr('hidden', false);
            },
            success: function (data) {
                $("#data_table").html($(data).find("#data_table"));
            },
            error: function (xhr, status) {
            },
            complete: function (xhr, status) {
                $('#loader_list_product').attr('hidden', true);
            }
        });
    }
</script>