@model IEnumerable<Data.product>
@using Data
@using Data.Providers
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Có " + ViewBag.NumberAllResult + " sản phẩm " + "" + ViewBag.SearchString + "";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];
    var logo_header = new StoreLogoProvider().getLogoHeader();

    ViewBag.Keywords = "Thiết bị điện, ống nhựa, phụ kiện, công tắc, ổ cắm, đèn, Opple, Edenki, Thuận Phát, Vina Focus";
    ViewBag.Description = "Vina Focus cung cấp các dòng sản phẩm thiết bị điện cao cấp, ống nhựa và phụ kiện, đèn chiếu sáng chất lượng cao.";
    ViewBag.Canonical = urlSite + "/search/keyword=" + ViewBag.SearchString;
    ViewBag.Alternate = urlSite + "/search/keyword=" + ViewBag.SearchString;
    ViewBag.Url = urlSite + "/search/keyword=" + ViewBag.SearchString;
    ViewBag.Image = urlCMS + "/" + logo_header.image;
}

<!-- breadcrumb -->
<div class="bg-gray-13 bg-md-transparent">
    <div class="container">
        <!-- breadcrumb -->
        <div class="my-md-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                    <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page"><span>Từ khóa tìm kiếm "@ViewBag.SearchString"</span></li>

                </ol>
            </nav>
        </div>
        <!-- End breadcrumb -->
    </div>
</div>
<!-- End breadcrumb -->

<div class="container">
    <div class="row mb-8">
        <div class="d-none d-xl-block col-xl-3 col-wd-2gdot5">
            <div class="mb-6 border border-width-2 border-color-3 borders-radius-6">
                <!-- List -->
                <ul id="sidebarNav" class="list-unstyled mb-0 sidebar-navbar view-all">
                    <li><div class="dropdown-title">Danh mục sản phẩm</div></li>
                    @foreach (var c_parent in list_category_parent_default)
                    {
                        if (c_parent.show_datetime <= DateTime.Now && c_parent.status == true)
                        {
                            var list_child_1 = new CategoryProvider().getByCategoryParentId(c_parent.category_id);
                            <li>
                                <a class="dropdown-toggle dropdown-toggle-collapse" href="javascript:;" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav1Collapse_@c_parent.category_id" data-target="#sidebarNav1Collapse_@c_parent.category_id">
                                    @c_parent.category_name
                                </a>
                                @if (list_child_1.Count > 0)
                                {
                                    <div id="sidebarNav1Collapse_@c_parent.category_id" class="collapse" data-parent="#sidebarNav">
                                        <ul id="sidebarNav1" class="list-unstyled dropdown-list">
                                            @foreach (var child_1 in list_child_1)
                                            {
                                                <li><a class="dropdown-item" href="/collections/@child_1.seo_alias">@child_1.category_name</a></li>
                                            }
                                        </ul>
                                    </div>
                                }

                            </li>
                        }
                    }
                </ul>
                <!-- End List -->
            </div>
            <div class="mb-8">
                <div class="border-bottom border-color-1 mb-5">
                    <h3 class="section-title section-title__sm mb-0 pb-2 font-size-18">Có thể bạn quan tâm</h3>
                </div>
                <ul class="list-unstyled">
                    @foreach (var product in new ProductProvider().getByCategoryIdOnSite(category_parent_special_first.category_id).Take(8).ToList())
                    {
                        <li class="mb-4">
                            <div class="row">
                                <div class="col-auto">
                                    <a href="/@product.seo_alias" class="d-block width-75">
                                        <img class="img-fluid" src="@urlCMS/@product.product_image" alt="@product.alt_image">
                                    </a>
                                </div>
                                <div class="col">
                                    <h3 class="text-lh-1dot2 font-size-14 mb-0"><a href="/@product.seo_alias">@product.product_name</a></h3>
                                    <div class="text-warning text-ls-n2 font-size-16 mb-1" style="width: 80px;">
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="far fa-star"></small>
                                    </div>
                                    <div class="font-weight-bold">
                                        @if (product.price > 0)
                                        {
                                            <del class="font-size-11 text-gray-9 d-block showNumeric">@product.price</del>
                                        }
                                        <ins class="font-size-15 text-red text-decoration-none d-block showNumeric">@product.promotion_price</ins>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-xl-9 col-wd-9gdot5">
            <!-- Shop-control-bar -->
            <div class="bg-gray-1 flex-center-between borders-radius-9 py-1">
                <div class="d-xl-none">
                    <!-- Account Sidebar Toggle Button -->
                    <a id="sidebarNavToggler1" class="btn btn-sm py-1 font-weight-normal" href="javascript:;" role="button"
                       aria-controls="sidebarContent1"
                       aria-haspopup="true"
                       aria-expanded="false"
                       data-unfold-event="click"
                       data-unfold-hide-on-scroll="false"
                       data-unfold-target="#sidebarContent1"
                       data-unfold-type="css-animation"
                       data-unfold-animation-in="fadeInLeft"
                       data-unfold-animation-out="fadeOutLeft"
                       data-unfold-duration="500">
                        <i class="fas fa-sliders-h"></i> <span class="ml-1">Lọc sản phẩm</span>
                    </a>
                    <!-- End Account Sidebar Toggle Button -->
                </div>
                <div class="px-3 d-none d-xl-block">
                    <ul class="nav nav-tab-shop" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="data_table-tab" data-toggle="pill" href="#data_table" role="tab" aria-controls="data_table" aria-selected="false">
                                <div class="d-md-flex justify-content-md-center align-items-md-center">
                                    <i class="fa fa-th"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex d-xl-none d-md-none">
                    <form method="get">
                        <!-- Select -->
                        <select id="sorter-mobile" class="js-select selectpicker dropdown-select max-width-200 max-width-160-sm right-dropdown-0 px-2 px-xl-0"
                                data-style="btn-sm bg-white font-weight-normal py-2 border text-gray-20 bg-lg-down-transparent border-lg-down-0">
                            <option value="moi-nhat" selected="selected">Mới cập nhật</option>
                            <option value="pho-bien-nhat">Phổ biến nhất</option>
                            <option value="ten-az">Tên A đến Z</option>
                            <option value="ten-za">Tên Z đến A</option>
                            <option value="gia-cao-thap">Giá cao đến thấp</option>
                            <option value="gia-thap-cao">Giá thấp đến cao</option>
                        </select>
                        <!-- End Select -->
                    </form>
                </div>
                <nav class="px-3 flex-horizontal-center text-gray-20 d-none d-xl-flex">
                    <!-- Select -->
                    <select id="sorter-desktop" class="js-select selectpicker dropdown-select max-width-200 max-width-160-sm right-dropdown-0 px-2 px-xl-0"
                            data-style="btn-sm bg-white font-weight-normal py-2 border text-gray-20 bg-lg-down-transparent border-lg-down-0">
                        <option value="moi-nhat" selected="selected">Mới cập nhật</option>
                        <option value="pho-bien-nhat">Phổ biến nhất</option>
                        <option value="ten-az">Tên A đến Z</option>
                        <option value="ten-za">Tên Z đến A</option>
                        <option value="gia-cao-thap">Giá cao đến thấp</option>
                        <option value="gia-thap-cao">Giá thấp đến cao</option>
                    </select>
                    <!-- End Select -->
                </nav>
            </div>
            <!-- End Shop-control-bar -->
            <!-- Shop Body -->
            <!-- Tab Content -->
            <div class="tab-content" id="pills-tabContent">
                <div hidden class="center-div" id="loader_list_product">
                    <img src="~/Assets/img/loader/list-loader.gif" width="20%" />
                    <p>Đang tải dữ liệu...</p>
                </div>
                <div class="tab-pane fade pt-2 show active" id="data_table" role="tabpanel" aria-labelledby="data_table-tab" data-target-group="groups">
                    @{Html.RenderAction("GetProductByCategory", "Category", new { num_product = ViewBag.NumProduct, seo_alias = ViewBag.CategorySeoAlias, select_order = ViewBag.SelectOrder });}

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

    });

    $('#sorter').change(function () {
        filterProductCommon();
    });

    function filterProductCommon() {
        var select_order = $('#sorter').val();
        var keyword = '@ViewBag.SearchString';
        $("#data_table").empty();
        $.ajax({
            url: "/Search/Index",
            data: {
                keyword: keyword,
                page_num: 1,
                select_order: select_order,
            },
            context: document.body,
            type: "POST",
            dataType: "html",
            beforeSend: function () {
                $('#loader_list_product').attr('hidden', false);
            },
            success: function (data) {
                $("#data_table").html($(data).find("#data_table"));
            },
            error: function (xhr, status) {
            },
            complete: function (xhr, status) {
                $('#loader_list_product').attr('hidden', true);
            }
        });
    }
</script>