@model Data.page
@using Data;
@using Data.Providers;
@{
    ViewBag.Title = Model.page_title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];

    var page_parent = new page();
    if (Model.page_parent_id > 0)
    {
        page_parent = new PageProvider().getById((int)Model.page_parent_id);
    }

    ViewBag.Keywords = Model.page_seo_header;
    ViewBag.Description = Model.page_seo_description;
    ViewBag.Canonical = urlSite + "/pages/" + Model.page_seo_alias;
    ViewBag.Alternate = urlSite + "/pages/" + Model.page_seo_alias;
    ViewBag.Url = urlSite + "/pages/" + Model.page_seo_alias;
    ViewBag.Image = urlCMS + "/" + Model.page_image;
}

<!-- ============================ Page Title Start================================== -->
<section class="page-title image-cover ed_detail_head lg theme-ov" data-overlay="8">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="breadcrumbs-wrap">
                    <h1 class="breadcrumb-title">@Model.page_title</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            @if (page_parent != null && page_parent.page_id > 0)
                            {
                                <li class="breadcrumb-item"><a href="/pages/@page_parent.page_seo_alias">@page_parent.page_title</a>></li>
                            }
                            <li class="breadcrumb-item active" aria-current="page">@Model.page_title</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Page Title End ================================== -->

@if (Model.page_id == 1)
{
    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <img src="~/Assets/common-img/slide.jpg" style="width: 100%;" />
                    <div class="property_video xl">
                        <div class="thumb">
                            <img class="pro_img img-fluid w100" src="@urlCMS/@Model.product_image" alt="@Model.alt_image">
                            <div class="overlay_icon">
                                <div class="bb-video-box">
                                    <div class="bb-video-box-inner">
                                        <div class="bb-video-box-innerup">
                                            <a href="@Model.product_video" data-toggle="modal" data-target="#popup-video" class="theme-cl"><i class="ti-control-play"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <!-- Overview -->
                        <div class="edu_wraper">
                            <h3 class="edu_title">Lời mở đầu</h3>
                            <p>
                                Mối quan hệ của Nhật Bản và Việt Nam phát triển như hiện nay, thì việc mà giới trẻ Việt đang đổ xô đi học tiếng Nhật, và du học Nhật là điều không còn hiếm thấy. Việc đó đồng nghĩa đó là người biết tiếng Nhật ngày càng nhiều, vậy trong số những người đang biết tiếng Nhật, thì <strong>giá trị</strong> bạn đang có là bao nhiêu.
                            </p>
                            <p>
                                Để trả lời cho câu hỏi này, trước hết bạn nên đặt câu hỏi đó là ngoài tiếng Nhật thì còn gì nữa. Có rất nhiều các chứng chỉ mà hiện nay ở Nhật đang rất <strong>hot</strong>.
                            </p>
                            <h6>Và trong số đó...</h6>
                            <ul class="lists-3">
                                <li>Chứng chỉ <strong>Boki – Kế toán</strong></li>
                            </ul>
                            <p>
                                Vậy bạn sẽ được gì khi học boki?
                            </p>
                        </div>

                    </div>

                    <!-- Sidebar -->
                    <div class="col-lg-4 col-md-4">

                        <div class="ed_view_box style_2">

                            <div class="ed_author">
                                <div class="ed_author_thumb">
                                    <img class="img-fluid" src="../Assets/common-img/quynhboki_ava.jpg" alt="founder">
                                </div>
                                <div class="ed_author_box">
                                    <h4><strong>Mrs. Quỳnh May</strong></h4>
                                    <span>Founder Quỳnh Boki</span>
                                </div>
                            </div>

                            <div class="ed_view_features pl-4">
                                <span>Quyền lợi học viên</span>
                                <ul>
                                    <li><i class="ti-angle-right"></i>Bao gồm cả học online và video</li>
                                    <li><i class="ti-angle-right"></i>Được học tất cả các kiến thức liên quan đến khóa học đã đăng ký</li>
                                    <li><i class="ti-angle-right"></i>Được đôn đốc học bài và check bài tập</li>
                                    <li><i class="ti-angle-right"></i>Được giải đáp tất cả mọi thắc mắc liên quan đến bài học và các nội dung liên quan đến boki, thậm chí nếu có khó khăn gì trong quá trình ở Nhật, cần tư vấn, tham khảo ý kiến về đi shyushoku, chuyển việc…</li>
                                    <li><i class="ti-angle-right"></i>Được luyện đề và hỗ trợ đến khi đỗ, đương nhiên là cả 2 bên bao gồm học sinh và giáo viên cùng đồng lòng cố gắng </li>
                                </ul>
                            </div>
                            <div class="ed_view_link">
                                <a href="/collections" class="btn btn-theme enroll-btn">Xem các khóa học<i class="ti-angle-right"></i></a>
                            </div>

                        </div>

                    </div>

                </div>
        </div>
    </section>
}
else if (Model.page_id == 2)
{
    <section class="bg-light">
        <div class="container">
            <div class="edu_wraper">
                <h3 class="edu_title">Học viên của Quỳnh Boki nghĩ gì về trung tâm?</h3>
                <div class="row">
                    <div class="col-md-6 col-12 col-img-au">
                        <img src="~/Assets/common-img/testi1-1.jpg" />
                        <img src="~/Assets/common-img/testi2-1.jpg" />
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="col-ava-au">
                            <div class="ed_author">
                                <div class="ed_author_thumb">
                                    <img class="img-fluid" src="~/Assets/common-img/testi1.jpg" alt="founder">
                                </div>
                                <div class="ed_author_box">
                                    <h4><strong>Nguyễn Thành Nhân</strong></h4>
                                    <span>Học viên</span>
                                </div>
                            </div>
                            <p>
                                Mặc dù không làm việc trong ngành kế toán nhưng do đặc thù công việc mà mình đã bắt đầu tự học boki. Sau một thời gian tự học không có kết quả ( do lười ) thì qua 1 lần tình cơ mà mình đã biết đến lớp học boki của chị giáo Quỳnh.
                                Phải công nhận sensei dạy rất nhiệt tình và có tâm. Học sinh nào mà không làm bài tập thì sẽ được “quan tâm” đặc biệt ngay. Bài tập nộp hàng tuần được sensei kiểm tra cho rất kĩ, không hiểu gì sẽ được giải đáp cho đến khi nào ngộ ra mới thôi.
                                Kết thúc khoá học 2 tháng mình đã hạ cánh an toàn trong kì thi 3級 với số điểm là 93/100.
                            </p>
                            <p>
                                Sau đó mình được chị giáo “dụ dỗ” học lên 2kyu, và đã hoàn thành xong cả mục tiêu đó nhanh trong chớp nhoáng trong kỳ thi onl.
                            </p>
                            <p>
                                Cảm ơn chị giáo Quỳnh rất nhiều !!!
                            </p>
                        </div>

                        <div class="col-ava-au">
                            <div class="ed_author">
                                <div class="ed_author_thumb">
                                    <img class="img-fluid" src="~/Assets/common-img/testi2.jpg" alt="founder">
                                </div>
                                <div class="ed_author_box">
                                    <h4><strong>Phạm Thị Mỹ An</strong></h4>
                                    <span>Học viên</span>
                                </div>
                            </div>
                            <p>
                                Từ lúc bắt đầu học chị cho đến khi nhận tấm bằng 3kyu trên tay là hành trình chớp nhoáng đến khó tin. Một đứa ngoại đạo chưa bao giờ nghĩ sẽ làm việc liên quan đến kế toán như em gặp được chị, được chị chỉ dạy và động viên rất nhiều. Em rất ngưỡng mộ và cảm động trước tấm lòng vì học trò của chị. Chị sẽ luôn sẵn sàng xếp giờ để mọi người đều học được chứ không ưu tiên dạy video (trộm vía học chị Quỳnh không nghỉ học đâu tại đi học vui hơn 😂). Chị cũng đốc thúc mọi người làm bài nộp bài đầy đủ, đó là động lực để mọi người đi đến cuối lộ trình này. Chị nắm rõ từng học sinh, ai hay sai phần nào, yếu điểm nào sẽ luôn được chị từ ân cần nhắc nhở. Nhắc hoài không sửa sẽ được chị thăng cấp lên thành công chúa hoàng tử :))
                                Em rất nhớ thời gian ôn và giải đề cùng chị. Mặc dù chỉ là một lớp học trên mạng nhưng chị tạo cho em một niềm tin rất chắc chắn “chỉ cần chăm học thôi, còn lại cứ để chị Quỳnh lo”. Và đúng là như vậy thật. Không cần lo lắng điều gì khác cả vì chị đã lo trước và chuẩn bị cho tụi em vài bước rồi. Chỉ cần học chăm thôi là đủ. Giờ học, bài giảng, tài liệu đều một tay chị chuẩn bị, chăm cho từng đứa một cũng là chị.
                            </p>
                            <p>
                                Hồi xưa em mà thi đậu gì đó sẽ hay nói “tại hên thôi”. Nhưng không, giờ thì em sẽ nói “nhờ có chị Quỳnh hết đó”.
                            </p>
                            <p>
                                Thôi em đi học bài 2kyu đây để khéo lại bị chị kêu là công chúa ^^!
                            </p>
                        </div>

                        <div>
                            <img src="~/Assets/common-img/img-zoom-min.png" style="width: 100%" />
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
}
else
{

}

<script>
    $(document).ready(function () {
        $('#page_' + '@Model.page_id').addClass('active');
});
</script>