@using Data;
@using Data.Providers;

@{
    var list_benh_nam_khoa = new CategoryProvider().getListParentCategory().Where(c => (c.status == true && c.show_datetime <= DateTime.Now) && c.type_of_category_id == 1);
    var list_benh_xa_hoi = new CategoryProvider().getListParentCategory().Where(c => (c.status == true && c.show_datetime <= DateTime.Now) && c.type_of_category_id == 2);

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];
    ViewBag.LinkChat = System.Configuration.ConfigurationManager.AppSettings["linkChat"];
    ViewBag.Map = System.Configuration.ConfigurationManager.AppSettings["map"];
    ViewBag.LinkZalo = System.Configuration.ConfigurationManager.AppSettings["linkZalo"];

    var favicon = new StoreLogoProvider().getFavicon();
    var logo_header = new StoreLogoProvider().getLogoHeader();
    var logo_footer = new StoreLogoProvider().getLogoFooter();
    var logo_mobile = new StoreLogoProvider().getLogoMobile();
    var contact = new StoreContactProvider().get1Contact();

    var list_page_link = new PageProvider().getListShow();
    var list_page_parent = list_page_link.Where(p => p.page_parent_id == null).ToList();
    var list_page_2 = list_page_link.Where(p => p.mount_on_header_menu_status == false && p.mount_on_footer_menu_status == false).ToList();
    var list_benh_chinh = new CategoryProvider().getAll().Where(c => (c.status == true && c.show_datetime <= DateTime.Now) && (c.image != "../Assets/img/category_image/Logo Bach Giai.png" && c.image != "../Assets/img/category_image/BG.png"));

}

<!doctype html>
<html lang="vi">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <link rel="icon" href="@urlCMS/@favicon.image" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="Diwe.vn">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:locale" content="vi_VN">
    <meta name="revisit" content="1 days">
    <meta name="robots" content="noodp,index,follow" />

    <!-- Helpers ================================================== -->
    <meta name="apple-mobile-web-app-title" content="Đa khoa Bách Giai">
    <meta name="application-name" content="Đa khoa Bách Giai">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noodp,index, follow" />
    <link rel="canonical" href="@ViewBag.Canonical" />
    <link rel="alternate" href="@ViewBag.Alternate" hreflang="vi-vn" />
    <meta itemprop="name" content="@ViewBag.Title">
    <meta itemprop="description" content="@ViewBag.Description">
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:url" content="@ViewBag.Url" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:site_name" content="Đa khoa Bách Giai" />
    <meta property="og:image" content="@ViewBag.Image" />
    <meta property="og:type" content="website">
    <meta property="og:image:secure_url" content="@ViewBag.Image" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,500,700,800|Dancing+Script:400,700|Caveat:400,700|Roboto+Condensed:300,400,700|Quicksand:300,400,500,600,700,800|Montserrat:300,400,500,600,700,800|Playfair+Display:400,400i,700,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=vietnamese" rel="stylesheet">
    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../Assets/css/bootstrap.min.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="../Assets/css/animate.min.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="../Assets/css/meanmenu.css">
        <!-- Boxicons CSS -->
        <link rel="stylesheet" href="../Assets/css/boxicons.min.css">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="../Assets/css/flaticon.css">
        <!-- Odometer Min CSS -->
        <link rel="stylesheet" href="../Assets/css/odometer.min.css">
        <!-- Carousel CSS -->
        <link rel="stylesheet" href="../Assets/css/owl.carousel.min.css">
        <!-- Carousel Default CSS -->
        <link rel="stylesheet" href="../Assets/css/owl.theme.default.min.css">
        <!-- Popup CSS -->
        <link rel="stylesheet" href="../Assets/css/magnific-popup.min.css">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="../Assets/css/nice-select.css">
        <!-- Datetimepicker CSS -->
        <link rel="stylesheet" href="../Assets/css/datetimepicker.min.css">
        <!-- Month CSS -->
        <link rel="stylesheet" href="../Assets/css/month.min.css">
        <!-- Imagelightbox CSS -->
        <link rel="stylesheet" href="../Assets/css/imagelightbox.min.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="../Assets/css/style.css">
        <link href="~/Assets/css/custom.css" rel="stylesheet" />
        <!-- Responsive CSS -->
        <link href="~/Assets/css/PagedList.css" rel="stylesheet" />
        <link rel="stylesheet" href="../Assets/css/responsive.css">

    <!-- Jquery Slim JS -->
    @*<script src="../Assets/js/jquery.min.js"></script>*@
    @Styles.Render("~/bundles/styleCore")
    @*@Scripts.Render("~/bundles/jsCoreFirst")*@
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=2746333342249280&autoLogAppEvents=1" nonce="60hQV1vM"></script>
    <!-- Start Top Bar Area -->
    <div class="top-bar-area bg-color hidden-sm hidden-xs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <ul class="top-bar-information">
                        <li>
                            <marquee style="margin-top: 5px;">Địa chỉ: @contact.address</marquee>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6 col-md-12">
                    <ul class="top-bar-optional">
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="#" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                            <a href="#" target="_blank">
                                <i class='bx bxl-pinterest-alt'></i>
                            </a>
                            <a href="#" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Bar Area -->

    <div class="">
        <div class="main-nav-custom" style="background: url(../Assets/images/bg-header.png) bottom center no-repeat">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-6 col-md-6 logo-header-custom">
                        <a class="navbar-brand" href="/">
                            <img class="logo" src="@urlCMS/@logo_header.image" alt="@logo_header.alt" />
                        </a>
                    </div>
                    <div class="col-lg-3 col-lg-3 col-md-6 cf-div hidden-sm hidden-xs hidden-md">
                        <div class="">
                            <div class="cf-img">
                                <img src="~/Assets/images/icon-time.png" />
                            </div>
                            <div class="contact-custom">
                                <h4>Lịch Tư Vấn</h4>
                                <h6>@contact.working_day | @contact.working_hour</h6>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-lg-3 col-md-6 cf-div hidden-sm hidden-xs hidden-md">
                        <div class="">
                            <div class="cf-img">
                                <img src="~/Assets/images/icon-phone.png" />
                            </div>
                            <div class="contact-custom">
                                <h4>Liên Hệ</h4>
                                <h6>@contact.phone_number</h6>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div style="display: flex">
                        <div>
                            <img src="~/Assets/images/icon-phone.png" style="width: 20%" />
                            <a href="/">
                                Tư vấn MIỄN PHÍ <br />
                                <span>(02)466.897.999</span>
                            </a>
                        </div>
                        <div style="margin-right:50px;">
                            <img src="~/Assets/images/icon-time.png" style="width:25%" />
                            <a href="/">
                                Làm Việc <br />
                                <span>8:00 - 20:00</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-navbar">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/" class="nav-link active">
                                    <i class="flaticon-"></i> Trang chủ
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/pages/gioi-thieu" class="nav-link">
                                    Giới thiệu
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/pages/doi-ngu-bac-si" class="nav-link">
                                    Đội ngũ bác sĩ
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/pages/co-so-vat-chat" class="nav-link">
                                    Cơ sở vật chất
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/benh-nam-khoa" class="nav-link">
                                    Bệnh nam khoa
                                    <i class='bx bx-chevron-down'></i>
                                </a>

                                <ul class="dropdown-menu">
                                    @foreach (var bnk in list_benh_nam_khoa)
                                    {
                                        var list_category_child = new CategoryProvider().getByCategoryParentId(bnk.category_id);
                                        if (list_category_child.Count > 0)
                                        {
                                            <li class="nav-item">
                                                <a href="/category/@bnk.seo_alias" class="nav-link">
                                                    @bnk.category_name <i class='bx bx-chevron-down'></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    @foreach (var cc in list_category_child)
                                                    {
                                                        if (cc.status == true && cc.show_datetime <= DateTime.Now)
                                                        {
                                                            <li class="nav-item">
                                                                <a href="/category/@cc.seo_alias" class="nav-link">
                                                                    @cc.category_name
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="nav-item">
                                                <a href="/category/@bnk.seo_alias" class="nav-link">
                                                    @bnk.category_name
                                                </a>
                                            </li>
                                        }

                                    }
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="/benh-xa-hoi" class="nav-link">
                                    Bệnh xã hội
                                    <i class='bx bx-chevron-down'></i>
                                </a>

                                <ul class="dropdown-menu">
                                    @foreach (var bxh in list_benh_xa_hoi)
                                    {
                                        var list_category_child = new CategoryProvider().getByCategoryParentId(bxh.category_id);
                                        if (list_category_child.Count > 0)
                                        {
                                            <li class="nav-item">
                                                <a href="/category/@bxh.seo_alias" class="nav-link">
                                                    @bxh.category_name <i class='bx bx-chevron-down'></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    @foreach (var cc in list_category_child)
                                                    {
                                                        if (cc.status == true && cc.show_datetime <= DateTime.Now)
                                                        {
                                                            <li class="nav-item">
                                                                <a href="/category/@cc.seo_alias" class="nav-link">
                                                                    @cc.category_name
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="nav-item">
                                                <a href="/category/@bxh.seo_alias" class="nav-link">
                                                    @bxh.category_name
                                                </a>
                                            </li>
                                        }

                                    }
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="@ViewBag.Map" class="nav-link" target="_blank">
                                    Liên hệ
                                </a>
                            </li>
                        </ul>

                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <a href="javascript:void(0)" class="default-btn" id="show-modal-form">ĐẶT LỊCH HẸN</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->

    @RenderBody()
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Đặt lịch hẹn online</h4>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Tên của bạn <span class="require">* </span></label>
                                <input type="text" class="form-control" placeholder="Nhập tên của bạn tại đây">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Số điện thoại <span class="require">* </span></label>
                                <input type="text" class="form-control" placeholder="Nhập số điện thoại của bạn tại đây">
                            </div>
                        </div>

                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label>Nhập ngày tháng <span class="require">* </span></label>
                                <input id="datetimepicker" type="text" class="form-control" placeholder="@DateTime.Now.ToString("dd.MM.yyyy")">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" class="default-btn" id="show-modal-form">GỬI THÔNG TIN</a>
            </div>
        </div>

    </div>
    <!-- Start Footer Area -->
    <div class="container container-footer hidden-sm hidden-xs">
        <div class="row">
            <div class="col-lg-3 col-md-6 box-contact-footer">
                <div class="single-stats-box">
                    <div class="icon">
                        <i class="flaticon-phone-call"></i>
                    </div>
                    <h3><a href="tel:@contact.phone_number.Trim()">@contact.phone_number</a></h3>
                    <p>Tư vấn miễn phí</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 box-contact-footer">
                <div class="single-stats-box">
                    <div class="icon">
                        <i class="flaticon-appointment"></i>
                    </div>
                    <h3><a href="javascript:void(0)" onclick="showModal()">Đặt lịch khám online</a></h3>
                    <p>Trò chuyện cùng chuyên gia</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 box-contact-footer">
                <div class="single-stats-box">
                    <div class="icon">
                        <i class="flaticon-wall-clock"></i>
                    </div>
                    <h3>Mở cửa: @contact.working_hour</h3>
                    <p>Tất cả các ngày trong tuần</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 box-contact-footer">
                <div class="single-stats-box">
                    <div class="icon">
                        <i class="flaticon-pin"></i>
                    </div>
                    <h3><a href="@ViewBag.Map" target="_blank">Chỉ đường</a></h3>
                    <p>Bản đồ đến phòng khám</p>
                </div>
            </div>
        </div>
    </div>
    <section class="footer-area bg-color pt-100 pb-70">

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <a href="index.html">
                            <img src="@urlCMS/@logo_footer.image" alt="@logo_footer.alt">
                        </a>
                        <p>Với sự nỗ lực không ngừng, Phòng khám Đa khoa Bách Giai cam kết mang đến những dịch vụ chăm sóc sức khỏe hoàn hảo nhất, xứng danh là “Nơi gửi trọn niềm tin” của quý khách hàng.</p>

                        <ul class="footer-social">
                            <li>
                                <a href="/" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="/" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="/" target="_blank">
                                    <i class='bx bxl-pinterest-alt'></i>
                                </a>
                            </li>
                            <li>
                                <a href="/" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget pl-5">
                        <h2>Về chúng tôi</h2>

                        <ul class="opening-hours">
                            <li>
                                <a href="services-details.html">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="#">Đội ngũ bác sĩ</a>
                            </li>
                            <li>
                                <a href="#">Cơ sở vật chất</a>
                            </li>
                            <li>
                                <a href="#">Chỉ đường</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h2>Diện bệnh chính</h2>
                        <ul class="opening-hours">
                            @foreach (var benh in list_benh_chinh.Take(5).ToList())
                            {
                                <li>
                                    <a>@benh.category_name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget pl-5">
                        <h2>Get In Touch</h2>

                        <ul class="footer-contact-info">

                            <li>
                                <i class='bx bxs-phone'></i>
                                <span>Điện Thoại</span>
                                <a href="tel:@contact.phone_number">@contact.phone_number</a>
                            </li>
                            <li>
                                <i class='bx bx-envelope'></i>
                                <span>Email</span>
                                <a href="mailto:@contact.email">@contact.email</a>
                            </li>
                            <li>
                                <i class='bx bx-map'></i>
                                <span>Địa chỉ</span>
                                @contact.address
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Footer Area -->
    <!-- Start Copy Right Area -->
    <div class="copyright-area bg-color">
        <div class="container">
            <div class="copyright-area-content">
                <p>
                    Copyright 2020 Bach Giai Clinic. All Rights Reserved by
                    <a href="https://diwe.vn/" target="_blank">
                        Diwe.vn
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- End Copy Right Area -->
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class='bx bx-up-arrow-alt'></i>
    </div>
    <!-- End Go Top Area -->

    <ul id="fixleft" class="hidden-sm hidden-xs">
        <a href="@ViewBag.LinkChat" target="_blank"></a>
        <a href="@ViewBag.LinkZalo" target="_blank"></a>
    </ul>

    <ul id="fixbot">
        <a href="tel:@contact.phone_number" class="m-convertion">
            @contact.phone_number
        </a>
        <a class="btndathen" onclick="showModal()">
            Đặt Lịch Hẹn
        </a>
        <a href="@ViewBag.LinkChat" class="icchat m-convertion" target="_blank">
            Tư Vấn Online
        </a>
    </ul>
    @Scripts.Render("~/bundles/jsCoreSecond")

    @*<!-- Popper JS -->
        <script src="../Assets/js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="../Assets/js/bootstrap.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="../Assets/js/jquery.meanmenu.js"></script>
        <!-- Appear Min JS -->
        <script src="../Assets/js/jquery.appear.min.js"></script>
        <!-- Odometer Min JS -->
        <script src="../Assets/js/odometer.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="../Assets/js/owl.carousel.min.js"></script>
        <!-- Popup JS -->
        <script src="../Assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Nice Select JS -->
        <script src="../Assets/js/jquery.nice-select.min.js"></script>
        <!-- Datetimepicker JS -->
        <script src="../Assets/js/datetimepicker.min.js"></script>
        <!-- Month JS -->
        <script src="../Assets/js/month.min.js"></script>
        <!-- Imagelightbox JS -->
        <script src="../Assets/js/imagelightbox.min.js"></script>
        <!-- Ajaxchimp JS -->
        <script src="../Assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator JS -->
        <script src="../Assets/js/form-validator.min.js"></script>
        <!-- Contact JS -->
        <script src="../Assets/js/contact-form-script.js"></script>
        <!-- Wow JS -->
        <script src="../Assets/js/wow.min.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <!-- Custom JS -->
        <script src="../Assets/js/main.js"></script>*@

    <script>
        var width_device = $(window).width();

        jQuery(document).ready(function () {
            if (width_device >= 1024) {
                var q2w3_sidebar_1_options = {
                    "sidebar": "widget-area",
                    "margin_top": 50,
                    "margin_bottom": 1000,
                    "screen_max_width": 0,
                    "width_inherit": false,
                    "widgets": ['widget_tag_cloud', 'widget_categories']
                };
                q2w3_sidebar(q2w3_sidebar_1_options);
                setInterval(function () { q2w3_sidebar(q2w3_sidebar_1_options); }, 1500);
            }

            //$('#datetimepicker').datepicker({
            //    onSelect: function (dateText, inst) {
            //        //Get today's date at midnight
            //        var today = new Date();
            //        today = Date.parse(today.getMonth() + 1 + '/' + today.getDate() + '/' + today.getFullYear());
            //        //Get the selected date (also at midnight)
            //        var selDate = Date.parse(dateText);

            //        if (selDate < today) {
            //            //If the selected date was before today, continue to show the datepicker
            //            $('#datetimepicker').val('');
            //            $(inst).datepicker('show');
            //        }
            //    }
            //});
        });

        function showModal() {
            var modal = document.getElementById("myModal");
            modal.style.display = "block";
        }

        function sendMessage() {
            var cphone = $("#cphone").val();
            var cemail = "";
            var cname = $("#cname").val();
            var cmessage = "Đặt lịch hẹn";
            var csubject = $('#datetimepicker').val();
            if (cname == "" || cname == null) {
                alert("Yêu cầu nhập tên trước khi gửi");
            }
            else if (cphone == "") {
                alert("Yêu cầu nhập số điện thoại trước khi gửi");
            }
            else if (!phonenumber(cphone)) {
                alert("Số điện thoại không đúng định dạng");
            }
            else if (csubject == "") {
                alert("Yêu cầu nhập ngày đặt lịch trước khi gửi");
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Page/SendMessage",
                    data: {
                        sender_name: cname,
                        sender_phone_number: cphone,
                        sender_email: cemail,
                        sender_subject: csubject,
                        sender_message: cmessage,
                    },
                    context: document.body,
                    dataType: "html",
                    beforeSend: function () {
                        $('#btn-submit').prop('disabled', true);
                        $('#btn-submit').text("Đang Gửi...");
                    },
                    success: function (data) {
                        $("#cname").val("");
                        $("#cphone").val("");
                        $("#datetimepicker").val("");
                        alert("Thông tin của bạn đã được gửi cho chúng tôi. Chúng tôi sẽ liên hệ lại với bạn. Cảm ơn bạn đã quan tâm!");
                    },
                    error: function (xhr, status) {
                        alert("Có lỗi xảy ra.");
                    },
                    complete: function (xhr, status) {
                        $('#btn-submit').text("Đăng Ký Ngay");
                        $('#btn-submit').prop('disabled', false);
                    }
                });
            }
        }

        function phonenumber(inputtxt) {
            var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
            if (inputtxt.match(phoneno)) {
                return true;
            }
            else {
                return false;
            }
        }

        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }

        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("show-modal-form");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>