@model IPagedList<Data.blog>
@using Data.Providers;
@using PagedList;
@using PagedList.Mvc;

@{
    var check_box_count = Model.Count();
}

<div class="table-responsive data-grid">
    <table class="table table-striped mb-0">
        <thead>
            <tr>
                <th align="center" scope="col" style="width:20%;" id="checkHeader" colspan="2">
                    <form id="form_action">
                        <div class="form-check">
                            <input class="form-check-input checkbox" type="checkbox" value="-1" id="select_all">
                            <label class="form-check-label checkbox-table check-table" id="label_for_select_all" for="select_all"></label>
                            <div class="form-group" style="display: none; margin-bottom: -25px;" id="select_action">
                                <select class="form-control form-control-sm select_action" id="checkToAction">
                                    <option selected disabled id="number_of_checked" value="-1"></option>
                                    <option value="1">Ẩn Blog</option>
                                    <option value="2">Hiện Blog</option>
                                    <option value="3">Xóa Blog</option>
                                    @*<option disabled>----------------------------------</option>
                                    <option value="4">Thêm tags Blog</option>
                                    <option value="5">Xóa tags Blog</option>*@
                                </select>
                            </div>
                        </div>
                    </form>
                </th>
                <th scope="col" style="width:20%">
                    <p class="th_table">Tiêu đề</p>
                </th>
                <th scope="col" style="width:10%; text-align:center">
                    <p class="th_table">Danh mục Blog</p>
                </th>
                <th scope="col" style="width:10%; text-align:center">
                    <p class="th_table">Người đăng</p>
                </th>
                <th scope="col" style="width:15%; text-align:center">
                    <p class="th_table">Ngày đăng</p>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var blog in Model)
            {
                <tr>
                    <td align="center">
                        <div class="form-check">
                            <input class="form-check-input checkbox" type="checkbox" name="checkbox" value="@blog.blog_id" id="Check_@blog.blog_id" style="border: 1px solid #dee2e6;">
                            <label class="form-check-label checkbox-table check-table" for="Check_@blog.blog_id"></label>
                        </div>
                    </td>
                    <td align="center">
                        <span class="bg-img m-auto ">
                            <img src="@blog.blog_image" class="img-fluid bg-img" alt="@blog.blog_alt_image">
                        </span>
                    </td>
                    <td>
                        <a href="/Blog/BlogDetail?id=@blog.blog_id" class="text-primary">@blog.blog_title</a><br />
                        @if (blog.status == true && blog.show_datetime <= System.DateTime.Now)
                        {
                            <span class="badge badge-success-inverse px-2 py-1 mt-1">Đang hiển thị</span>
                        }
                        else
                        {
                            <span class="badge badge-danger-inverse px-2 py-1 mt-1">Đang ẩn</span>
                        }
                    </td>
                    <td align="center">@blog.blog_category.blog_category_name</td>
                    <td align="center">@blog.user.username</td>
                    <td align="center">@blog.create_datetime.Value.ToString("dd/MM/yyyy") lúc @blog.create_datetime.Value.ToString("HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<br>
@if (check_box_count == 0)
{
    <div style="text-align:center">
        <h3>Không có kết quả nào được tìm thấy.</h3>
        <img src="~/Assets/images/image_system/not_found.png" style="width:50%" />
    </div>
    <script>
        $('#label_for_select_all').css({ display: 'none' });
    </script>
}
else
{
    <a>Hiển thị kết quả từ 1 - @check_box_count trong tổng số @ViewBag.NumberOfList</a>
    <script>
        $('#label_for_select_all').css({ display: 'block' });
    </script>
}
@Html.PagedListPager(Model, page_num => Url.Action("GetBlog", new { page_num, search_string = ViewBag.FilterValue, quick_filter = ViewBag.QuickFilter, quick_filter_value = ViewBag.QuickFilterValue, size_of_page = ViewBag.SizeOfPage, sort_list_return = ViewBag.SortListReturn }),
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "data_table" }))

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="defaultModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Bạn chắc chắn muốn xóa các blog này?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" onclick="cancelBtn()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a>
                    Thao tác này sẽ xóa các blog bạn đã chọn. Thao tác này không thể khôi phục.
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancelBtn()">Hủy</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="deleteBlog()">Xóa</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
            $("input[name='checkbox']").each(function () {
                $(this).prop("checked", false);
            });
            $('#form_action').trigger("reset");

            $(function () {
                var tootlTips = jQuery(".tooltip-wrapper");
                if (tootlTips.length > 0) {
                    $('[data-toggle="tooltip"]').tooltip();
                }
            });
        });

        function cancelBtn() {
            $('#checkToAction').val(-1);
        }

        var number_check = 0;
        $("input[type='checkbox']").change(function () {
            var checked = $(this).val();
            if (checked != -1) {
                $('.th_table').css('display', 'none');
                $('#select_action').css('display', 'block');
                if ($(this).is(':checked')) {
                    number_check++;
                    $('#number_of_checked').text("Đã chọn: " + number_check + " Blog");
                    if (number_check == @check_box_count) {
                        $("#select_all").prop("checked", true);
                    }
                } else {
                    $("#select_all").prop("checked", false);
                    number_check--;
                    $('#number_of_checked').text("Đã chọn: " + number_check + " Blog");
                    if (number_check == 0) {
                        $('.th_table').css('display', 'block');
                        $('#select_action').css('display', 'none');
                    }
                }
            }
            else {
                number_check = -1;
                $('.th_table').css('display', 'none');
                $('#select_action').css('display', 'block');

                $(':checkbox').prop('checked', $(this).prop("checked"));
                $(':checkbox').each(function () {
                    number_check++;
                });

                $('#number_of_checked').text("Đã chọn: " + number_check + " Blog");
            }
        });

        $('#select_all').change(function () {
            var select_all_value = $(this).val();
            if ($(this).prop("checked") == false) {
                number_check = 0;
                $(':checkbox').prop('checked', $(this).prop("checked"));
                $('.th_table').css('display', 'block');
                $('#select_action').css('display', 'none');
            }
            else {
                number_check = -1;
                $('.th_table').css('display', 'none');
                $('#select_action').css('display', 'block');

                $(':checkbox').prop('checked', $(this).prop("checked"));
                $(':checkbox').each(function () {
                    number_check++;
                });

                $('#number_of_checked').text("Đã chọn: " + number_check + " Blog");
            }
    });

    $('#checkToAction').change(function () {
            var action_value = $(this).val();
            var page_num = '@ViewBag.page_num';
            var search_string = '@ViewBag.FilterValue';
            var quick_filter_value = '@ViewBag.QuickFilterValue';
            var quick_filter = '@ViewBag.QuickFilter';
            var size_of_page = '@ViewBag.SizeOfPage';
            var sort_list_return = '@ViewBag.SortListReturn';

            var list_blog_id = [];

            $.each($("input[name='checkbox']:checked"), function () {
                list_blog_id.push($(this).val());
            });

            if (action_value == 1 || action_value == "1") {
                $.ajax({
                    url: "/Blog/HideStatusBlog",
                    data: {
                        list_blog_id: list_blog_id,
                        page_num: page_num,
                        search_string: search_string,
                        quick_filter_value: quick_filter_value,
                        quick_filter: quick_filter,
                        size_of_page: size_of_page,
                        sort_list_return: sort_list_return,
                    },
                    context: document.body,
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        showToast("success", 'Các blog vừa chọn đã được ẩn.', "Ẩn blog thành công");
                        $("#data_table").html($(data).find("#data_table"));
                    },
                    error: function (xhr, status) {
                        toastError();
                    },
                    complete: function (xhr, status) {
                    }
                });
            }
            else if (action_value == 2 || action_value == "2") {
                $.ajax({
                    url: "/Blog/ShowStatusBlog",
                    data: {
                        list_blog_id: list_blog_id,
                        page_num: page_num,
                        search_string: search_string,
                        quick_filter_value: quick_filter_value,
                        quick_filter: quick_filter,
                        size_of_page: size_of_page,
                        sort_list_return: sort_list_return,
                    },
                    context: document.body,
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        showToast("success", 'Các blog vừa chọn đã được hiển thị.', "Hiển thị blog thành công");
                        $("#data_table").html($(data).find("#data_table"));
                    },
                    error: function (xhr, status) {
                        toastError();
                    },
                    complete: function (xhr, status) {
                    }
                });
            }
            else if (action_value == 3 || action_value == "3") {
                $('#modalConfirmDelete').modal('show');
            }
    });

    function deleteBlog() {
        var page_num = '@ViewBag.page_num';
        var search_string = '@ViewBag.FilterValue';
        var quick_filter_value = '@ViewBag.QuickFilterValue';
        var quick_filter = '@ViewBag.QuickFilter';
        var size_of_page = '@ViewBag.SizeOfPage';
        var sort_list_return = '@ViewBag.SortListReturn';

        var list_blog_id = [];

        $.each($("input[name='checkbox']:checked"), function () {
            list_blog_id.push($(this).val());
        });

        $.ajax({
            url: "/Blog/DeleteBlog",
            data: {
                list_blog_id: list_blog_id,
                page_num: page_num,
                search_string: search_string,
                quick_filter_value: quick_filter_value,
                quick_filter: quick_filter,
                size_of_page: size_of_page,
                sort_list_return: sort_list_return
            },
            context: document.body,
            type: "POST",
            dataType: "html",
            success: function (data) {
                showToast("success", 'Các blog vừa chọn đã được xóa.', "Xóa blog thành công");
                $("#data_table").html($(data).find("#data_table"));
            },
            error: function (xhr, status) {
                toastError();
            },
            complete: function (xhr, status) {
            }
        });
    }

</script>