@using Data;
@using Data.Models;
@using Data.Providers;
@{
    ViewBag.Title = "Số liệu thống kê";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var current_datetime = System.DateTime.Now;
}

<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Số liệu thống kê / <span>Từ đầu tháng đến bây giờ </span><span class="title_thin font-14">(Ngày @current_datetime.ToString("dd/M/yyyy") lúc @current_datetime.ToString("HH:mm"))</span></h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">Số liệu thống kê</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->

<div class="gr-btn-action row">
    <div class="btn-group-left col-md-4">
        <a href="@Url.Action("ExportToExcel", "Product")" class="btn btn-square btn-inverse-light button-custom" style="background-color: none; padding-left: 0px;">Xuất báo cáo &nbsp;<i class="nav-icon ti ti-download"></i></a>
    </div>
    <div class="btn-group-right col-md-8" style="text-align: right">
        <div class="dropdown">
            <a class="btn btn-square btn-primary" href="@Url.Action("InsertOrder", "Order")">Lưu lại báo cáo</a>
            <button style="border-radius:0" class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Báo cáo đã lưu trước đó
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdown_select">
                <a>Chưa có báo cáo nào được lưu trữ</a>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="tab nav-border-bottom" style="width:100%; padding: 10px 15px;" id="tab_chart">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" onclick="onpenTabLineChart()">
                <a class="nav-link show active" id="tab_line_chart" data-toggle="tab" href="#line_chart" role="tab" aria-controls="line_chart" aria-selected="true">
                    <i class="dashicons dashicons-chart-line"></i> Biểu đồ đường - LineChart
                </a>
            </li>
            <li class="nav-item" onclick="onpenTabComboChart()">
                <a class="nav-link show" id="tab_combo_chart" data-toggle="tab" href="#combo_chart" role="tab" aria-controls="combo_chart" aria-selected="false">
                    <i class="dashicons dashicons-chart-bar"></i> Biểu đồ cột - ComboChart
                </a>
            </li>
            <li class="nav-item" onclick="onpenTabPieChart()">
                <a class="nav-link show" id="tab_pie_chart" data-toggle="tab" href="#pie_chart" role="tab" aria-controls="pie_chart" aria-selected="false">
                    <i class="dashicons dashicons-chart-pie"></i> Biểu đồ tròn - PieChart
                </a>
            </li>
            <li class="nav-item" onclick="onpenTabBarChart()">
                <a class="nav-link show" id="tab_bar_chart" data-toggle="tab" href="#bar_chart" role="tab" aria-controls="bar_chart" aria-selected="false">
                    <i class="dashicons dashicons-editor-alignright"></i> Biểu đồ thanh - BarChart
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="div_list_in_tab">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <form id="form_filter">
                                <div class="btn-group">
                                    <select class="custom-select" id="select_filter">
                                        <option value="1" selected="">Thống kê doanh thu theo khoảng thời gian</option>
                                        <option value="2">Thống kê doanh thu theo sản phẩm</option>
                                        <option value="3">Thống kê doanh thu theo kênh bán hàng</option>
                                        <option value="4">Thống kê doanh thu theo khách hàng</option>

                                    </select>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="col-md-8" style="text-align:right">
                        <form id="set_condition_show">
                            <div class="btn-group">
                                <select class="custom-select" id="option_select_time">
                                    <option value="time_default" selected>Khoảng thời gian là</option>
                                    <option value="time_custom">Tùy chọn ngày tháng năm</option>
                                </select>
                            </div>
                            <div class="btn-group">
                                <select class="custom-select" id="period">
                                    <option selected="" value="10" disabled>Tùy chọn khoảng thời gian</option>
                                    <option value="5">Hôm nay</option>
                                    <option value="10">Hôm qua</option>
                                    <option value="20">7 ngày trước</option>
                                    <option value="50">30 ngày trước</option>
                                    <option value="50">90 ngày trước</option>
                                    <option value="50">Tháng trước</option>
                                    <option value="50">Năm trước</option>
                                    <option value="50">Trong tuần này</option>
                                    <option value="50" selected>Trong tháng này</option>
                                    <option value="50">Trong quý này</option>
                                    <option value="50">Trong năm nay</option>
                                    <option value="50">Quý 1 năm nay</option>
                                    <option value="50">Quý 2 năm nay</option>
                                    <option value="50">Quý 3 năm nay</option>
                                    <option value="50">Quý 4 năm nay</option>
                                </select>
                                <div class="hidden_element">
                                    <div class="form-group" style="margin: auto;">
                                        <div class="input-group date" id="datepicker-bottom-left">
                                            <input class="form-control inputmask" style="border-radius:0" data-mask="99/99/9999" type="text" id="" name="" placeholder="Nhập ngày bắt đầu">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin: auto; padding-left: 3px">
                                        <div class="input-group date" id="datepicker-bottom-right">
                                            <input class="form-control inputmask" style="border-radius:0" data-mask="99/99/9999" type="text" id="" name="" placeholder="Nhập ngày kết thúc">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header center" style="text-align:center">
                            <div class="card-heading">
                                <h4 class="card-title">Thống kê doanh thu theo khoảng thời gian</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="apexchart-wrapper content_tab content_tab_line_chart" id="div_line_chart">
                                <div id="apexdemo3"></div>
                            </div>
                            <div class="morris-wrapper hidden_element content_tab content_tab_combo_chart" id="div_combo_chart">
                                <div id="morrisdemo3"></div>
                            </div>
                            <div class="c3chart-wrapper hidden_element content_tab content_tab_pie_chart" id="div_pie_chart">
                                <div id="c3demo6"></div>
                            </div>
                            <div class="apexchart-wrapper hidden_element content_tab content_tab_bar_chart" id="div_bar_chart">
                                <div id="apexdemo5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>

    <div class="table-responsive data-grid">
        <table class="table table-striped mb-0">
            <thead>
                <tr>
                    <th scope="col">
                        <p class="th_table">Ngày</p>
                    </th>
                    <th scope="col">
                        <p class="th_table">Số đơn hàng</p>
                    </th>
                    <th scope="col">
                        <p class="th_table">Doanh thu</p>
                    </th>
                    <th scope="col">
                        <p class="th_table">Giảm giá</p>
                    </th>
                    <th scope="col">
                        <p class="th_table">Doanh thu thuần</p>
                    </th>
                    <th scope="col">
                        <p class="th_table">Vận chuyển</p>
                    </th>
                    <th scope="col">
                        <p class="th_table">Tổng hóa đơn</p>
                    </th>
                    <th scope="col">
                        <p class="th_table">Đã thu</p>
                    </th>
                    <th scope="col">
                        <p class="th_table">Hoàn trả</p>
                    </th>
                    <th scope="col">
                        <p class="th_table">Số sản phẩm</p>
                    </th>
                    <th scope="col">
                        <p class="th_table">Số sản phẩm trả</p>
                    </th>
                </tr>
            </thead>

            <tbody>
                @if (ViewData["ListStatisticsThisMonth"] != null)
                {
                    int count_order = 0;
                    decimal revenue = 0;
                    decimal net_revenue = 0;
                    decimal discount = 0;
                    decimal shipping_fee = 0;
                    decimal total_cost_order = 0;
                    decimal amount_received = 0;
                    decimal amount_repay = 0;
                    int count_product = 0;
                    int count_product_repay = 0;
                    foreach (var obj in ViewData["ListStatisticsThisMonth"] as List<RevenuePerDayModel>)
                    {
                        count_order += obj.count_order;
                        revenue += obj.revenue;
                        net_revenue += obj.net_revenue;
                        discount += obj.discount;
                        shipping_fee += obj.shipping_fee;
                        total_cost_order += obj.total_cost_order;
                        amount_received += obj.amount_received;
                        amount_repay += obj.amount_repay;
                        count_product += obj.count_product;
                        count_product_repay += obj.count_product_repay;
                        <tr class="tr_statistics">
                            <td>@obj.create_datetime.ToString("dd/MM/yyy")</td>

                            <td>@obj.count_order</td>
                            <td class="showNumeric">@obj.revenue</td>
                            @if (@obj.discount > 0)
                            {
                                <td>- <span class="showNumeric">@obj.discount</span></td>

                            }
                            else
                            {
                                <td class="showNumeric">@obj.discount</td>
                            }
                            <td class="showNumeric">@obj.net_revenue</td>
                            <td class="showNumeric">@obj.shipping_fee</td>
                            <td class="showNumeric">@obj.total_cost_order</td>
                            <td class="showNumeric">@obj.amount_received</td>
                            <td class="showNumeric">@obj.amount_repay</td>
                            <td>@obj.count_product</td>
                            <td>@obj.count_product_repay</td>
                        </tr>
                    }
                    <tr class="font-bold">
                        <td align="center">TỔNG</td>
                        <td>@count_order</td>
                        <td class="showNumeric">@revenue</td>
                        @if (discount > 0)
                        {
                            <td>- <span class="showNumeric">@discount</span></td>

                        }
                        else
                        {
                            <td class="showNumeric">@discount</td>
                        }
                        <td class="showNumeric">@net_revenue</td>
                        <td class="showNumeric">@shipping_fee</td>
                        <td class="showNumeric">@total_cost_order</td>
                        <td class="showNumeric">@amount_received</td>
                        <td class="showNumeric">@amount_repay</td>
                        <td>@count_product</td>
                        <td>@count_product_repay</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#statistics').addClass('active');

        $('form').trigger('reset');

        $.getJSON('/Statistics/GetListRevenueFromFirstDateOfMonthToCurrent', function (data) {

            //var data_json = JSON.parse(data);
            var arr_revenue = [];
            var arr_day = [];
            if (data.arr_revenue.length > 0) {
                $.each(data.arr_revenue, function (i, value) {
                    arr_revenue.push(value);
                });
            }
            if (data.arr_day.length > 0) {
                $.each(data.arr_day, function (i, value) {
                    console.log(value);
                    arr_day.push(value);
                });
            }
            //LineChart
            var apexdemo3 = jQuery('#apexdemo3')
            if (apexdemo3.length > 0) {
                var options = {
                    chart: {
                        height: 350,
                        type: 'area',
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        curve: 'smooth'
                    },
                    series: [{
                        name: 'Doanh thu',
                        data: arr_revenue
                    }],
                    colors: ['#8E54E9'],
                    xaxis: {
                        //type: 'category',
                        labels: {
                            formatter: function (value, index) {
                                return (new Date(value)).format("dd/mm");
                            }
                        },
                        categories: arr_day,
                    },
                    //xaxis: {
                    //    type: 'datetime',
                    //    //type: 'dd/MM/yyy',
                    //    //categories: ["2018-09-19T00:00:00", "2018-09-19T01:30:00", "2018-09-19T02:30:00", "2018-09-19T03:30:00", "2018-09-19T04:30:00", "2018-09-19T05:30:00", "2018-09-19T06:30:00"],
                    //    //categories: ["2018-09-19", "2018-09-20", "2018-09-21", "2018-09-22", "2018-09-23", "2018-09-24", "2018-09-25"],
                    //    categories: arr_day,
                    //},
                    yaxis: {
                        labels: {
                            /**
                            * Allows users to apply a custom formatter function to yaxis labels.
                            *
                            * param { String } value - The generated value of the y-axis tick
                            * param { index } index of the tick / currently executing iteration in yaxis labels array
                            */
                            formatter: function (val, index) {
                                return formatNumber(val) + " ₫";
                                //return (val / 1000).toFixed(3) + " ₫";
                            }
                        }
                    },
                    tooltip: {
                        x: {
                            format: 'dd/MM/yyyy',
                            formatter: undefined,
                        },
                        y: {
                            //formatter: (value) => { return value + "%" },
                            formatter: (value) => { return formatNumber(value) + " ₫" },
                            //formatter: (value) => { return (value / 1000).toFixed(3) + " ₫" },
                        },
                        //custom: function ({ series, seriesIndex, dataPointIndex, w }) {
                        //    return '<div class="arrow_box">' +
                        //        '<span class="showNumeric">' + series[seriesIndex][dataPointIndex] + '</span>' +
                        //        '</div>'
                        //}
                    }
                }

                var chart = new ApexCharts(
                    document.querySelector("#apexdemo3"),
                    options
                );
                chart.render();
            }
        });


        // morris combo chart
        var morrisdemo3 = jQuery("#morrisdemo3");
        if (morrisdemo3.length > 0) {
            Morris.Bar({
                element: morrisdemo3,
                data: [
                    { y: '2006', a: 100 },
                    { y: '2007', a: 75 },
                    { y: '2008', a: 50 },
                    { y: '2009', a: 75 },
                    { y: '2010', a: 50 },
                    { y: '2011', a: 75 },
                    { y: '2012', a: 100 }
                ],
                xkey: 'y',
                ykeys: ['a'],
                labels: ['Series A'],
                barColors: ['#4776E6'],
                resize: true,
                fillOpacity: 0.4,
                padding: 15,
                grid: false,
                gridTextFamily: 'Roboto',
                gridTextSize: 10
            });
        }

        //PIECHART
        var c3demo6 = jQuery("#c3demo6");
        if (c3demo6.length > 0) {
            var chart = c3.generate({
                bindto: '#c3demo6',
                data: {
                    columns: [
                        ["desktop", 0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, 0.1, 0.2, 0.2, 0.1, 0.1, 0.2, 0.4, 0.4, 0.3, 0.3, 0.3, 0.2, 0.4, 0.2, 0.5, 0.2, 0.2, 0.4, 0.2, 0.2, 0.2, 0.2, 0.4, 0.1, 0.2, 0.2, 0.2, 0.2, 0.1, 0.2, 0.2, 0.3, 0.3, 0.2, 0.6, 0.4, 0.3, 0.2, 0.2, 0.2, 0.2],
                        ["tablet", 1.4, 1.5, 1.5, 1.3, 1.5, 1.3, 1.6, 1.0, 1.3, 1.4, 1.0, 1.5, 1.0, 1.4, 1.3, 1.4, 1.5, 1.0, 1.5, 1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7, 1.5, 1.0, 1.1, 1.0, 1.2, 1.6, 1.5, 1.6, 1.5, 1.3, 1.3, 1.3, 1.2, 1.4, 1.2, 1.0, 1.3, 1.2, 1.3, 1.3, 1.1, 1.3],
                        ["mobile", 2.5, 1.9, 2.1, 1.8, 2.2, 2.1, 1.7, 1.8, 1.8, 2.5, 2.0, 1.9, 2.1, 2.0, 2.4, 2.3, 1.8, 2.2, 2.3, 1.5, 2.3, 2.0, 2.0, 1.8, 2.1, 1.8, 1.8, 1.8, 2.1, 1.6, 1.9, 2.0, 2.2, 1.5, 1.4, 2.3, 2.4, 1.8, 1.8, 2.1, 2.4, 2.3, 1.9, 2.3, 2.5, 2.3, 1.9, 2.0, 2.3, 1.8],
                    ],
                    colors: {
                        desktop: '#8E54E9',
                        tablet: '#4776E6',
                        mobile: '#ffbc1d'
                    },
                    type: 'donut',
                },
                donut: {
                    title: "Browser Statistic"
                }
            });
        }
        //$('.c3-legend-item').off('click');
        //$('.c3-legend-item-event').off('click');
        //$('.c3-legend-item-tile').off('click');

        //BARCHART
        var apexdemo5 = jQuery('#apexdemo5')
        if (apexdemo5.length > 0) {
            var options = {
                chart: {
                    height: 420,
                    type: 'bar',
                },
                plotOptions: {
                    bar: {
                        horizontal: true,
                    }
                },
                colors: ['#8E54E9'],
                dataLabels: {
                    enabled: false
                },
                series: [{
                    data: [400, 430, 448, 470, 540, 580, 690, 1100, 1200, 1380]
                }],
                xaxis: {
                    categories: ['South Korea', 'Canada', 'United Kingdom', 'Netherlands', 'Italy', 'France', 'Japan', 'United States', 'China', 'Germany'],
                }
            }

            var chart = new ApexCharts(
                document.querySelector("#apexdemo5"),
                options
            );

            chart.render();

        }

        //tabFilter();
    });


    //function tabFilter() {
    //    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    //        $('.content_tab').addClass('hidden_element');
    //        var target = $(e.target).attr("id");
    //        $('.content_' + target).removeClass('hidden_element');
    //    });
    //}

    function onpenTabLineChart() {
        $('#div_line_chart').removeClass('hidden_element');
        $('#div_combo_chart').addClass('hidden_element');
        $('#div_pie_chart').addClass('hidden_element');
        $('#div_bar_chart').addClass('hidden_element');
    }

    function onpenTabComboChart() {
        $('#div_line_chart').addClass('hidden_element');
        $('#div_combo_chart').removeClass('hidden_element');
        $('#div_pie_chart').addClass('hidden_element');
        $('#div_bar_chart').addClass('hidden_element');
    }

    function onpenTabPieChart() {
        $('#div_line_chart').addClass('hidden_element');
        $('#div_combo_chart').addClass('hidden_element');
        $('#div_pie_chart').removeClass('hidden_element');
        $('#div_bar_chart').addClass('hidden_element');
    }

    function onpenTabBarChart() {
        $('#div_line_chart').addClass('hidden_element');
        $('#div_combo_chart').addClass('hidden_element');
        $('#div_pie_chart').addClass('hidden_element');
        $('#div_bar_chart').removeClass('hidden_element');
    }

    function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
    }

</script>