@model Data.blog
@using Data
@using Data.Providers
@{
    ViewBag.Title = "Kiến thức hữu ích Quỳnh Boki";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];

    var list_blog_newest = new BlogProvider().getIsShowing().OrderByDescending(b => b.show_datetime).Take(5).ToList();
    var list_bg = new ProductProvider().getByCategoryIdOnSite(59);
    var list_tl = new ProductProvider().getByCategoryIdOnSite(60);


    var logo_header = new StoreLogoProvider().getLogoHeader();

    ViewBag.Keywords = "Chia sẻ, tin tức, sự kiện, TPA lock";
    ViewBag.Description = "Chia sẻ những bài viết thú vị và mới nhất từ TPA Lock";
    ViewBag.Canonical = urlSite + "/blogs";
    ViewBag.Alternate = urlSite + "/blogs";
    ViewBag.Url = urlSite + "/blogs";
    ViewBag.Image = urlCMS + "/" + logo_header.image;
}

<!-- ============================ Page Title Start================================== -->
<section class="page-title theme-ov" style="background:#f4f4f4 url(../Assets/img/banner-4.jpg);" data-overlay="8">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="breadcrumbs-wrap">
                    <h1 class="breadcrumb-title">Kiến thức hữu ích</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Kiến thức hữu ích</li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ Page Title End ================================== -->
<!-- ============================ Agency List Start ================================== -->
<section class="gray">
    <div class="container">
        <!-- row Start -->
        <div class="row">
            <!-- Blog Detail -->
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <div id="data_table">
                    @{Html.RenderAction("GetBlog", "Blog", new { page_num = ViewBag.page_num });}
                </div><!-- /container -->
            </div>

            <!-- Single blog Grid -->
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">

                <!-- Categories -->
                <div class="single_widgets widget_category">
                    <h4 class="title">Khóa học và tài liệu</h4>
                    <ul>
                        @foreach (var bg in list_bg)
                        {
                            <li><a href="/courses/@bg.seo_alias">@bg.product_name</a></li>
                        }
                        @foreach (var tl in list_tl)
                        {
                            <li><a href="/documents/@tl.seo_alias">@tl.product_name</a></li>
                        }
                    </ul>
                </div>

                <!-- Trending Posts -->
                <div class="single_widgets widget_thumb_post" id="widget_thumb_post">
                    <h4 class="title">Bài viết mới nhất</h4>
                    <ul>
                        @foreach (var blog in list_blog_newest)
                        {
                            <li>
                                <span class="left">
                                    <img src="@urlCMS/@blog.blog_image" alt="@blog.blog_alt_image" class="">
                                </span>
                                <span class="right">
                                    <a class="feed-title" href="/blogs/@blog.blog_seo_alias">@blog.blog_title</a>
                                    <span class="post-date"><i class="ti-calendar"></i>@blog.create_datetime.Value.ToString("dd/MM/yyyy")</span>
                                </span>
                            </li>
                        }
                    </ul>
                </div>
            </div>

        </div>
        <!-- /row -->

    </div>

</section>
<!-- ============================ Agency List End ================================== -->

<script>
    $(document).ready(function () {
        var width_device = $(window).width();
        if (width_device >= 1024) {
            var q2w3_sidebar_1_options = {
                "sidebar": "widget_thumb_post",
                "margin_top": 100,
                "margin_bottom": 500,
                "screen_max_width": 0,
                "width_inherit": false,
                "widgets": ['widget_thumb_post']
            };
            q2w3_sidebar(q2w3_sidebar_1_options);
            setInterval(function () { q2w3_sidebar(q2w3_sidebar_1_options); }, 500);
        }
    });
</script>
