@using Data;
@using Data.Providers;
@{
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];

    var list_product = new ProductProvider().getNewestShowing();

    var list_page_link = new PageProvider().getListShow();
    var list_page_parent = list_page_link.Where(p => p.page_parent_id == null).ToList();
    var list_page_2 = list_page_link.Where(p => p.mount_on_header_menu_status == false && p.mount_on_footer_menu_status == false).ToList();

    var favicon = new StoreLogoProvider().getFavicon();
    var logo_header = new StoreLogoProvider().getLogoHeader();
    var logo_footer = new StoreLogoProvider().getLogoFooter();
    var logo_mobile = new StoreLogoProvider().getLogoMobile();
    var contact = new StoreContactProvider().get1Contact();
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Agrotek – Agriculture HTML Template" />
    <meta name="author" content="https://www.themetechmount.com/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewBag.Title</title>

    <!-- favicon icon -->
    <link rel="shortcut icon" href="@urlCMS/@favicon.image" />
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/bootstrap.min.css" />
    <!-- animate -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/animate.css" />
    <!-- slick-slider -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="../Assets/css/slick-theme.css">
    <!-- fontawesome -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/font-awesome.css" />
    <!-- themify -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/themify-icons.css" />
    <!-- flaticon -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/flaticon.css" />
    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="../Assets/revolution/css/rs6.css">
    <!-- prettyphoto -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/prettyPhoto.css">
    <!-- shortcodes -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/shortcodes.css" />
    <!-- main -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/main.css" />
    <link href="~/Assets/css/custom.css" rel="stylesheet" />
    <link href="~/Assets/css/PagedList.css" rel="stylesheet" />
    <!-- responsive -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/responsive.css" />
    <script src="../Assets/js/jquery.min.js"></script>

</head>

<body>

    <!--page start-->
    <div class="page">
        <!--header start-->
        <header id="masthead" class="header ttm-header-style-01">
            <!-- ttm-header-wrap -->
            <div class="ttm-header-wrap">
                <!-- ttm-stickable-header-w -->
                <div id="ttm-stickable-header-w" class="ttm-stickable-header-w clearfix">
                    <!-- ttm-topbar-wrapper -->
                    <div class="ttm-topbar-wrapper clearfix">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ttm-topbar-content">
                                        <ul class="top-contact text-left">
                                            <li>
                                                <marquee>Bio Việt xin chào! Cảm ơn bạn vì hôm nay đã chọn chúng tôi!</marquee>
                                            </li>
                                        </ul>
                                        <div class="topbar-right text-right">
                                            <ul class="top-contact">
                                                <li>Giờ làm việc : @contact.working_hour</li>
                                            </ul>
                                            <div class="ttm-social-links-wrapper list-inline">
                                                <ul class="social-icons">
                                                    <li>
                                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-flickr"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- ttm-topbar-wrapper end -->
                    <div class="ttm-widget_header">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="d-flex flex-row align-items-center">
                                        <!-- site-branding -->
                                        <div class="site-branding mr-auto">
                                            <a class="home-link" href="/" title="Agrotek" rel="home">
                                                <img src="@urlCMS/@logo_header.image" id="@logo_header.alt" class="img-center" alt="@logo_header.alt">
                                            </a>
                                        </div><!-- site-branding end -->
                                        <!-- widget-info -->
                                        <div class="widget_info d-flex flex-row align-items-center justify-content-end">
                                            <div class="widget_icon"><i class="flaticon-call"></i></div>
                                            <div class="widget_content">
                                                <h5 class="widget_title">Tư vấn viên</h5>
                                                <p class="widget_desc">@contact.phone_number</p>
                                            </div>
                                        </div><!-- widget-info end -->
                                        <!-- widget-info -->
                                        <div class="widget_info d-flex flex-row align-items-center justify-content-end">
                                            <div class="widget_icon"><i class="flaticon-email"></i></div>
                                            <div class="widget_content">
                                                <h5 class="widget_title">Email liên hệ</h5>
                                                <p class="widget_desc">@contact.email</p>
                                            </div>
                                        </div><!-- widget-info end -->
                                        <!-- widget-info -->
                                        <div class="widget_info d-flex flex-row align-items-center justify-content-end">
                                            <div class="widget_icon"><i class="flaticon-worldwide"></i></div>
                                            <div class="widget_content">
                                                <h5 class="widget_title">Địa chỉ văn phòng</h5>
                                                <p class="widget_desc">@contact.address</p>
                                            </div>
                                        </div><!-- widget-info end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="site-header-menu" class="site-header-menu">
                        <div class="site-header-menu-inner ttm-stickable-header">
                            <div class="container">
                                <!--site-navigation -->
                                <div id="site-navigation" class="site-navigation">
                                    <!-- header-icons -->
                                    <div class="ttm-header-icons ">
                                        <div class="ttm-header-icon ttm-header-search-link">
                                            <a href="#" class="sclose"><i class="ti ti-search"></i></a>
                                            <div class="ttm-search-overlay">
                                                <div class="ttm-bg-layer"></div>
                                                <div class="ttm-icon-close"></div>
                                                <div class="ttm-search-outer">
                                                    <form method="get" class="ttm-site-searchform" action="#">
                                                        <input type="search" class="field searchform-s" name="s" placeholder="Nhập tên sản phẩm cần tìm kiếm...">
                                                        <button type="submit">
                                                            <i class="ti ti-search"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- header-icons end -->
                                    <div class="ttm-menu-toggle">
                                        <input type="checkbox" id="menu-toggle-form" />
                                        <label for="menu-toggle-form" class="ttm-menu-toggle-block">
                                            <span class="toggle-block toggle-blocks-1"></span>
                                            <span class="toggle-block toggle-blocks-2"></span>
                                            <span class="toggle-block toggle-blocks-3"></span>
                                        </label>
                                    </div>
                                    <nav id="menu" class="menu">
                                        <ul>
                                            <li>
                                                <a href="/">Trang chủ</a>
                                            </li>

                                            @if (list_page_parent.Count > 0)
                                            {
                                                foreach (var pp in list_page_parent)
                                                {
                                                    if (pp.mount_on_header_menu_status == true)
                                                    {
                                                        var list_page_child = new PageProvider().getListShow().Where(p => p.page_parent_id == pp.page_id).ToList();
                                                        if (list_page_child.Count > 0)
                                                        {
                                                            <li>
                                                                <a href="/pages/@pp.page_seo_alias">
                                                                    @pp.page_title
                                                                </a>

                                                                <ul>
                                                                    @foreach (var pc in list_page_child)
                                                                    {
                                                                        <li>
                                                                            <a href="/pages/@pc.page_seo_alias" class="nav-link">
                                                                                @pc.page_title
                                                                            </a>
                                                                        </li>
                                                                    }

                                                                </ul>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                <a href="/pages/@pp.page_seo_alias" class="nav-link">
                                                                    @pp.page_title
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                }

                                            }


                                            <li>
                                                <a href="#">Giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Đông trùng hạ thảo</a>
                                                <ul>
                                                    @foreach (var product in list_product)
                                                    {
                                                        <li><a href="/@product.seo_alias">@product.product_name</a></li>
                                                    }
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/blogs">Tin tức và sự kiện</a>
                                            </li>
                                            <li>
                                                <a href="/pages/lien-he">Liên hệ</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div><!-- site-navigation end-->
                            </div>
                        </div>
                    </div>
                </div><!-- ttm-stickable-header-w end-->
            </div><!--ttm-header-wrap end -->
        </header><!--header end-->
        @RenderBody()
        <!--footer start-->
        <footer class="footer widget-footer clearfix">
            <div class="first-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="cta_wrapper">
                                <div class="ttm-quicklink-box">
                                    <div class="ttm-leftlink-box">
                                        <h5 class="custom-heading"><a href="#"> <span class="ti ti-arrow-circle-left ttm-arrow-box"></span> Chỉ dẫn tới địa chỉ văn phòng</a></h5>
                                        <i class="flaticon flaticon-house ttm-textcolor-skincolor"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ttm-custom-ctabox">
                                <div class="cta-bg-icon"><span class="flaticon-support"></span></div>
                                <h3 class="ttm-cta-heading ttm-textcolor-skincolor">Gọi cho chúng tôi</h3>
                                <h5 class="ttm-cta-content">@contact.phone_number</h5>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="cta_wrapper">
                                <div class="ttm-quicklink-box">
                                    <div class="ttm-rightlink-box">
                                        <i class="flaticon flaticon-clock ttm-textcolor-skincolor"></i>
                                        <h5 class="custom-heading"><a href="#"> Thời gian: @contact.working_hour <span class="ti ti-arrow-circle-right ttm-arrow-box"></span></a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="second-footer ttm-textcolor-white">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                            <div class="widget widget_text  clearfix">
                                <h3 class="widget-title"> Bio Việt</h3>
                                <div class="">
                                    <p>
                                        Với phương châm "Hợp tác để cùng thành công", và định hướng "Liên tục cải tiến" Bioviet đã luôn nỗ lực cả về nhân lực, xây dựng uy tín thương hiệu, niềm tin với khách hàng với những sản phẩm chúng tôi cung cấp.
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                            <div class="widget link-widget clearfix">
                                <h3 class="widget-title">Liên kết nhanh</h3>
                                <ul id="menu-footer-services">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Our Services</a></li>
                                    <li><a href="#">Nomadic Herding</a></li>
                                    <li><a href="#">Veterinary Services</a></li>
                                    <li><a href="#">Commercial Plant</a></li>
                                    <li><a href="#">Farm Labor Management</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                            <div class="widget widget_text clearfix">
                                <h3 class="widget-title">Dự án mới nhất</h3>
                                <ul class="widget-post ttm-recent-post-list">
                                    <li>
                                        <a href="single-blog.html"><img src="../Assets/images/blog/01.jpg" alt="post-img"></a>
                                        <span class="post-date"><i class="fa fa-calendar"></i>May 01, 2019</span>
                                        <a href="single-blog.html">Outdoor Vintage Flower Garden Decor</a>
                                    </li>
                                    <li>
                                        <a href="single-blog.html"><img src="../Assets/images/blog/02.jpg" alt="post-img"></a>
                                        <span class="post-date"><i class="fa fa-calendar"></i>May 03, 2019</span>
                                        <a href="single-blog.html">Grow Your Own Yard Garden For Better Life</a>
                                    </li>
                                    <li>
                                        <a href="single-blog.html"><img src="../Assets/images/blog/03.jpg" alt="post-img"></a>
                                        <span class="post-date"><i class="fa fa-calendar"></i>May 05, 2019</span>
                                        <a href="single-blog.html">Rural Infrastructure for Great Agriculture</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                            <div class="widget contact-widget">
                                <h3 class="widget-title">Liên hệ</h3>
                                <ul class="contact-widget-wrapper">
                                    <li><i class="fa fa-map-marker"></i>@contact.address</li>
                                    <li><i class="fa fa-phone"></i>@contact.phone_number </li>
                                    <li><i class="fa fa-envelope-o"></i><a href="mailto:@contact.email" target="_blank">@contact.email</a></li>
                                </ul>
                                <div class="social-icons circle social-hover">
                                    <ul class="list-inline">
                                        <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="social-twitter"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li class="social-flickr"><a class=" tooltip-top" target="_blank" href="#" data-tooltip="flickr"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                                        <li class="social-linkedin"><a class=" tooltip-top" target="_blank" href="#" data-tooltip="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer-text ttm-textcolor-white">
                <div class="container">
                    <div class="row copyright">
                        <div class="col-md-12">
                            <div class="text-center">
                                <span>Bản quyền thuộc về &nbsp;<a href="#">Bio Việt</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer end-->
        <!--back-to-top start-->
        <a id="totop" href="#top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!--back-to-top end-->

    </div><!-- page end -->
    <!-- Javascript -->

    <script src="../Assets/js/tether.min.js"></script>
    <script src="../Assets/js/bootstrap.min.js"></script>
    <script src="../Assets/js/jquery.easing.js"></script>
    <script src="../Assets/js/jquery-waypoints.js"></script>
    <script src="../Assets/js/jquery-validate.js"></script>
    <script src="../Assets/js/slick.js"></script>
    <script src="../Assets/js/slick.min.js"></script>
    <script src="../Assets/js/jquery.prettyPhoto.js"></script>
    <script src="../Assets/js/numinate.min6959.js?ver=4.9.3"></script>
    <script src="../Assets/js/main.js"></script>
    <script src="~/Assets/js/autoNumeric.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <!-- Revolution Slider -->
    <script src="../Assets/revolution/js/revolution.tools.min.js"></script>
    <script src="../Assets/revolution/js/rs6.min.js"></script>
    <script src="../Assets/revolution/js/slider.js"></script>

    <!-- Javascript end-->

    <script>
        $(document).ready(function () {
            $(".showNumeric").autoNumeric('init', { aSign: ' ₫', pSign: 's', mDec: '0', aSep: '.', aDec: ',' });
            var width_device = $(window).width();
            if (width_device >= 1024) {
                var q2w3_sidebar_1_options = {
                    "sidebar": "widget-area",
                    "margin_top": 50,
                    "margin_bottom": 1000,
                    "screen_max_width": 0,
                    "width_inherit": false,
                    "widgets": ['widget_media_image', 'widget_media_gallery']
                };
                q2w3_sidebar(q2w3_sidebar_1_options);
                setInterval(function () { q2w3_sidebar(q2w3_sidebar_1_options); }, 1500);
            }
        });
    </script>
</body>
</html>