@using Data;
@using Data.Providers;
@{
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];

    var list_category_parent = new CategoryProvider().getListParentCategory();
    var contact = new StoreContactProvider().get1Contact();
    var list_page_footer = new PageProvider().getListShow().Where(p => p.mount_on_footer_menu_status == true);
    var list_blog_footer = new BlogProvider().getIsShowing().Take(2);

    string fb_link = System.Configuration.ConfigurationManager.AppSettings["fb_link"];
    string instagram_link = System.Configuration.ConfigurationManager.AppSettings["instagram_link"];
    string zalo_link = System.Configuration.ConfigurationManager.AppSettings["zalo_link"];
    string shopee_link = System.Configuration.ConfigurationManager.AppSettings["shopee_link"];
    string lazada_link = System.Configuration.ConfigurationManager.AppSettings["lazada_link"];
    string youtube_link = System.Configuration.ConfigurationManager.AppSettings["youtube_link"];
    string tiktok_link = System.Configuration.ConfigurationManager.AppSettings["titok_link"];

}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="vi">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="author" content="Diwe.vn">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/bootstrap.css">
    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="../Assets/css/jquery.datetimepicker.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../Assets/css/colors/color1.css" id="colors">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/animate.css">
    <link href="../Assets/css/custom.css" rel="stylesheet" />

    <!-- Favicon and touch icons  -->
    <link href="../Assets/icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon" sizes="48x48">
    <link href="../Assets/icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="../Assets/icon/favicon.png" rel="shortcut icon">

    <!--[if lt IE 9]>
        <script src="../Assets/js/html5shiv.js"></script>
        <script src="../Assets/js/respond.min.js"></script>
        <![endif]-->
</head>

<body class="">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v8.0&appId=965123880647474&autoLogAppEvents=1" nonce="w76uFULn"></script>

    <section class="loading-overlay">
        <div class="Loading-Page">
            <h2 class="loader">Loading</h2>
        </div>
    </section>

    <div class="box">
        <header id="header" class="header clearfix">
            <div class="header-wrap clearfix">
                <div class="container">
                    <div class="logo-mobi"><a href="#"> <img src="../Assets/images/logo.png" alt="image"></a></div>
                    <div class="btn-menu">
                        <span></span>
                    </div>
                    <nav id="mainnav" class="mainnav">
                        <ul class="menu">
                            <li class="has-sub">
                                <a href="/">Trang chủ</a>
                            </li>
                            <li>
                                <a href="/pages/ve-chung-toi">Về chúng tôi</a>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">Sản phẩm </a>
                                <ul class="submenu right-sub-menu ">
                                    @foreach (var category_parent in list_category_parent)
                                    {
                                        if (category_parent.status == true && category_parent.show_datetime <= DateTime.Now)
                                        {
                                            <li><a href="/collections/@category_parent.seo_alias">@category_parent.category_name</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                            <li class="logo">
                                <a href="/"> <img src="../Assets/images/logo.png" alt="image"></a>
                            </li>
                            <li class="has-sub"> <a href="about.html">Đại lý và cửa hàng</a></li>
                            <li>
                                <a href="/blogs">Blog</a>

                            </li>
                            <li class="has-sub"> <a href="/pages/lien-he">Liên hệ</a></li>
                        </ul><!--/.menu -->
                    </nav><!--/.mainnav -->
                </div><!--/.container -->
            </div><!--/.header-wrap -->
        </header><!--/.header -->

        @RenderBody()

        <footer class="footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="widget widget_text">
                                <h3 class="widget-title">TOKAIDO</h3>
                                <div class="textwidget">
                                    <p>Chuyên phân phối các dòng sản phẩm đồ gia dụng, đồ dùng sinh hoạt,... tới đại lý.</p>
                                    <ul class="footer-info">
                                        <li class="address">
                                            @contact.address
                                        </li>
                                        <li class="email">Email us: @contact.email</li>
                                        <li class="phone">Call us: @contact.phone_number</li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.col-md-3 -->

                        <div class="col-md-3">
                            <div class="widget widget_recent_posts">
                                <h3 class="widget-title">Bài viết nổi bật</h3>
                                <ul>
                                    @foreach (var blog in list_blog_footer)
                                    {
                                        <li class="clearfix">
                                            <div class="thumb flat-hover-images">
                                                <a href="/blogs/@blog.blog_seo_alias"><img src="@urlCMS/@blog.blog_image" alt="@blog.blog_alt_image"></a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title"><a href="/blogs/@blog.blog_seo_alias">@blog.blog_title </a></h5>
                                                <div class="meta">@blog.show_datetime.Value.ToString("HH:mm dd/MM/yyyy")</div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div><!-- /.widget_recent_entries -->
                        </div><!-- /.col-md-3 -->

                        <div class="col-md-3">
                            <div class="widget widget-link clearfix">
                                <h3 class="widget-title">Liên kết</h3>

                                <ul class="links">
                                    @foreach (var page in list_page_footer)
                                    {
                                        <li><a href="/pages/@page.page_seo_alias">@page.page_title</a></li>
                                    }
                                </ul>


                                <div class="social-links">
                                    <a href="@fb_link" target="_blank"><i class="fa fa-facebook-square"></i>Facebok</a>
                                    <a href="@instagram_link" target="_blank"><i class="fa fa-instagram"></i>Instagram</a>
                                    <a href="@youtube_link" target="_blank"><i class="fa fa-youtube"></i>Youtube</a>
                                </div>
                            </div>
                        </div><!-- /.col-md-3 -->

                        <div class="col-md-3">
                            <div class="widget widget_instagram">
                                <h3 class="widget-title">Map</h3>

                                @Html.Raw(contact.map)

                            </div><!-- /.widget_instagram -->
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.footer-widgets -->

            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <div class="copyright-content">
                                    Copyright © 2020. Designer by <a href="https://diwe.vn"> Diwe.vn</a>.
                                </div>
                            </div>
                            <!-- Go Top -->
                            <a class="go-top-v1"> <i class="fa fa-arrow-up"></i>  &nbsp;Lên đầu trang</a>
                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.footer-content -->
        </footer>

    </div><!--box -->
    <!-- Javascript -->
    <script type="text/javascript" src="../Assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../Assets/js/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="../Assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../Assets/js/jquery.easing.js"></script>
    <script type="text/javascript" src="../Assets/js/imagesloaded.min.js"></script>
    <script type="text/javascript" src="../Assets/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="../Assets/js/jquery-waypoints.js"></script>
    <script type="text/javascript" src="../Assets/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="../Assets/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../Assets/js/parallax.js"></script>
    @*<script type="text/javascript" src="../Assets/js/smoothscroll.js"></script>*@
    <script type="text/javascript" src="../Assets/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="../Assets/js/owl.carousel.js"></script>
    <script type="text/javascript" src="../Assets/js/jquery-validate.js"></script>
    <!-- <script type="text/javascript" src="../Assets/js/switcher.js"></script> -->
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvV0EE3yFozGhjmUv3BgoyviVdXzCwHlk"></script>*@
    <script type="text/javascript" src="../Assets/js/gmap3.min.js"></script>
    <script type="text/javascript" src="../Assets/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="../Assets/js/main.js"></script>

    <!-- Revolution Slider -->
    <script type="text/javascript" src="../Assets/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="../Assets/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="../Assets/js/slider.js"></script>

</body>
</html>