@model Data.blog
@using Data
@using Data.Providers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.blog_title;

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];

    var list_blog_related = new BlogProvider().getIsShowing().Where(b => b.blog_category_id == Model.blog_category_id && b.blog_id != Model.blog_id).ToList();
    var list_blog_newest = new BlogProvider().getIsShowing().Where(b => b.blog_id != Model.blog_id).OrderByDescending(b => b.show_datetime).Take(5).ToList();

    var newest_blog = new BlogProvider().getNewest().Take(5).ToList();
    var list_bc = new BlogCategoryProvider().getAll();
    var list_khoa_hoc = new ProductProvider().getByCategoryIdOnSite(55);


    var list_tag = new TagProvider().getByBlogId(Model.blog_id);
    var meta_keyword = "";
    if (list_tag.Count > 0)
    {
        foreach (var tag in list_tag)
        {
            meta_keyword += tag.tag_name + ", ";
        }
    }

    ViewBag.Keywords = meta_keyword + Model.blog_seo_header;
    ViewBag.Description = Model.blog_seo_description;
    ViewBag.Canonical = urlSite + "/articles/" + Model.blog_seo_alias;
    ViewBag.Alternate = urlSite + "/articles/" + Model.blog_seo_alias;
    ViewBag.Url = urlSite + "/articles/" + Model.blog_seo_alias;
    ViewBag.Image = urlCMS + "/" + Model.blog_image;
}

<section class="page-header bg-cover has-overlay" style="background-image: url('../Assets/images/page-header-05.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title text-white font-weight-bold mb-20">@Model.blog_title</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent justify-content-center p-0 font-weight-600 mb-0">
                        <li class="breadcrumb-item"><a class="text-primary" href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a class="text-primary" href="/">Tin tức</a></li>
                        @if (Model.blog_category != null)
                        {
                            <li class="breadcrumb-item"><a class="text-primary" href="/blog-categories/@Model.blog_category.blog_category_seo_alias">@Model.blog_category.blog_category_name</a></li>
                        }
                        <li class="breadcrumb-item active" aria-current="page">@Model.blog_title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- start of page-header -->
<section class="py-80 bg-gray section-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title font-weight-bold mb-20">@Model.blog_title</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-0 font-weight-500 mb-0">
                        <li class="breadcrumb-item"><a class="text-primary" href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a class="text-primary" href="/">Tin tức</a></li>
                        @if (Model.blog_category != null)
                        {
                            <li class="breadcrumb-item"><a class="text-primary" href="/blog-categories/@Model.blog_category.blog_category_seo_alias">@Model.blog_category.blog_category_name</a></li>
                        }
                        <li class="breadcrumb-item active" aria-current="page">@Model.blog_title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- end of page-header -->
<!-- start of courses-details -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @Html.Raw(Model.blog_content)
            </div>

            <div class="col-lg-4 mt-5 mt-lg-0">
                <div class="widget">
                    <h4 class="widget-title">Bài viết mới nhất</h4>
                    @foreach (var blog in newest_blog)
                    {
                        <div class="mt-25 px-3">
                            <div class="post-meta font-weight-500 small mb-2">
                                <span class="mr-4"><i class="far fa-calendar-alt text-primary mr-2"></i> @blog.create_datetime.Value.ToString("dd/MM/yyyy")</span>
                                <span><i class="fa fa-tags text-primary mr-2"></i> @blog.blog_category.blog_category_name</span>
                            </div>
                            <a href="/articles/@blog.blog_seo_alias" class="text-secondary font-weight-600 h5">@blog.blog_title</a>
                        </div>
                    }
                </div>

                <div class="widget">
                    <h4 class="widget-title">Danh mục bài viết</h4>
                    <ul class="widget-list list-unstyled">
                        @foreach (var bc in list_bc)
                        {
                            int count_bc = new BlogProvider().getByCategoryIdShowing(bc.blog_category_id).Count();
                            <li>
                                <a href="/blog-categories/@bc.blog_category_seo_alias"><i class="fas fa-caret-right mr-2"></i>@bc.blog_category_name</a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="widget">
                    <h4 class="widget-title">Các khóa học tại EPlus</h4>
                    <ul class="widget-list list-unstyled">
                        @foreach (var kh in list_khoa_hoc)
                        {
                            <li><a href="/@kh.seo_alias"><i class="fas fa-caret-right mr-2"></i>@kh.product_name</a></li>
                        }
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- end of courses-details -->
