@model Data.blog
@using Data
@using Data.Providers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.blog_title;

    var list_service = new ProductProvider().getAll();
    var contact = new StoreContactProvider().get1Contact();

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];

    var list_blog_related = new BlogProvider().getIsShowing().Where(b => b.blog_category_id == Model.blog_category_id && b.blog_id != Model.blog_id).ToList();
    var list_blog_newest = new BlogProvider().getIsShowing().Where(b => b.blog_id != Model.blog_id).OrderByDescending(b => b.show_datetime).Take(5).ToList();

    var list_tag = new TagProvider().getByBlogId(Model.blog_id);
    var meta_keyword = "";
    if (list_tag.Count > 0)
    {
        foreach (var tag in list_tag)
        {
            meta_keyword += tag.tag_name + ", ";
        }
    }

    var list_blog = new BlogProvider().getIsShowing().Take(5);
    var newest_blog = list_blog.FirstOrDefault();

    ViewBag.Keywords = meta_keyword + Model.blog_seo_header;
    ViewBag.Description = Model.blog_seo_description;
    ViewBag.Canonical = urlSite + "/blogs/" + Model.blog_seo_alias;
    ViewBag.Alternate = urlSite + "/blogs/" + Model.blog_seo_alias;
    ViewBag.Url = urlSite + "/blogs/" + Model.blog_seo_alias;
    ViewBag.Image = urlCMS + "/" + Model.blog_image;
}

<!-- Page Title Start -->
<div class="page-title title-bg-4">
    <div class="container">
        <div class="title-text text-center">
            <h2>Tin tức và Sự kiện</h2>
            <ul>
                <li>
                    <a href="/">Trang chủ</a>
                </li>
                <li><a href="/blogs">Tin tức</a></li>
                <li>@Model.blog_title</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Title End -->
<!-- Service Details Section Start -->
<section class="service-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="service-post-area">
                    <h2>@Model.blog_title</h2>
                    @Html.Raw(Model.blog_content)
                    <div class="fb-like" data-href="@urlSite/blogs/@Model.blog_seo_alias" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
                    <div class="fb-comments" data-href="@urlSite/blogs/@Model.blog_seo_alias" data-numposts="10" data-width="100%"></div>
                </div>
            </div>

            <div class="col-lg-4 wow fadeInUp" data-wow-duration="1s">
                <div class="service-sidebar">
                    <div class="sidebar-widget">
                        <h3>Danh mục dịch vụ</h3>
                        <ul>
                            @foreach (var service in list_service)
                            {
                                <li>
                                    <a href="/@service.seo_alias">
                                        <i class="icofont-check-circled"></i>
                                        @service.product_name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="sidebar-widget">
                        <h3>Thông tin liên hệ</h3>
                        <ul>
                            <li>
                                <a href="tel:@contact.phone_number">
                                    <i class="icofont-phone"></i>
                                    @contact.phone_number
                                </a>
                            </li>
                            <li>
                                <a href="@contact.email">
                                    <i class="icofont-ui-message"></i>
                                    @contact.email
                                </a>
                            </li>
                            <li>
                                <i class="icofont-location-pin"></i>
                                @contact.address
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-widget">
                        <h3>Download Brochures</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="icofont-file-alt"></i>
                                    Bunny Profile
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Details Section End -->
<!-- Blog Section Start -->
<section class="blog-details-area pb-70">
    <div class="section-title text-center">
        <span>Tin tức</span>
        <h2>Bài viết mới nhất</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-post-area">
                    <div class="blog-details-img">
                        <img src="@urlCMS/@newest_blog.blog_image" alt="@newest_blog.blog_alt_image">
                    </div>
                    <ul class="text-main-color">
                        <li>
                            <i class="icofont-ui-calendar"></i>
                            @newest_blog.show_datetime.Value.ToString("HH:mm dd/MM/yyyy")
                        </li>
                    </ul>
                    <a href="/blogs/@newest_blog.blog_seo_alias"><h2>@newest_blog.blog_title</h2></a>
                    <p>@newest_blog.blog_summary</p>
                </div>
            </div>

            <div class="col-lg-4 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                <div class="blog-sidebar">
                    <div class="blog-widget">
                        @foreach (var blog in list_blog)
                        {
                            if (blog.blog_id != newest_blog.blog_id)
                            {
                                <article class="post-item">
                                    <a href="/blogs/@blog.blog_seo_alias">
                                        <img src="@urlCMS/@blog.blog_image" alt="@blog.blog_alt_image">
                                    </a>
                                    <div class="post-info">
                                        <time> @blog.show_datetime.Value.ToString("dd/MM/yyyy")</time>
                                        <h4>
                                            <a href="/blogs/@blog.blog_seo_alias">
                                                @blog.blog_title
                                            </a>
                                        </h4>
                                    </div>
                                </article>
                            }
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<!-- Blog Section End -->