@model IEnumerable<ProductVariationModel>
@using QuynhBoki.Models;
@using Data;
@using Data.Providers;

@{
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
}

<div class="row">
    <div class="col-lg-8 col-md-12">

        <div class="table-responsive">
            <table class="table add_to_cart">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pv in Model)
                    {
                        var product = new ProductProvider().getById(pv.product_id);
                        <tr>
                            <td><div class="tb_course_thumb"><img src="@urlCMS/@product.product_image" class="img-fluid" alt="@product.alt_image" /></div></td>
                            <th>@product.product_name</th>
                            <td><span class="wish_price theme-cl">@product.promotion_price</span></td>
                            <td>
                                <p>1</p>
                            </td>
                            <td><a href="javascript:void(0)" onclick="removeFromQuickViewCart('@pv.product_variation_id')" class="btn btn-remove">Xóa</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-4 col-md-12">
        <!-- Total Cart -->
        <div class="cart_totals checkout">
            <h4>Hóa đơn</h4>
            <div class="cart-wrap">
                <div class="flex_cart">
                    <div class="flex_cart_1">
                        Total Cost
                    </div>
                    <div class="flex_cart_2 showNumeric">
                        @ViewBag.CostAllProduct
                    </div>
                </div>
                <button type="button" class="btn checkout_btn">Đi đến thanh toán</button>
            </div>
        </div>
    </div>

</div>