@model IPagedList<Data.blog>
@using Data.Providers;
@using Data;
@using PagedList;
@using PagedList.Mvc;

@{
    var check_box_count = Model.Count();
    var current_datetime = System.DateTime.Now;
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
}
@if (check_box_count == 0)
{
    <div class="center-div">
        <h3>Không có bài viết nào.</h3>
    </div>
}
else
{
    foreach (var blog in Model)
    {
        <div class="col-md-4 mb-res-sm-30px mt-30">
            <div class="single-blog-post blog-grid-post">
                <div class="blog-post-media">
                    <div class="blog-image">
                        <a href="/blogs/@blog.blog_seo_alias"><img src="@urlCMS/@blog.blog_image" alt="@blog.blog_alt_image" /></a>
                    </div>
                </div>
                <div class="blog-post-content-inner mt-30">
                    <h4 class="blog-title"><a href="/blogs/@blog.blog_seo_alias">@blog.blog_title</a></h4>
                    <ul class="blog-page-meta">
                        <li>
                            <a href="javascript:void(0)"><i class="ion-person"></i> @blog.user.username</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="ion-calendar"></i>@blog.show_datetime.Value.ToString("dd/MM/yyyy")</a>
                        </li>
                    </ul>
                    <p>
                        @blog.blog_summary
                    </p>
                    <a class="read-more-btn" href="/blogs/@blog.blog_seo_alias"> Đọc thêm <i class="ion-android-arrow-dropright-circle"></i></a>
                </div>
            </div>
            <!-- single blog post -->
        </div>
    }
    <div class="center-div">
        <a>Hiển thị @check_box_count trong @ViewBag.NumberOfList Blog</a>
        @Html.PagedListPager(Model, page_num => Url.Action("GetBlog", new { page_num}),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "data_table" }))
    </div>
}
