@model order
@using VinaFocus.Models;
@using Data;
@using Data.Providers;

@{ 
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    var logo_header = new StoreLogoProvider().getLogoHeader();
}

<div class="main-header">
    <a href="/" class="logo">
        <img src="@urlCMS/@logo_header.image" alt="@logo_header.alt" width="35%" />
    </a>
</div>

<div class="main-content">
    <div>
        <div class="section">
            <div class="section-header os-header">
                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#000" stroke-width="2" class="hanging-icon checkmark"><path class="checkmark_circle" d="M25 49c13.255 0 24-10.745 24-24S38.255 1 25 1 1 11.745 1 25s10.745 24 24 24z"></path><path class="checkmark_check" d="M15 24.51l7.307 7.308L35.125 19"></path></svg>
                <div class="os-header-heading">
                    <h2 class="os-header-title">
                        Đặt hàng thành công
                    </h2>
                    <span class="os-order-number">
                        Mã đơn hàng <strong>#@Model.order_id</strong>
                    </span>
                    <span class="os-description">
                        Cám ơn @Model.delivery_address.last_name đã mua hàng!
                    </span>

                </div>
            </div>
        </div>

        <div class="section thank-you-checkout-info">
            <div class="section-content">
                <div class="content-box">
                    <div class="content-box-row content-box-row-padding content-box-row-no-border">
                        <h2>Thông tin đơn hàng</h2>
                    </div>
                    <div class="content-box-row content-box-row-padding">
                        <div class="section-content">
                            <div class="section-content-column">
                                <h3>Thông tin vận chuyển</h3>
                                <p>
                                    @Model.delivery_address.last_name <br />
                                    @Model.delivery_address.phone_number <br />
                                    @Model.delivery_address.ward.Type @Model.delivery_address.ward.Name <br />
                                    @Model.delivery_address.district.Type @Model.delivery_address.district.Name <br />
                                    @Model.delivery_address.province.Type @Model.delivery_address.province.Name <br />
                                    Việt Nam
                                </p>

                                <h3>Phương thức vận chuyển</h3>
                                <p>
                                    @Model.name_of_shipping<br />
                                    (Ghi chú của bạn: @Model.order_note)
                                </p>

                                <h3>Phương thức thanh toán</h3>
                                <p>
                                    @Model.payment_method.payment_method_description
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-footer">

            <a href="/" class="step-footer-continue-btn btn">
                <span class="btn-content">Tiếp tục mua hàng</span>
            </a>

            <p class="step-footer-info">
                <i class="icon icon-os-question"></i>
                <span>
                    Cần hỗ trợ? <a href="/contact">Liên hệ</a>
                </span>
            </p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if ($('#input_coupon_code').length > 0) {
            $('#input_coupon_code').prop('disabled', true);
        }
        if ($('#btn_apply_discount').length > 0) {
            $('#btn_apply_discount').prop('disabled', true);
        }
    });
</script>
