@model List<ProductVariationModel>
@using VinaFocus.Models;
@using Data;
@using Data.Providers;
@{
    Layout = null;

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string currentUrl = HttpContext.Current.Request.Url.AbsoluteUri;
    TempData["CurrentUrl"] = currentUrl;

   
    var favicon = new StoreLogoProvider().getFavicon();

}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="vi" class="flexbox">
<head>
    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:locale" content="vi_VN">
    <link rel="alternate" hreflang="vi" href="/">
    <meta name="revisit" content="1 days">
    <meta name="robots" content="index,follow">
    <link rel="shortcut icon" href="@urlCMS/@favicon.image" type="image/png" />
    <title>
        Vina Focus | Đặt hàng
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no">
    <meta name="description" content="Dino Store - Thanh toán đơn hàng" />

    @*CSS*@
    <link href="~/Assets/css/checkouts.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Assets/css/pace.css" rel="stylesheet" />
    @*JS*@
    <script src="~/Assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/js/autoNumeric.js"></script>
    <script src="~/Assets/js/jquery.cookie.js"></script>
    <script src="~/Assets/js/pace.js"></script>
</head>
<body>
    <div class="banner">
        <div class="wrap">
            <a href="/" class="logo">
                <h1 class="logo-text">VINA FOCUS</h1>
            </a>
        </div>
    </div>
    <button class="order-summary-toggle order-summary-toggle-hide">
        <div class="wrap">
            <div class="order-summary-toggle-inner">
                <div class="order-summary-toggle-icon-wrapper">
                    <svg width="20" height="19" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle-icon"><path d="M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z"></path></svg>
                </div>
                <div class="order-summary-toggle-text order-summary-toggle-text-show">
                    <span>Hiển thị thông tin đơn hàng</span>
                    <svg width="11" height="6" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle-dropdown" fill="#000"><path d="M.504 1.813l4.358 3.845.496.438.496-.438 4.642-4.096L9.504.438 4.862 4.534h.992L1.496.69.504 1.812z"></path></svg>
                </div>
                <div class="order-summary-toggle-text order-summary-toggle-text-hide">
                    <span>Ẩn thông tin đơn hàng</span>
                    <svg width="11" height="7" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle-dropdown" fill="#000"><path d="M6.138.876L5.642.438l-.496.438L.504 4.972l.992 1.124L6.138 2l-.496.436 3.862 3.408.992-1.122L6.138.876z"></path></svg>
                </div>
                <div class="order-summary-toggle-total-recap">
                    <span class="total-recap-final-price showNumeric">@ViewBag.CostAllProductVAT</span>
                </div>
            </div>
        </div>
    </button>

    <div class="content">
        <div class="wrap">
            <div class="sidebar">
                <div class="sidebar-content">
                    <div class="order-summary order-summary-is-collapsed">
                        <h2 class="visually-hidden">Thông tin đơn hàng</h2>
                        <div class="order-summary-sections">
                            <div class="order-summary-section order-summary-section-product-list" data-order-summary-section="line-items">
                                <table class="product-table">
                                    <thead>
                                        <tr>
                                            <th scope="col"><span class="visually-hidden">Hình ảnh</span></th>
                                            <th scope="col"><span class="visually-hidden">Mô tả</span></th>
                                            <th scope="col"><span class="visually-hidden">Số lượng</span></th>
                                            <th scope="col"><span class="visually-hidden">Giá</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var pv in Model)
                                        {
                                            <tr class="product">
                                                <td class="product-image">
                                                    <div class="product-thumbnail">
                                                        <div class="product-thumbnail-wrapper">
                                                            <img class="product-thumbnail-image" alt="@pv.product_variation_alt_image" src="@urlCMS/@pv.product_variation_image" />
                                                        </div>
                                                        <span class="product-thumbnail-quantity" aria-hidden="true">@pv.quantity_in_cart</span>
                                                    </div>
                                                </td>
                                                <td class="product-description">
                                                    <span class="product-description-name order-summary-emphasis">@pv.product_name</span>
                                                    @foreach (var ev in new ElementVariationProvider().getByProductVariationId(pv.product_variation_id))
                                                    {
                                                        if (ev.product_variation_property.product_variation_property_name != "Tiêu đề" && ev.element_variation_name != "Default Title")
                                                        {
                                                            <span class="product-description-variant order-summary-small-text">
                                                                @ev.product_variation_property.product_variation_property_name : @ev.element_variation_name
                                                            </span>
                                                        }
                                                    }
                                                </td>
                                                <td class="product-quantity visually-hidden">@pv.quantity_in_cart</td>
                                                <td class="product-price">
                                                    <span class="order-summary-emphasis showNumeric">@pv.product_variation_price</span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            @*<div class="order-summary-section order-summary-section-discount" data-order-summary-section="discount">
                                    <div class="fieldset">
                                        <div class="field">
                                            <div id="div_apply_coupon">
                                                <div class="field-input-btn-wrapper" style="padding-bottom: 5px;">
                                                    <div class="field-input-wrapper">
                                                        <label class="field-label" for="input_coupon_code">Mã giảm giá</label>
                                                        <input placeholder="Mã giảm giá" class="field-input" autocomplete="off" autocapitalize="off" spellcheck="false" size="30" type="text" id="input_coupon_code" name="input_coupon_code" />
                                                    </div>
                                                    <button id="btn_apply_discount" class="field-input-btn btn btn-default btn-disabled">
                                                        <span class="btn-content">Sử dụng</span>
                                                        <i class="btn-spinner icon icon-button-spinner"></i>
                                                    </button>
                                                </div>
                                                <small class="text-danger hidden" id="feeback_input_coupon_code">Mã giảm giá không hợp lệ</small>
                                            </div>

                                            <div class="coupon_description_card hidden" id="coupon_description_card">
                                                <strong id="coupon_code_in_alert" style="font-size: 20px"></strong><br>
                                                <p style="padding-top: 5px;">Mã giảm giá được chấp nhận</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                            <div class="order-summary-section order-summary-section-total-lines payment-lines" data-order-summary-section="payment-lines">
                                <table class="total-line-table">
                                    <thead>
                                        <tr>
                                            <th scope="col"><span class="visually-hidden">Mô tả</span></th>
                                            <th scope="col"><span class="visually-hidden">Giá</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="total-line total-line-subtotal">
                                            <td class="total-line-name">Tạm tính</td>
                                            <td class="total-line-price">
                                                <span class="order-summary-emphasis showNumeric" id="cost_all_product">@ViewBag.CostAllProductVAT</span>
                                            </td>
                                        </tr>
                                        <tr class="total-line total-line-shipping">
                                            <td class="total-line-name">Phí ship</td>
                                            <td class="total-line-price">
                                                <span class="order-summary-emphasis showNumeric" id="show_cost_shipping_selected">—</span>
                                            </td>
                                        </tr>
                                        <tr class="total-line total-line-shipping">
                                            <td class="total-line-name">
                                                Khuyến mãi <br />
                                                <small id="show_coupon_code" class="hidden"></small>
                                            </td>
                                            <td class="total-line-price">
                                                <span class="order-summary-emphasis showNumeric" id="show_discount">—</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="total-line-table-footer">
                                        <tr class="total-line">
                                            <td class="total-line-name payment-due-label">
                                                <span class="payment-due-label-total">Tổng tiền</span>
                                            </td>
                                            <td class="total-line-name payment-due">
                                                <span class="payment-due-currency">VND</span>
                                                <span class="payment-due-price showNumeric" id="total_bill">@ViewBag.CostAllProductVAT</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main" id="step_content">
                @Html.Action("GetShipping", "Checkout")
            </div>
        </div>
    </div>
</body>
</html>



<script>
    $(document).ready(function () {
        $(".showNumeric").autoNumeric('init', { aSign: '₫', pSign: 's', mDec: '0', aSep: '.', aDec: ',' });
        $(document).ajaxStart(function () { Pace.restart(); });
    });
</script>

<script type="text/javascript">
    var toggleShowOrderSummary = false;
    $(document).ready(function () {
        $('body').on('click', '.order-summary-toggle', function () {
            toggleShowOrderSummary = !toggleShowOrderSummary;
            if (toggleShowOrderSummary) {
                $('.order-summary-toggle')
                    .removeClass('order-summary-toggle-hide')
                    .addClass('order-summary-toggle-show');

                $('.sidebar:not(".sidebar-second") .sidebar-content .order-summary')
                    .removeClass('order-summary-is-collapsed')
                    .addClass('order-summary-is-expanded');

                $('.sidebar.sidebar-second .sidebar-content .order-summary')
                    .removeClass('order-summary-is-expanded')
                    .addClass('order-summary-is-collapsed');
            } else {
                $('.order-summary-toggle')
                    .removeClass('order-summary-toggle-show')
                    .addClass('order-summary-toggle-hide');

                $('.sidebar:not(".sidebar-second") .sidebar-content .order-summary')
                    .removeClass('order-summary-is-expanded')
                    .addClass('order-summary-is-collapsed');

                $('.sidebar.sidebar-second .sidebar-content .order-summary')
                    .removeClass('order-summary-is-collapsed')
                    .addClass('order-summary-is-expanded');
            }
        });
    });

    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }
</script>
