@model Data.product
@using Data;
@using Data.Providers;
@{
    ViewBag.Title = Model.product_name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];

    var category_parent = new category();
    var category_child_1 = new category();
    var category_child_2 = new CategoryProvider().getByProductId(Model.product_id).FirstOrDefault();

    if (category_child_2 != null && category_child_2.category_parent_id != null)
    {
        category_child_1 = new CategoryProvider().getByCategoryId((long)category_child_2.category_parent_id);
    }

    if (category_child_1 != null && category_child_1.category_parent_id != null)
    {
        category_parent = new CategoryProvider().getByCategoryId((long)category_child_1.category_parent_id);
    }

    var list_img_more = new ImageMoreProvider().getByProductId(Model.product_id);
    var list_related = new ProductProvider().getListRelatedByProductId(Model.product_id);
    var list_tag = new TagProvider().getByProductId(Model.product_id);

    var meta_keyword = "";
    if (list_tag.Count > 0)
    {
        foreach (var tag in list_tag)
        {
            meta_keyword += tag.tag_name + ", ";
        }
    }

    ViewBag.Keywords = meta_keyword + Model.seo_header;
    ViewBag.Description = Model.seo_description;
    ViewBag.Canonical = urlSite + "/" + Model.seo_alias;
    ViewBag.Alternate = urlSite + "/" + Model.seo_alias;
    ViewBag.Url = urlSite + "/" + Model.seo_alias;
    ViewBag.Image = urlCMS + "/" + Model.product_image;
}

<!-- Page Title -->
<div class="page-title parallax parallax1 flat_strech">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">@Model.product_name</h1>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="/">Home</a></li>
                            @if (category_parent != null && category_parent.category_id > 0)
                            {
                                <li><a href="/collections/@category_parent.seo_alias">@category_parent.category_name</a></li>
                            }

                            @if (category_child_1 != null && category_child_1.category_id > 0)
                            {
                                <li><a href="/collections/@category_child_1.seo_alias">@category_child_1.category_name</a></li>
                            }

                            @if (category_child_2 != null && category_child_2.category_id > 0)
                            {
                                <li><a href="/collections/@category_child_2.seo_alias">@category_child_2.category_name</a></li>
                            }
                            <li class="breadcrumb-item active" aria-current="page">@Model.product_name</li>
                        </ul>
                    </div>
                </div><!-- /.page-title-captions -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>

<!-- Flat row -->
<div class="flat-row flat-wooc">
    <div class="container">
        <div class="row">
            <div class="woocommerce-page clearfix">
                <div class="col-md-6">
                    <div class="flat-product-single-slider">
                        <div id="flat-product-flexslider">
                            <ul class="slides">
                                <li><img width="570" height="570" alt="product-single" src="@urlCMS/@Model.product_image" class="attachment-themesflat-gallery-product size-themesflat-gallery-product" /></li>
                                @if (list_img_more.Count > 0)
                                {
                                    foreach (var img_more in list_img_more)
                                    {
                                        <li><img width="570" height="570" alt="@img_more.image_more_alt" src="@urlCMS/@img_more.image_more_url" class="attachment-themesflat-gallery-product size-themesflat-gallery-product" /></li>
                                    }
                                }
                            </ul>
                        </div>
                        <div id="flat-product-carousel">
                            <ul class="slides">
                                <li><img width="100" height="100" alt="product-single" src="@urlCMS/@Model.product_image" /></li>
                                @if (list_img_more.Count > 0)
                                {
                                    foreach (var img_more in list_img_more)
                                    {
                                        <li><img width="100" height="100" alt="@img_more.image_more_alt" src="@urlCMS/@img_more.image_more_url" /></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div><!-- /.flat-portfolio-single-slider -->
                </div><!--/.col-md-6 -->

                <div class="col-md-6">
                    <div class="entry-summary">
                        <h2 class="product_title">@Model.product_name</h2>

                        <ul class="favorite">
                            <li>
                                <i class="fa fa-heart"></i>
                                <i class="fa fa-heart"></i>
                                <i class="fa fa-heart"></i>
                                <i class="fa fa-heart"></i>
                                <i class="fa fa-heart"></i>
                            </li>
                        </ul>

                        <p class="price">Giá: <strong>Liên hệ</strong></p>

                        <div class="description">
                            @Html.Raw(Model.description)
                        </div>

                        <form class="cart clearfix">
                            <button type="submit" class="single_booking_button">Tôi quan tâm sản phẩm này</button>
                        </form>


                        <ul class="flat-socials">
                            <li>Share link: </li>
                            <li class="twitter">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="facebook">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="instagram">
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li class="linkin">
                                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div><!-- /.entry-summary -->
                </div><!--/.col-md-8 -->
            </div><!--/.woocommerce-page -->
        </div><!--/.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="flat-accordion">
                    <div class="flat-toggle">
                        <h4 class="toggle-title active">Chi tiết sản phẩm</h4>
                        <div class="toggle-content">
                            @Html.Raw(Model.content)
                        </div>
                    </div><!-- /toggle -->

                    <div class="flat-toggle">
                        <h4 class="toggle-title">Thông tin</h4>
                        <div class="toggle-content">
                            @Html.Raw(Model.content_2)
                        </div>
                    </div><!-- /toggle -->

                    <div class="flat-toggle">
                        <h4 class="toggle-title">Bình luận</h4>
                        <div class="toggle-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div><!-- /toggle -->


                </div><!-- /.flat-accordion -->
            </div><!--/.col-md-12 -->
        </div><!--/.row -->
        <!--  <div class="flat-divider d62px"></div> -->
    </div><!--/.container -->
</div><!--/.flat-row -->

<div class="related products-row">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="title-section style5">
                    <h1 class="title">Có thể bạn quan tâm</h1>
                </div>
            </div><!--/.col-md-12-->
        </div>

        <div class="row">
            <div class="related products clearfix">
                @foreach (var product in list_related)
                {
                    <div class="col-sm-3 col-xs-6">
                        <div class="product effect1">
                            <div class="box-wrap">
                                <div class="box-image">
                                    <a href="/@product.seo_alias">
                                        <img src="@urlCMS/@product.product_image" alt="@product.alt_image" />
                                    </a>
                                </div>
                                <div class="box-content">
                                    <h5><a href="/@product.seo_alias">@product.product_name</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div><!-- /.related products -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>