@model List<store_partner>
@using Data;
@using Data.Providers;
<div class="row">
    <div class="col-md-4">
        <div class="scrollbar scroll_dark pt-0" style="max-height: 500px;">
            <div class="list-group" id="list-tab" role="tablist">
                @if (Model.Count() > 0)
                {
                    foreach (var sp in Model)
                    {
                        <a data-cs-id="@sp.store_partner_id" class="list-group-item list-group-item-action tab_partner" id="aria_labelledby_scs_@sp.store_partner_id" data-toggle="list" href="#id_scs_@sp.store_partner_id" role="tab">
                            <span class="bg-img mr-10" style="line-height: unset">
                                <img src="@sp.image" alt="@sp.alt" style="width: 30px;height: 30px;object-fit: contain;" />
                            </span>
                            @sp.name
                        </a>
                    }
                }
            </div>
            <div class="line_div"></div>
        </div>
        <div>
            <button type="button" class="btn btn-primary" data-dismiss="modal" style="width:100%" onclick="showModalCreatePartner()">Thêm đối tác</button>
        </div>
    </div>
    <div class="col-md-8">
        <div class="tab-content" id="nav-tabContent">
            @if (Model.Count() > 0)
            {
                foreach (var sp in Model)
                {
                    <div class="tab-pane fade" id="id_scs_@sp.store_partner_id" role="tabpanel" aria-labelledby="aria_labelledby_scs_@sp.store_partner_id">
                        <form id="form_create_store_partner">
                            <input type="text" id="input_update_hidden_partner_id_@sp.store_partner_id" value="@sp.store_partner_id" hidden />
                            <div class="">
                                <label>Hình ảnh</label>
                                <div class="d-flex align-items-center">
                                    <div class="partner_img_client_site">
                                        <img id="show_img_update_partner_@sp.store_partner_id" src="@sp.image" alt="@sp.alt" />
                                    </div>
                                    <input type="file" id="input_file_img_store_partner_detail_@sp.store_partner_id" accept="image/*" hidden>
                                    <div class="ml-3">
                                        <label for="input_file_img_store_partner_detail_@sp.store_partner_id">
                                            <a class="font-16 text-info"><i class="fa fa-sign-in"></i> Thay đổi</a>
                                        </label>
                                        &nbsp;&nbsp;
                                        <a onclick="showModalDeletePartner('@sp.store_partner_id')" class="font-16 text-info" href="javascript:void(0)"><i class="fa fa-trash"></i> Xóa đối tác này</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-10">
                                <label for="pname">Tên đối tác</label>
                                <input id="pname" type="text" class="form-control" placeholder="Nhập tên đối tác" value="@sp.name">
                            </div>
                            <div class="form-group">
                                <label for="plink">Link</label>
                                <input id="plink" type="text" class="form-control" placeholder="Nhập link" value="@sp.link_url">
                            </div>
                        </form>
                    </div>
                }
            }
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $(function () {
            var scrollbar = jQuery(".scrollbar");
            if (scrollbar.length > 0) {
                $('.scroll_dark').mCustomScrollbar({
                    theme: "minimal-dark",
                    setHeight: false,
                    mouseWheel: {
                        normalizeDelta: true,
                        scrollAmount: '200px',
                        contentTouchScroll: true,
                        deltaFactor: '200px'
                    },
                    advanced: {
                        autoScrollOnFocus: 'a[tabindex]'
                    }
                });
            }
        });
        tabActionCustomerSay();
    });

    //Cập nhật feedback
    var partner_id_is_active = 0;
    function tabActionCustomerSay() {
        $('.tab_partner').on('shown.bs.tab', function (e) {
            cs_id_is_active = $(e.target).attr("data-cs-id");
            $('#btn_save_partner_update').prop('disabled', false);
        });
    }
    function showModalCreatePartner() {
        $('#modalCreatePartner').modal('show');
    }

    function hideModalCreatePartner() {
        $('#modalCreatePartner').modal('hide');
        $('#modalPartnerImage').modal('show');
    }

    //Thêm đối tác
    $(function () {
        $("#input_file_img_partner").change(function () {
            if (this.files && this.files[0]) {
                if (this.files[0].size > (3 * 1024000)) {
                    showToast("error", "Hình ảnh vượt quá kích thước cho phép. Giới hạn là 3Mb.", "Lỗi upload hình ảnh");
                } else {
                    var reader = new FileReader();
                    reader.onload = imagePartnerIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            }
        });
    });

    function imagePartnerIsLoaded(e) {
        $('#show_img_partner').attr('src', e.target.result);
    };

    function createPartner() {
        var fileData = new FormData();
        var fileUpload = $("#input_file_img_partner").get(0);
        var files = fileUpload.files;

        if (files.length == 0) {
            showToast("error", "Yêu cầu chọn hình ảnh.", "Lỗi thêm hình ảnh");
        }
        else {
            fileData.append("image", files[0]);
            fileData.append("name", $("#partner_name").val().trim());
            fileData.append("link_url", $("#partner_link").val().trim());

            $.ajax({
                type: "POST",
                url: '@Url.Action("CreatePartner", "Configuration")',
                data: fileData,
                processData: false,
                contentType: false,
                success: function (data) {
                    updateStorePartner();
                    $('#show_img_partner').attr('src', '../Assets/images/Icon/iconImg.png');
                    $('#form_create_store_partner').trigger('reset');
                    $('#modalCreatePartner').modal('hide');
                    $('#modalPartnerImage').modal('show');
                    showToast("success", "Thông tin hình ảnh đối tác đã được thêm.", "Thêm thành công");
                },
                error: function (xhr) {
                    toastError();
                }
            });
        }
    }

    var avatar_store_partner_is_change = false;
    function imageStoreCustomerSayChange(partner_id) {
        var files = $("#input_file_img_store_partner_detail_" + partner_id).get(0).files;

        if (files[0].size > (3 * 1024000)) {
            showToast("error", "Hình ảnh không được vượt quá 3Mb.", "Lỗi hình ảnh");
        } else {
            avatar_store_partner_is_change = true;
            var reader = new FileReader();
            reader.onload = partnerImageUpdateIsLoaded;
            reader.readAsDataURL(files[0]);
        }
        function partnerImageUpdateIsLoaded(e) {
            $('#show_img_update_customer_say_' + cs_id).attr('src', e.target.result);
        };
    }

    function showModalDeleteCustomerSay(cs_id) {
        $('#input_hidden_cs_id').val(cs_id);
        $('#modalDeleteCustomerSay').modal('show');
        $('#modalCustomerSay').modal('hide');
    }
</script>