@model Data.product
@using Data
@using Data.Providers

@{
    ViewBag.Title = Model.product_name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string url = System.Configuration.ConfigurationManager.AppSettings["urlPresentationFreshMart"];

    DateTime current_datetime = System.DateTime.Now;
    var short_description = Model.description;

    var list_category_of_product = new CategoryProvider().getByProductId(Model.product_id);
}

<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="page-product d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>@Model.product_name</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="page-product breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/Product/Index">Danh mục sản phẩm</a>
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">@Model.product_name</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->

<div id="show_recommend">

</div>

<div class="row">
    <div  class="col-xxl-9 col-xl-9 col-lg-9 col-md-9">

        <div class="card card-statistics" id="div_product_info">
            <div class="card-header">
                <div class="card-heading">
                    <h4 class="card-title">Thông tin sản phẩm</h4>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <form class="form-horizontal" novalidate="novalidate">
                        <div class="form-group">
                            <label class="control-label" for="product_name">Tên sản phẩm <span class="requirement-star-text">&ast;</span></label>
                            <div class="mb-2">
                                <input type="text" class="form-control" id="product_name" name="product_name" placeholder="Nhập tên sản phẩm" value="@Model.product_name" onchange="checkNameProduct('@Model.product_name')">
                                <div class="invalid-feedback" id="product_name_feedback">
                                    Yêu cầu nhập tên sản phẩm.
                                </div>
                                <div class="invalid-feedback" id="product_name_check_duplicate_false">
                                    Tên sản phẩm đã có trong cơ sở dữ liệu. Vui lòng chọn tên khác.
                                </div>
                                <div class="valid-feedback" id="product_name_check_duplicate_true">
                                    Tên sản phẩm có thể sử dụng được.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Chi tiết sản phẩm</label>
                            <div class="mb-2">
                                <div id="summernote" class="summernote">@Html.Raw(Model.content)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mô tả bổ sung 1</label>
                            <div class="mb-2">
                                <div id="summernote2" class="summernote">@Html.Raw(Model.content_2)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mô tả bổ sung 2</label>
                            <div class="mb-2">
                                <div id="summernote3" class="summernote">@Html.Raw(Model.content_3)</div>
                            </div>
                        </div>
                        @if (Model.description != null || Model.description != "")
                        {
                            <div class="form-group" id="body_of_sort_description">
                                <label class="control-label" for="product_description">Mô tả ngắn</label>
                                <div id="editor" style="height:100px;">
                                    @Html.Raw(Model.description)
                                </div>
                                <div id="counter"></div>
                            </div>
                        }
                        else
                        {
                            <a class="text-primary" href="javascript:void(0)" id="add_sort_description"><i class="fa fa-pencil-square"></i>&nbsp; Thêm Mô Tả Ngắn</a>
                            <div class="form-group hidden_element" id="body_of_sort_description">
                                <label class="control-label" for="product_description">Mô tả ngắn</label>
                                <div id="editor" style="height:100px;">

                                </div>
                                <div id="counter"></div>
                            </div>
                        }

                    </form>
                </div>
            </div>
        </div>

        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Thêm thư viện ảnh sản phẩm</h4>
                        </div>
                    </div>
                    <div class="note-for-card-title">
                        <a>
                            Thêm các hình ảnh phụ nếu sản phẩm có nhiều hình ảnh chi tiết hơn
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <div class="list_image_collection mt-2" id="list_image_collection">
                    @Html.Action("GetImageCollectionProduct", "Product", new { product_id = Model.product_id })
                </div>


                <form action="/Product/Index" class="dropzone" id="my-awesome-dropzone" name="myDropzone"></form>
            </div>
        </div>

        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <h4 class="card-title">Sản phẩm có nhiều lựa chọn</h4>
                        </div>
                        <div class="col-md-6 col-xs-6 div-card-title-right">
                            <a class="card-title text-primary" onclick="showModalUpdatePrice()" href="javascript:void(0)">Cập nhật giá đồng loạt</a>
                            @*<a class="card-title text-primary" href="javascript:void(0)">Chỉnh sửa thuộc tính</a>*@
                            &nbsp;&nbsp;&nbsp;
                            <a class="card-title text-primary" href="javascript:void(0)" onclick="showModalAddProductVariation()">Thêm lựa chọn</a>
                            <script>
                                function showModalAddProductVariation() {
                                    var product_id = '@Model.product_id';
                                    $.ajax({
                                        url: '@Url.Action("GetFormAddProductVarition", "Product")',
                                        context: document.body,
                                        type: "POST",
                                        dataType: "html",
                                        data: { product_id: product_id },
                                        success: function (result) {
                                            $('#modal_content_add_product_variation').html(result);
                                        }
                                    });
                                    $('#modalAddProductVariation').modal('show');
                                }

                                function showModalUpdatePrice() {
                                    $('#modalUpdatePrice').modal('show');
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body selects-contant-boots">
                <form>
                    <div class="table-responsive" id="list_product_variation">
                        @Html.Action("GetListProductVariationToUpdate", "Product", new { product_id = Model.product_id })
                    </div>

                    <script>
                        function updateListProductVariation() {
                            var product_id = '@Model.product_id';
                            $.ajax({
                                url: '@Url.Action("GetListProductVariationToUpdate", "Product")',
                                context: document.body,
                                type: "POST",
                                dataType: "html",
                                data: { product_id: product_id },
                                success: function (result) {
                                    $('#list_product_variation').html(result);
                                    $(".showNumeric").autoNumeric('init', { aSign: ' ₫', pSign: 's', mDec: '0', aSep: '.', aDec: ',' });
                                } 
                            });
                        }
                    </script>
                </form>
            </div>
        </div>

        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading">
                    <div class="row">
                        <div class="col-6 col-md-6 col-xs-6">
                            <h4 class="card-title">Combo sản phẩm bán kèm</h4>
                            <small>
                                Lựa chọn danh sản phẩm bán kèm với sản phẩm này.
                            </small>
                        </div>
                        <div class="col-6 col-md-6 col-xs-6 div-card-title-right">
                            <a href="javascript:void(0);" class="btn btn-primary" onclick="openModalSelectListProductVariation()">Cập nhật Combo</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body selects-contant-boots">
                <form>
                    <div class="table-responsive" id="list_combo_product_variation">
                        @Html.Action("GetListProductVariationComboToUpdate", "Product", new { list_product_variation_id_selected = ViewBag.ListComboPvId })
                    </div>
                </form>
            </div>
        </div>

        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Tối ưu SEO</h4>
                        </div>
                        <div class="col-md-6 div-card-title-right">
                            <a class="card-title text-primary" href="javascript:void(0)" id="seo_custom"><i class="fa fa-pencil"></i>&nbsp; Chỉnh sửa SEO</a>
                        </div>
                    </div>
                    <div class="note-for-card-title">
                        <a id="show_seo_header" class="text-info font-22 font-bold">@Model.seo_header</a><br />
                        <a id="show_seo_alias" class="text-primary" target="_blank" href="@url/@Model.seo_alias">@url/@Model.seo_alias</a><br />
                        <a id="show_seo_description">
                            @Model.seo_description
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body" id="body_of_seo_category">
                <div>
                    <form class="form-horizontal" novalidate="novalidate">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" for="seo_header">Tiêu đề trang</label>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a>Số ký tự còn lại: </a><a id="count_seo_header"> @(70 - Model.seo_header.Length)</a>
                                </div>
                            </div>
                            <div class="mb-2">
                                <input type="text" maxlength="70" value="@Model.seo_header" class="form-control" id="seo_header" name="seo_header" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" for="seo_description">Thẻ mô tả</label>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a>Số ký tự còn lại: </a><a id="count_seo_description"> @(320 - Model.seo_description.Length)</a>
                                </div>
                            </div>
                            <div class="mb-2">
                                <textarea class="form-control" id="seo_description" name="seo_description" rows="3" maxlength="320">@Model.seo_description</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="seo_alias">Đường dẫn / Alias</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">@url/</span>
                                </div>
                                <input type="text" value="@Model.seo_alias" class="form-control" name="seo_alias" id="seo_alias" aria-describedby="basic-addon3" maxlength="150">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 m-b-30 m-b-30">
        <div class="">
            <div class="card mb-0 o-hidden">
                <div class="card-header">
                    <div class="card-heading">
                        <h4 class="card-title">Trạng thái </h4>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        @if (Model.status == true && current_datetime >= Model.show_datetime)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="set_time_show" id="show" value="true" checked>
                                <label class="form-check-label" for="show">
                                    Hiển thị
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="set_time_show" id="hidden" value="false">
                                <label class="form-check-label" for="hidden">
                                    Ẩn
                                </label>
                            </div>
                            <div class="div_show_datetime_title" style="padding-bottom: 5px;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="javascript:void:(0)" class="card-title text-primary show_datetime_title">Đặt lịch hiển thị</a>
                                    </div>
                                    <div class="col-md-6" style="text-align:right">
                                        <span>
                                            <a id="icon_remove_set_time_show" style="display:none" href="javascript:void:(0)" class="text-primary"><i class="fa fa-remove"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="div_show_datetime" style="display:none">
                                <div class="form-group">
                                    <div class="input-group date" id="datepicker-bottom-left">
                                        <input class="form-control inputmask" data-mask="99/99/9999" type="text" id="product_date_to_show" name="product_date_to_show" placeholder="Nhập ngày hiển thị">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-append">
                                        <input class="form-control inputmask sel-time-am" type="text" id="product_time_to_show" name="product_time_to_show" placeholder="Nhập giờ hiển thị">
                                        <span class="input-group-addon open_clock_face">
                                            <i class="fe fe-clock"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Model.status == true && current_datetime < Model.show_datetime)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="set_time_show" id="show" value="true">
                                <label class="form-check-label" for="show">
                                    Hiển thị
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="set_time_show" id="hidden" value="false" checked>
                                <label class="form-check-label" for="hidden">
                                    Ẩn
                                </label>
                            </div>
                            <div class="div_show_datetime_title" style="padding-bottom: 5px;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="javascript:void:(0)" class="card-title text-primary show_datetime_title">Đặt lịch hiển thị</a>
                                    </div>
                                    <div class="col-md-6" style="text-align:right">
                                        <span>
                                            <a id="icon_remove_set_time_show" href="javascript:void:(0)" class="text-primary"><i class="fa fa-remove"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="div_show_datetime">
                                <div class="form-group">
                                    <div class="input-group date" id="datepicker-bottom-left">
                                        <input value="@Model.show_datetime.Value.ToString("MM/dd/yyy")" class="form-control inputmask" data-mask="99/99/9999" type="text" id="product_date_to_show" name="product_date_to_show" placeholder="Nhập ngày hiển thị">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-append">
                                        <input value="@Model.show_datetime.Value.ToString("HH:mm")" class="form-control inputmask sel-time-am" type="text" id="product_time_to_show" name="product_time_to_show" placeholder="Nhập giờ hiển thị">
                                        <span class="input-group-addon open_clock_face">
                                            <i class="fe fe-clock"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="set_time_show" id="show" value="true">
                                <label class="form-check-label" for="show">
                                    Hiển thị
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="set_time_show" id="hidden" value="false" checked>
                                <label class="form-check-label" for="hidden">
                                    Ẩn
                                </label>
                            </div>
                            <div class="div_show_datetime_title" style="padding-bottom: 5px;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="javascript:void:(0)" class="card-title text-primary show_datetime_title" style="display:none">Đặt lịch hiển thị</a>
                                    </div>
                                    <div class="col-md-6" style="text-align:right">
                                        <span>
                                            <a id="icon_remove_set_time_show" style="display:none" href="javascript:void:(0)" class="text-primary"><i class="fa fa-remove"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="div_show_datetime" style="display:none">
                                <div class="form-group">
                                    <div class="input-group date" id="datepicker-bottom-left">
                                        <input class="form-control inputmask" data-mask="99/99/9999" type="text" id="product_date_to_show" name="product_date_to_show" placeholder="Nhập ngày hiển thị">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-append">
                                        <input class="form-control inputmask sel-time-am" type="text" id="product_time_to_show" name="product_time_to_show" placeholder="Nhập giờ hiển thị">
                                        <span class="input-group-addon open_clock_face">
                                            <i class="fe fe-clock"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>

        <div class="cardRightBottom">
            <div class="card mb-0 o-hidden">
                <div class="card-header">
                    <div class="card-heading">
                        <h4 class="card-title">Ảnh đại diện sản phẩm</h4>
                    </div>
                </div>
                <div class="card-body">
                    @if (Model.product_image == null || Model.product_image == "")
                    {
                        <div class="displayImageUpload" style="display: none">
                            <img id="pictureUpload" />

                            <div class="row" id="bottomImageupload">
                                <div class="col-md-4">
                                    <a href="javascript:void(0);" class="text-primary" id="edit_image_btn">Sửa Alt</a>
                                </div>
                                <div class="col-md-4" style="text-align: center">
                                    <label for="file">
                                        <a class="text-primary">Đổi Ảnh</a>
                                    </label>
                                </div>
                                <div class="col-md-4" style="text-align: right">
                                    <a href="javascript:void(0);" onclick="deleteImg()" class="text-primary">Xóa Ảnh</a>
                                </div>
                            </div>

                            <div style="display: none" id="div_alt_image">
                                <label class="control-label" for="alt_image">Alt của hình ảnh</label>
                                <div class="mb-2">
                                    <input type="text" class="form-control" id="alt_image" name="alt_image" placeholder="Nhập alt của hình ảnh">
                                </div>
                            </div>
                        </div>
                        <form>
                            <input type="file" id="file" accept="image/*" hidden>
                        </form>
                        <div class="custom-card-body custom-file">
                            <div>
                                <img id="img-icon" src="~/Assets/images/Icon/iconImg.png" />
                            </div>
                            <div>
                                <label for="file" class="btn btn-warning custom-btn-file">
                                    Upload ảnh
                                </label>
                            </div>
                        </div>
                        <div class="alert alert-icon alert-outline-danger alert_image_limit" role="alert" id="alert_image_limit">
                            <i class="fa fa-info-circle"></i> Hình ảnh vượt giới hạn 3MB
                        </div>
                    }
                    else
                    {
                        <div class="displayImageUpload">
                            <img id="pictureUpload" src="@Model.product_image" alt="@Model.alt_image" />

                            <div class="row" id="bottomImageupload">
                                <div class="col-md-4">
                                    <a href="javascript:void(0);" class="text-primary" id="edit_image_btn">Sửa Alt</a>
                                </div>
                                <div class="col-md-4" style="text-align: center">
                                    <label for="file">
                                        <a class="text-primary">Đổi Ảnh</a>
                                    </label>
                                </div>
                                <div class="col-md-4" style="text-align: right">
                                    <a href="javascript:void(0);" onclick="deleteImg()" class="text-primary">Xóa Ảnh</a>
                                </div>
                            </div>

                            <div style="display: none" id="div_alt_image">
                                <label class="control-label" for="alt_image">Alt của hình ảnh</label>
                                <div class="mb-2">
                                    <input type="text" class="form-control" id="alt_image" name="alt_image" value="@Model.alt_image" placeholder="Nhập alt của hình ảnh">
                                </div>
                            </div>
                        </div>
                        <form>
                            <input type="file" id="file" accept="image/*" hidden>
                        </form>
                        <div class="custom-card-body custom-file" style="display:none">
                            <div>
                                <img id="img-icon" src="~/Assets/images/Icon/iconImg.png" />
                            </div>
                            <div>
                                <label for="file" class="btn btn-warning custom-btn-file">
                                    Upload ảnh
                                </label>
                            </div>
                        </div>
                        <div class="alert alert-icon alert-outline-danger alert_image_limit" role="alert" id="alert_image_limit">
                            <i class="fa fa-info-circle"></i> Hình ảnh vượt giới hạn 3MB
                        </div>
                    }

                </div>
            </div>
        </div>

        <div class="cardRightBottom">
            <div class="card mb-0 o-hidden">
                <div class="card-header">
                    <div class="card-heading">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title">Video sản phẩm</h4>
                            </div>
                            <div class="col-md-4 align_right">
                                <a onclick="openDivUploadVideo()" id="icon_open_div_upload_video" data-toggle="tooltip" data-placement="top" data-original-title="Thêm" href="javascript:void(0);" class="tooltip-wrapper text-primary font-25 hidden_element">
                                    <i class="fa fa-plus-circle"></i>
                                </a>
                                <a onclick="closeDivUploadVideo()" id="icon_close_div_upload_video" data-toggle="tooltip" data-placement="top" data-original-title="Hủy bỏ" href="javascript:void(0);" class="tooltip-wrapper text-primary font-25">
                                    <i class="fa fa-times-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body selects-contant-boots" id="div_upload_video">
                    <form>
                        @if (Model.is_video_url == true)
                        {
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="set_video" id="check_url" value="url" checked="">
                                    <label class="form-check-label" for="check_url">
                                        Nhập đường dẫn URL
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="set_video" id="check_browser" value="browser">
                                    <label class="form-check-label" for="check_browser">
                                        Chọn từ máy của bạn
                                    </label>
                                </div>
                            </div>
                            <div style="padding-top: 10px">
                                <div class="form-group" id="div_video_url">
                                    <label for="video_url">Đường dẫn URL</label>
                                    <input value="@Model.product_video" type="text" id="video_url" class="form-control" placeholder="Nhập đường dẫn URL">
                                    @if (Model.product_video != null)
                                    {
                                        <div class="mt-10" id="frame_video">
                                            <iframe width="100%" height="auto" src="@Model.product_video" allowfullscreen></iframe>
                                        </div>
                                    }

                                </div>
                                <div class="input-group mb-3 hidden_element" id="div_video_browser">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="video_browser" accept="video/*">
                                        <label class="custom-file-label" for="video_browser" id="label_video_browser">Chọn video từ máy</label>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="set_video" id="check_url" value="url">
                                    <label class="form-check-label" for="check_url">
                                        Nhập đường dẫn URL
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="set_video" id="check_browser" value="browser" checked="">
                                    <label class="form-check-label" for="check_browser">
                                        Chọn từ máy của bạn
                                    </label>
                                </div>
                            </div>
                            <div style="padding-top: 10px">
                                <div class="form-group hidden_element" id="div_video_url">
                                    <label for="video_url">Đường dẫn URL</label>
                                    <input type="text" id="video_url" class="form-control" placeholder="Nhập đường dẫn URL">
                                </div>
                                <div class="input-group mb-3" id="div_video_browser">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="video_browser" accept="video/*">
                                        <label class="custom-file-label" for="video_browser" id="label_video_browser">@Model.video_filename</label>
                                    </div>
                                    <div class="mt-10" id="frame_video">
                                        <video width="100%" height="auto" src="@Model.product_video" autoplay controls></video>
                                    </div>
                                </div>
                            </div>

                        }

                    </form>
                </div>
            </div>
        </div>

        <div class="cardRightBottom">
            <div class="card mb-0 o-hidden">
                <div class="card-header">
                    <div class="card-heading">
                        <h4 class="card-title">Phân loại</h4>
                    </div>
                </div>
                <div class="card-body selects-contant-boots">
                    <form>
                        <div>
                            <div class="form-group bs-select-1 select_in_product_insert_form">
                                <label for="select_category_for_product">Danh mục sản phẩm</label>
                                <div class="suggess_choose_category">
                                    <small>Có thể chọn nhiều danh mục cho sản phẩm này</small>
                                </div>
                                <select class="custom-select input_slect_border" id="select_category_for_product">
                                    <option selected="" disabled value="reset">Chọn danh mục sản phẩm</option>

                                    @foreach (var category in new CategoryProvider().getAll().ToList())
                                    {
                                        <option value="@category.category_id" id="item_select_category_id_@category.category_id">@category.category_name</option>
                                    }
                                </select>

                                @if (list_category_of_product.Count() > 0)
                                {
                                    <label class="title_name_of_category_selected text-info" style="display:block"><strong>Danh mục bạn đã chọn:</strong></label>
                                    <div id="choose_category">
                                        @foreach (var cp in list_category_of_product)
                                        {
                                            <div style="margin-top: 5px;background-color: #8e54e9;color: white;padding: 12px;height: 40px;" id="div_category_selected_@cp.category_id">
                                                <div class="row">
                                                    <div class="col-md-10">@cp.category_name </div>
                                                    <div class="col-md-2" style="text-align:right">
                                                        <a onclick="removeCategoryForProduct('@cp.category_id')" href="javascript:void(0)"><i class="fa fa-remove" id="remove_category_@cp.category_id"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                }
                                else
                                {
                                    <label class="title_name_of_category_selected text-info"><strong>Danh mục bạn vừa chọn:</strong></label>
                                    <div id="choose_category">

                                    </div>
                                }

                            </div>

                            <div class="form-group bs-select-1">
                                <label for="select_supplier_for_product">Nhà cung cấp</label>
                                <select class="custom-select input_slect_border" id="select_supplier_for_product">
                                    <option selected="" disabled>Chọn nhà cung cấp sản phẩm</option>
                                    @foreach (var supplier in new SupplierProvider().getAll())
                                    {
                                        if (Model.supplier_id == supplier.supplier_id)
                                        {
                                            <option value="@supplier.supplier_id" selected>@supplier.supplier_name</option>
                                        }
                                        else
                                        {
                                            <option value="@supplier.supplier_id">@supplier.supplier_name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="cardRightBottom">
            <div class="card mb-0 o-hidden">
                <div class="card-header">
                    <div class="card-heading">
                        <h4 class="card-title">Gắn thẻ sản phẩm</h4>
                    </div>
                </div>
                <div class="card-body selects-contant-boots">
                    <form>
                        <div class="form-group mb-0 bs-select-1">
                            <input type="text" class="bs-input" value="" placeholder="Nhập thẻ tag" data-role="tagsinput" id="tag_product" />
                        </div>
                    </form>
                    <div class="list_tag mt-2" id="list_tag">
                        @Html.Action("GetTagProduct", "Product", new { product_id = Model.product_id })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="border-top: 1px solid rgba(0,0,0,.125);">
    <div class="col-12" style="margin-top: 15px;">
        <div class="pb-2" style="text-align:right">
            <a href="javascript:void(0)" class="btn btn-secondary" onclick="backHistory()">Hủy & Quay lại</a>
            <a href="javascript:void(0)" class="btn btn-primary" id="btn_update">Cập nhật</a>
        </div>
    </div>
</div>

<div class="modal fade hide in" data-keyboard="false" data-backdrop="static" id="modalConfirmCutImage" tabindex="-1" role="dialog" aria-labelledby="defaultModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Cắt hình ảnh
                </h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <label id="fileName">
                    Hình ảnh cắt sẽ được lưu lại
                </label>
                <div id="image_viewer">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelCropBtn">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmCutImage">Cắt hình</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hide in" data-keyboard="false" data-backdrop="static" id="modalSelectListProductVariationForCoupon" tabindex="-1" role="dialog" aria-labelledby="defaultModal" aria-hidden="true">
    <div class="modal-dialog modalBigDialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Lựa chọn danh sách sản phẩm bán kèm
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="cancelSelectListProductVariationForCoupon()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="input-group mb-3">
                            <form id="form_filter_for_product_variation">
                                <div class="btn-group">
                                    <select class="custom-select" id="select_filter_product_variation">
                                        <option value="all" selected="">Lọc sản phẩm theo</option>
                                        <option value="product_status">Trạng thái sản phẩm</option>
                                        <option value="category">Danh mục sản phẩm</option>
                                        <option value="supplier">Nhà cung cấp</option>
                                    </select>

                                    <select class="custom-select" id="filter_by_product_status_for_product_variation" style="display: none">
                                        <option selected="" value="-1" disabled>Chọn điều kiện lọc...</option>
                                        <option value="hidden">Đang ẩn</option>
                                        <option value="show">Đang hiển thị</option>
                                    </select>

                                    <select class="custom-select" id="filter_by_category_for_product_variation" style="display: none">
                                        <option selected="" disabled>Chọn điều kiện lọc...</option>
                                        @foreach (var category in new CategoryProvider().getAll())
                                        {
                                            <option value="@category.category_name">@category.category_name</option>
                                        }
                                    </select>

                                    <select class="custom-select" id="filter_by_supplier_for_product_variation" style="display: none">
                                        <option selected="" disabled>Chọn điều kiện lọc...</option>
                                        @foreach (var supplier in new SupplierProvider().getAll())
                                        {
                                            <option value="@supplier.supplier_name">@supplier.supplier_name</option>
                                        }
                                    </select>
                                </div>
                            </form>

                            <input type="text" class="form-control" id="search_input_for_product_variation" name="search_input_for_product_variation" value="@ViewBag.FilterValue" placeholder="Tìm kiếm sản phẩm..." aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="button-addon2" onclick="searchProductForProductVariation()">
                                    <i class="nav-icon ti ti-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="text-align:right">
                        <form>
                            <div class="btn-group">
                                <select class="custom-select" id="sort_list_product_return_select_for_product_variation">
                                    <option selected="" value="name_az" disabled>Sắp xếp thứ tự theo</option>
                                    <option value="name_az">Tên danh mục: A -> Z</option>
                                    <option value="name_za">Tên danh mục: Z -> A</option>
                                    <option disabled>------------------------------------------</option>
                                    <option value="supplier_az">Tên nhà cung cấp: A -> Z</option>
                                    <option value="supplier_za">Tên nhà cung cấp: Z -> A</option>
                                    <option disabled>------------------------------------------</option>
                                    <option value="warehouse_asc">Lượng tồn kho: Tăng dần</option>
                                    <option value="warehouse_dec">Lượng tồn kho: Giảm dần</option>
                                </select>
                            </div>
                            <div class="btn-group">
                                <select class="custom-select" id="size_of_page_select_product_for_product_variation">
                                    <option selected="" value="10" disabled>Hiển thị</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="" id="data_table_product_variation">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancelSelectListProductVariationForCoupon()">Hủy và quay lại</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_confirm_list_product_variation">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


@*MODAL PRODUCT VARIATION*@
<div class="modal fade hide in" data-keyboard="false" data-backdrop="static" id="modalAddProductVariation" tabindex="-1" role="dialog" aria-labelledby="defaultModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal_content_add_product_variation">
          
        </div>
    </div>
</div>

@*MODAL UPDATE PRICE*@
<div class="modal fade hide in" data-keyboard="false" data-backdrop="static" id="modalUpdatePrice" tabindex="-1" role="dialog" aria-labelledby="defaultModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Cập nhật giá sản phẩm đồng loạt
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="product_price_promotion">Giá bán sản phẩm <span class="requirement-star-text">&ast;</span></label>
                            <div class="mb-2">
                                <input value="@Model.promotion_price" type="text" class="form-control autoNumericInput" id="product_price" name="product_price" placeholder="đ">
                                <div class="invalid-feedback" id="product_price_feedback">
                                    Yêu cầu nhập giá sản phẩm.
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="product_price">Giá so sánh</label>
                            <div class="mb-2">
                                <input value="@Model.price" type="text" class="form-control autoNumericInput" id="product_price_compararision" name="product_price_compararision" placeholder="đ">
                                <div class="invalid-feedback" id="product_price_compararision_feedback">
                                    Giá so sánh phải cao hơn giá bán
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy và quay lại</button>
                <button type="button" class="btn btn-primary" id="btn_confirm_update_price" onclick="confirmUpdatePrice()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmUpdatePrice() {
        var price = $('#product_price').autoNumeric('get');
        var price_compararision = $('#product_price_compararision').autoNumeric('get');
        if (price == 0) {
            showToast("error", "Sản phẩm yêu cầu cần có <strong>Giá sản phẩm</strong>", "Lỗi nhập giá");
            $("#product_price").addClass('is-invalid');
            $("#product_price_feedback").css({display: 'block'});
        }
        if (price_compararision > 0 && price_compararision <= price) {
            showToast("error", "Giá so sánh <strong>phải thấp hơn giá ban</strong>", "Lỗi nhập giá");
            $("#product_price_compararision").addClass('is-invalid');
            $("#product_price_compararision_feedback").css({ display: 'block' });
        }
    }

    $('input[id=product_price]').keyup(function () {
        $("#product_price").removeClass('is-invalid');
        $("#product_price_feedback").css('display', 'none');
    });
</script>

<script>
    $(document).ready(function () {

        $('#product').addClass('active');

        if (Cookies.get("insert_product_success") != null) {
            showToast("success", 'Sản phẩm đã được tạo.', "Tạo thành công");
            Cookies.remove('insert_product_success');
        }

        $.ajax({
            url: "/Product/GetListCategoryIdOfProduct",
            data: {
                product_id: @Model.product_id,
            },
            context: document.body,
            type: "POST",
            dataType: "html",
            success: function (data) {
                var data_json = JSON.parse(data);
                list_category_id = data_json.list_category_id;
                $.each(list_category_id, function (key, value) {
                    $('#item_select_category_id_' + value).prop('disabled', true);
                });
            },
            error: function (xhr, status) {
                toastError();
            },
            complete: function (xhr, status) {
                //$('#showresults').slideDown('slow')
            }
        });

        $.ajax({
            url: "/Product/GetListProductVariationIdComboByProductId",
            data: {
                product_id: @Model.product_id,
            },
            context: document.body,
            type: "POST",
            dataType: "html",
            success: function (data) {
                var data_json = JSON.parse(data);
                list_product_variation_id_selected = data_json.list_combo_pv_id;
                console.log(list_product_variation_id_selected);
            },
            error: function (xhr, status) {
                toastError();
            },
            complete: function (xhr, status) {
                //$('#showresults').slideDown('slow')
            }
        });


        $(".quantity_input").autoNumeric('init', { aSign: '', pSign: 's', mDec: '0', aSep: '.', aDec: ',' });
        $(".autoNumericInput").autoNumeric('init', { aSign: ' ₫', pSign: 's', mDec: '0', aSep: '.', aDec: ',' });

        $('#product_time_to_show').clockface({
            format: 'HH:mm',
        });

        $('.open_clock_face').click(function (e) {
            e.stopPropagation();
            $('#product_time_to_show').clockface('toggle');
        });

        $.fn.noMask = function (regex) {
            this.on("keypress", function (e) {
                if (regex.test(String.fromCharCode(e.which))) {
                    return false;
                }
            });
        }

        $("#product_time_to_show").noMask(/[a-zA-Z]/);

        $('form, .summernote, input, select').trigger("reset");
        $('#summernote').summernote({
            followingToolbar: false,
            height: 245,
            toolbar: [
                ['undo', ['undo',]],
                ['redo', ['redo',]],
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['fontsize', ['fontsize']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['insert', ['link', 'picture', 'video', 'hr']],
                ['height', ['height']],
                ['table', ['table']],
                ['table', ['bootstrap-grid']],
                ['strikethrough', ['strikethrough']],
                ['superscript', ['superscript']],
                ['subscript', ['subscript']],
                ['view', ['fullscreen', 'codeview']],
                ['help', ['help']],
            ],
            callbacks: {
                onKeyup: function (e) {
                    form_has_changed = true;
                    var product_description = $('#summernote').summernote('code').replace(/<[^>]*>/g, '');

                    if (product_description.length > 0) {
                        form_has_changed = true;
                    } else {
                        form_has_changed = false;
                    }

                    $('#seo_description').val(product_description.slice(0, 320));

                    var textlenght = maxLengthDescription - product_description.length;
                    $('#count_seo_description').text(textlenght);
                    if (product_description.length > 320) {
                        $('#count_seo_description').text("0");
                    }
                },
                onPaste: function () {
                    var product_description = $('#summernote').summernote('code').replace(/<[^>]*>/g, '');
                    if (product_description.length > 0) {
                        form_has_changed = true;
                    } else {
                        form_has_changed = false;
                    }
                },
            }
        });

        $('#summernote2').summernote({
            followingToolbar: false,
            height: 245,
            toolbar: [
                ['undo', ['undo',]],
                ['redo', ['redo',]],
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['fontsize', ['fontsize']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['insert', ['link', 'picture', 'video', 'hr']],
                ['height', ['height']],
                ['table', ['table']],
                ['table', ['bootstrap-grid']],
                ['strikethrough', ['strikethrough']],
                ['superscript', ['superscript']],
                ['subscript', ['subscript']],
                ['view', ['fullscreen', 'codeview']],
                ['help', ['help']],
            ],
        });

        $('#summernote3').summernote({
            followingToolbar: false,
            height: 245,
            toolbar: [
                ['undo', ['undo',]],
                ['redo', ['redo',]],
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['fontsize', ['fontsize']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['insert', ['link', 'picture', 'video', 'hr']],
                ['height', ['height']],
                ['table', ['table']],
                ['table', ['bootstrap-grid']],
                ['strikethrough', ['strikethrough']],
                ['superscript', ['superscript']],
                ['subscript', ['subscript']],
                ['view', ['fullscreen', 'codeview']],
                ['help', ['help']],
            ],
        });

        //QUILL EDITOR
        var quill = new Quill('#editor', {
            syntax: true,
            modules: {
                toolbar: toolbarOptions
            },
            placeholder: 'Nhập mô tả ngắn không quá 500 ký tự...',
            theme: 'snow'
        });

        $uploadCrop = $('#image_viewer').croppie({
            viewport: { width: 250, height: 250 },
            boundary: { width: 300, height: 300 },
            showZoomer: true,
        });

        $('#modalConfirmCutImage').on('shown.bs.modal', function () {
            $uploadCrop.croppie('bind', {
                url: rawImg
            }).then(function () {
                console.log('jQuery bind complete');
            });
        });

    });

    var product_id = @Model.product_id;
    var $uploadCrop, tempFilename, rawImg, imageId;

    function readFile(input) {
        if (input.files[0].size > (3 * 1024000)) {
            $('#alert_image_limit').css({ display: 'block' });
            showToast("error", "Hình ảnh vượt quá kích thước cho phép. Giới hạn là 3Mb.", "Lỗi upload hình ảnh");
        }
        else {
            $('#alert_image_limit').css({ display: 'none' });
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.image_viewer').addClass('ready');
                    $('#modalConfirmCutImage').modal('show');
                    rawImg = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
                status_image_change = true;
            }
            else {
                swal("Sorry - you're browser doesn't support the FileReader API");
            }
        }
    }

    $('#file').on('change', function () {
        imageId = $(this).data('id'); tempFilename = $(this).val();
        $('#cancelCropBtn').data('id', imageId);
        readFile(this);
        form_has_changed = true;
    });

    $('#confirmCutImage').on('click', function (ev) {
        $uploadCrop.croppie('result', {
            type: 'base64',
            format: 'jpeg',
            size: { width: 250, height: 250 }
        }).then(function (resp) {
            $('#pictureUpload').attr('src', resp);
            $('#modalConfirmCutImage').modal('hide');
        });
    });

    $('#confirmCutImage').click(function (e) {
        //$('#pictureUpload').attr('src', e.target.result);
        $('#modalConfirmCutImage').modal('toggle');
        $('.displayImageUpload').css({
            display: 'block',
        });
        $('.custom-card-body').css({
            display: 'none'
        });
    });

    function deleteImg() {
        $('#alert_image_limit').css({ display: 'none' });
        $('.displayImageUpload').css({
            display: 'none',
        });
        $('.custom-card-body').css({
            display: 'block'
        });
        $('#file').val("");
        $("#pictureUpload").attr("src", "");
        status_image_change = true;
    }

    $('#edit_image_btn').click(function () {
        $('#div_alt_image').css('display', 'block');
    });

    var toolbarOptions = [
        [{ 'font': [] }, { 'size': [] }],
        ['bold', 'italic', 'underline', 'strike'],
        [{ 'color': [] }, { 'background': [] }],
        [{ 'script': 'super' }, { 'script': 'sub' }],
        [{ 'header': '1' }, { 'header': '2' }, 'blockquote', 'code-block'],
        [{ 'list': 'ordered' }, { 'list': 'bullet' }, { 'indent': '-1' }, { 'indent': '+1' }],
        ['direction', { 'align': [] }],
        ['clean']
    ];
    //var toolbarOptions = [
    //    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
    //    ['blockquote', 'code-block'],

    //    [{ 'header': 1 }, { 'header': 2 }],               // custom button values
    //    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
    //    [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
    //    [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
    //    [{ 'direction': 'rtl' }],                         // text direction

    //    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
    //    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

    //    [{ 'color': [] }, { 'background': [] }]         // dropdown with defaults from theme
    //    [{ 'font': [] }],
    //    [{ 'align': [] }],

    //    ['clean']                                         // remove formatting button
    //];

    $('#add_sort_description').click(function () {
        $('#body_of_sort_description').css('display', 'block');
        $('#add_sort_description').css('display', 'none');
    });

    $('input:radio[name="set_time_show"]').change(function () {
        if (this.checked && this.value == 'true') {
            $('.div_show_datetime').css('display', 'none');
            $('.show_datetime_title').css('display', 'none');
            $('#icon_remove_set_time_show').css('display', 'none');
        }
        else {
            //$('.div_show_datetime').css('display', 'block');
            $('.show_datetime_title').css('display', 'block');
        }
    });

    $('.show_datetime_title').click(function () {
        $('#icon_remove_set_time_show').css('display', 'block');
        $('.div_show_datetime').css('display', 'block');
    });

    $('#icon_remove_set_time_show').click(function () {
        $('.div_show_datetime').css('display', 'none');
        $('#icon_remove_set_time_show').css('display', 'none');

        $('form#div_show_datetime_title').trigger("reset");
    });

    function openDivUploadVideo() {
        is_not_include_video = true;
        $('#div_upload_video').removeClass('hidden_element');
        $('#icon_close_div_upload_video').removeClass('hidden_element');
        $('#icon_open_div_upload_video').addClass('hidden_element');
    }

    function closeDivUploadVideo() {
        is_not_include_video = false;
        $('#div_upload_video').addClass('hidden_element');
        $('#icon_close_div_upload_video').addClass('hidden_element');
        $('#icon_open_div_upload_video').removeClass('hidden_element');
    }

    $('input:radio[name="set_video"]').change(function () {
        if (this.checked && this.value == 'url') {
            $('#div_video_url').removeClass('hidden_element');
            $('#div_video_browser').addClass('hidden_element');
        }
        else {
            $('#div_video_url').addClass('hidden_element');
            $('#div_video_browser').removeClass('hidden_element');
        }
    });

    $('#video_browser').change(function (e) {
        if (e.target.files[0].size > (15 * 1024000)) {
            $('#video_browser').trigger('reset');
            $('#label_video_browser').trigger('reset');
            showToast("error", "Video vượt quá kích thước cho phép. Giới hạn là 15Mb.", "Lỗi upload video");
        } else {
            status_video_change = true
            var fileName = e.target.files[0].name;
            $('#label_video_browser').text(fileName);
            $('#frame_video').empty();
        }
    });

    var list_category_id = [];
    $('#select_category_for_product').on('change', function () {
        var category_id = this.value;
        var product_name = $("#select_category_for_product option:selected").text();

        if (category_id != "reset") {
            list_category_id.push(category_id);

            $("#select_category_for_product option[value=" + category_id + "]").attr('disabled', 'disabled');
            if (list_category_id.length > 0) {
                $('.title_name_of_category_selected').css('display', 'block');
            }
            $('#choose_category').append('<div style="margin-top: 5px;background-color: #8e54e9;color: white;padding: 12px;height: 40px;" id="div_category_selected_' + category_id + '"><div class="row"><div class="col-md-10">' + product_name + ' </div><div class="col-md-2" style="text-align:right"><a href="javascript:void(0)"><i class="fa fa-remove" id="remove_category_' + category_id + '"></i></a></div></div></div>');
        }
        $('#remove_category_' + category_id).click(function () {
            removeCategoryForProduct(category_id);
        });
    });

    function removeCategoryForProduct(category_id) {
        $('#div_category_selected_' + category_id).remove();
        $("#select_category_for_product option[value=" + category_id + "]").removeAttr('disabled');

        list_category_id = jQuery.grep(list_category_id, function (value) {
            return value != category_id;
        });

        if (list_category_id.length == 0) {
            $('.title_name_of_category_selected').css('display', 'none');
            $('#select_category_for_product option[value=reset]').prop('selected', true);
        }
    }

    function updateTagProduct(product_id) {
        $.ajax({
            url: '@Url.Action("GetTagProduct", "Product")',
            context: document.body,
            type: "POST",
            dataType: "html",
            data: { product_id: product_id },
            success: function (result) {
                $('#list_tag').html(result);
            }
        });
    }

    function updateImageCollectionProduct(product_id) {
        $.ajax({
            url: '@Url.Action("GetImageCollectionProduct", "Product")',
            context: document.body,
            type: "POST",
            dataType: "html",
            data: { product_id: product_id },
            success: function (result) {
                $('#list_image_collection').html(result);
            }
        });
    }


    var maxLength = 70;
    $('input[id=product_name]').keyup(function () {
        var product_name = $('#product_name').val().trim();

        $("#seo_header").val(product_name.slice(0, 70));

        var textlenght = maxLength - $(this).val().length;
        $('#count_seo_header').text(textlenght);
        if (product_name.length > 70) {
            $('#count_seo_header').text("0");
        }
        $("#seo_alias").val(ConvertToSeoTitle(product_name));
        $("#alt_image").val(ConvertToSeoTitle(product_name));

        $("#product_name").removeClass('is-invalid');
        $("#product_name").removeClass('is-valid');

        $("#product_name_check_duplicate_true").css('display', 'none');
        $("#product_name_check_duplicate_false").css('display', 'none');

        $("#product_name_feedback").css('display', 'none');
    });

    $('input[id=seo_header]').keyup(function () {
        var textlenght = maxLength - $(this).val().length;
        $('#count_seo_header').text(textlenght);
    });

    var maxLengthDescription = 320;
    $('textarea#seo_description').keyup(function () {
        var textlenght = maxLengthDescription - $('textarea#seo_description').val().length;
        $('#count_seo_description').text(textlenght);
    });

    var checkDupplicated = false;
    function checkNameProduct(old_name) {
        var product_name = $("#product_name").val().trim();
        if (product_name == old_name) {
            $("#product_name").removeClass('is-invalid');
            $("#product_name_check_duplicate_true").css('display', 'none');
            $("#product_name_check_duplicate_false").css('display', 'none');
            $("#product_name_feedback").css('display', 'none');
        } else {
            if (product_name == null || product_name == "") {
                $("#product_name_feedback").css('display', 'block');
                $("#product_name").addClass('is-invalid');
                $("#product_name_check_duplicate_true").css('display', 'none');
                $("#product_name_check_duplicate_false").css('display', 'none');
            }
            else {
                $.ajax({
                    url: "/Product/checkDuplicate",
                    data: {
                        product_name: product_name,
                    },
                    context: document.body,
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        if (data != "True") {
                            checkDupplicated = false;
                            $("#product_name").removeClass('is-invalid');
                            $("#product_name").addClass('is-valid');
                            $("#product_name_check_duplicate_true").css('display', 'block');
                            $("#product_name_check_duplicate_false").css('display', 'none');
                            $("#product_name_feedback").css('display', 'none');
                        }
                        else {
                            checkDupplicated = true;
                            $("#product_name").removeClass('is-valid');
                            $("#product_name").addClass('is-invalid');
                            $("#product_name_check_duplicate_true").css('display', 'none');
                            $("#product_name_check_duplicate_false").css('display', 'block');
                            $("#product_name_feedback").css('display', 'none');
                        }
                    },
                    error: function (xhr, status) {
                        $("#valid-feedback").val("Lỗi");
                    },
                    complete: function (xhr, status) {
                        //$('#showresults').slideDown('slow')
                    }
                });
            }
        }
    }

    function findValueInArrayProductVariationId(value, arr) {
        var result = false;
        for (var i = 0; i < arr.length; i++) {
            var id = arr[i];
            if (id == value) {
                result = true;
                break;
            }
        }
        return result;
    }

    var is_not_include_video = false;
    var status_video_change = false;
    var status_image_change = false;
    $('#btn_update').click(function () {
        var product_name = $('#product_name').val().trim();
        if (product_name == null || product_name == "") {
            $("#product_name_feedback").css('display', 'block');
            $("#product_name").addClass('is-invalid');
            $("#product_name_check_duplicate_true").css('display', 'none');
            $("#product_name_check_duplicate_false").css('display', 'none');
            $("html, body").animate({ scrollTop: 0 }, 600);
        }
        else if (checkDupplicated == true) {
            $("#product_name_feedback").css('display', 'none');
            $("#product_name").addClass('is-invalid');
            $("#product_name_check_duplicate_true").css('display', 'none');
            $("#product_name_check_duplicate_false").css('display', 'block');
            $("html, body").animate({ scrollTop: 0 }, 600);
        }
        else {
            var quill = new Quill('#editor');
            var myDropzone = $('#my-awesome-dropzone').get(0).dropzone.getAcceptedFiles();;
            var fileData = new FormData();
            var fileUpload = $("#file").get(0);
            var files = fileUpload.files;
            var videoUpload = $('#video_browser').get(0);
            var videos = videoUpload.files;

            if (quill.getLength() > 500) {
                $('html, body').animate({
                    scrollTop: $("#editor").offset().top
                }, 600);
                showToast("error", "Mô tả ngắn của sản phẩm không được phép vượt quá <strong>500 ký tự</strong>", "Lỗi nhập mô tả ngắn vượt quá 500 ký tự");
            }
            else {
                $("#product_name_feedback").css('display', 'none');
                $("#product_name").removeClass('is-invalid');
                $("#product_price_promotion").removeClass('is-invalid');
                $("#product_rent_cost_promotion").removeClass('is-invalid');

                //Image Library
                if (myDropzone.length > 0) {
                    for (var i = 0; i < myDropzone.length; i++) {
                        fileData.append("files_more_image[" + i + "]", myDropzone[i]);
                    }
                }
                //Product Variation && Element Variation
                var list_product_variation = [];
                var list_ev = [];
                if (list_product_variation_id.length > 0) {
                    $.each(list_product_variation_id, function (key, value) {
                        var product_variation = {};
                        var product_variation_image = $('#file_img_product_variation_' + value).get(0).files;
                        var product_variation_price = $('#input_product_variation_price_' + value).autoNumeric('get');
                        var product_variation_rent_cost = $('#input_product_variation_rent_cost_' + value).autoNumeric('get');
                        var product_variation_code = $('#input_product_variation_code_' + value).val();
                        var product_variation_in_stock = $('#input_product_variation_in_stock_' + value).val();
                        var is_change_image = false;

                        if (findValueInArrayProductVariationId(value, list_pv_id_changed_image)) {
                            is_change_image = true;
                        }

                        product_variation.product_variation_id = value;
                        product_variation.product_variation_code = product_variation_code;
                        product_variation.product_variation_price = product_variation_price;
                        product_variation.product_variation_rent_cost = product_variation_rent_cost;
                        product_variation.product_variation_in_stock = product_variation_in_stock;
                        product_variation.product_variation_image = product_variation_image;
                        product_variation.is_change_image = is_change_image;
                        list_product_variation.push(product_variation);

                        $.each(getListEVID(value), function (key, value_ev_id) {
                            var ev = {};
                            var ev_name = $('#input_ev_name_' + value_ev_id).val();
                            ev.element_variation_name = ev_name;
                            ev.element_variation_id = value_ev_id;
                            list_ev.push(ev);
                        });
                    });
                    for (var i = 0; i < list_product_variation.length; i++) {
                        fileData.append("list_product_variation[" + i + "].product_variation_id", list_product_variation[i].product_variation_id);
                        fileData.append("list_product_variation[" + i + "].product_variation_code", list_product_variation[i].product_variation_code);
                        fileData.append("list_product_variation[" + i + "].product_variation_price", list_product_variation[i].product_variation_price);
                        fileData.append("list_product_variation[" + i + "].product_variation_rent_cost", list_product_variation[i].product_variation_rent_cost);
                        fileData.append("list_product_variation[" + i + "].product_variation_price", list_product_variation[i].product_variation_price);
                        fileData.append("list_product_variation[" + i + "].product_variation_in_stock", list_product_variation[i].product_variation_in_stock);
                        fileData.append("list_product_variation[" + i + "].is_change_image", list_product_variation[i].is_change_image);
                        fileData.append("list_product_variation[" + i + "].product_variation_image", list_product_variation[i].product_variation_image[0]);
                    }

                    for (var i = 0; i < list_ev.length; i++) {
                        fileData.append("list_ev[" + i + "].element_variation_name", list_ev[i].element_variation_name);
                        fileData.append("list_ev[" + i + "].element_variation_id", list_ev[i].element_variation_id);
                    }
                }


                //Tag of Product
                var list_tag_product = $("#tag_product").tagsinput('items');
                if (list_tag_product.length > 0) {
                    for (var i = 0; i < list_tag_product.length; i++) {
                        fileData.append("tags[" + i + "]", list_tag_product[i]);
                    }
                }

                //List Category of Product
                if (list_category_id.length > 0) {
                    for (var i = 0; i < list_category_id.length; i++) {
                        fileData.append("list_category_id[" + i + "]", list_category_id[i]);
                    }
                }

                //Set time show
                var is_showing = true;
                if ($("input[name='set_time_show']:checked").val() == "false" || $("input[name='set_time_show']:checked").val() == false) {
                    is_showing = false;
                    fileData.append("is_showing", is_showing);
                    fileData.append("product_date_to_show", $("#product_date_to_show").val().trim());
                    fileData.append("product_time_to_show", $('#product_time_to_show').val());
                }
                else {
                    fileData.append("is_showing", is_showing);
                }

                //Get video
                if ($("input[name='set_video']:checked").val() == "url") {
                    fileData.append("is_video_url", true);
                    fileData.append("product_video", $('#video_url').val());
                }
                else {
                    fileData.append("is_video_url", false);
                    fileData.append("video", videos[0]);
                }

                fileData.append("product_id", @Model.product_id);
                fileData.append("product_image", files[0]);
                fileData.append("alt_image", $("#alt_image").val());
                fileData.append("product_name", $("#product_name").val().trim());
                fileData.append("content", $('#summernote').summernote('code'));
                fileData.append("content_2", $('#summernote2').summernote('code'));
                fileData.append("content_3", $('#summernote3').summernote('code'));
                fileData.append("description", quill.root.innerHTML);
                fileData.append("supplier_id", $("#select_supplier_for_product").val());
                fileData.append("status_image_change", status_image_change);
                fileData.append("is_not_include_video", is_not_include_video);
                fileData.append("status_video_change", status_video_change);

                fileData.append("seo_alias", $("#seo_alias").val().trim());
                fileData.append("seo_description", $("#seo_description").val().trim());
                fileData.append("seo_header", $("#seo_header").val().trim());

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateProduct", "Product", null)',
                    data: fileData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $('#show_seo_header').text($('#seo_header').val());
                        $('#show_seo_description').text($('#seo_description').val());
                        $('#show_seo_alias').text('@ViewBag.PrefixUrl' + "/" + $('#seo_alias').val());
                        $('#show_seo_alias').attr('href','@ViewBag.PrefixUrl' + "/" + $('#seo_alias').val());
                        $('#tag_product').tagsinput('removeAll');
                        updateTagProduct(@Model.product_id);
                        updateImageCollectionProduct(@Model.product_id);

                        $('#my-awesome-dropzone').trigger('reset');
                        showToast("success", 'Sản phẩm đã được cập nhật.', "Cập nhật thành công");
                    },
                    error: function (xhr) {
                        toastError();
                        $("html, body").animate({ scrollTop: 0 }, 600);
                    }
                });
            }
        }
    });

    //Chọn sản phẩm bán kèm
    function openModalSelectListProductVariation() {
        filterProductVariationCommon();
        $('#modalSelectListProductVariationForCoupon').modal('show');
    }

    $('#select_filter_product_variation').on('change', function () {
        var filter_value_parent = this.value;
        var search_string = $('#search_input_for_product_variation').val().trim();
        if (filter_value_parent == "product_status") {
            $('#filter_by_product_status_for_product_variation').css('display', 'block');
            $('#filter_by_category_for_product_variation').css('display', 'none');
            $('#filter_by_supplier_for_product_variation').css('display', 'none');
        }
        else if (filter_value_parent == "category") {
            $('#filter_by_product_status_for_product_variation').css('display', 'none');
            $('#filter_by_category_for_product_variation').css('display', 'block');
            $('#filter_by_supplier_for_product_variation').css('display', 'none');
        }
        else if (filter_value_parent == "supplier") {
            $('#filter_by_product_status_for_product_variation').css('display', 'none');
            $('#filter_by_category_for_product_variation').css('display', 'none');
            $('#filter_by_supplier_for_product_variation').css('display', 'block');
        }
        else {
            $('#form_filter_for_product_variation.custom-select').trigger("reset");
            $('#filter_by_product_status_for_product_variation').css('display', 'none');
            $('#filter_by_supplier_for_product_variation').css('display', 'none');
            $('#filter_by_category_for_product_variation').css('display', 'none');
            string_value_to_filter = "";
            filterProductVariationCommon();
        }
    });

    var string_value_to_filter = "";
    $('#filter_by_product_status_for_product_variation').on('change', function () {
        string_value_to_filter = this.value;
        filterProductVariationCommon();
    });

    $('#filter_by_category_for_product_variation').on('change', function () {
        string_value_to_filter = this.value;
        filterProductVariationCommon();
    });

    $('#filter_by_supplier_for_product_variation').on('change', function () {
        string_value_to_filter = this.value;
        filterProductVariationCommon();
    });

    $('#search_input_for_product_variation').keypress(function (e) {
        if (e.which == 13) {
            filterProductVariationCommon();
        }
    });

    function filterProductVariationCommon() {
        var search_string = $('#search_input_for_product_variation').val().trim();
        var quick_filter_value = string_value_to_filter;
        var quick_filter = $("#select_filter_product_variation option:selected").val();
        var size_of_page = $("#size_of_page_select_product_for_product_variation option:selected").val();
        var sort_list_return = $("#sort_list_product_return_select_for_product_variation option:selected").val();
        $.ajax({
            url: "/Product/IndexProductVariation",
            data: {
                search_string: search_string,
                page_num: 1,
                quick_filter_value: quick_filter_value,
                quick_filter: quick_filter,
                size_of_page: size_of_page,
                sort_list_return: sort_list_return,
            },
            context: document.body,
            type: "GET",
            dataType: "html",
            success: function (data) {
                $("#data_table_product_variation").html($(data).find("#data_table_product_variation"));
            },
            error: function (xhr, status) {
            },
            complete: function (xhr, status) {
            }
        });
    }

    $('#size_of_page_select_product_for_product_variation').on('change', function () {
        filterProductVariationCommon();
    });

    $('#sort_list_product_return_select_for_product_variation').on('change', function () {
        filterProductVariationCommon();
    });

    function searchProductForProductVariation() {
        filterProductVariationCommon();
    }

    //Gán list id từ db ngay khi load page
    var list_product_variation_id_selected = [];
    $('#btn_confirm_list_product_variation').click(function () {
        $.ajax({
            url: "/Product/GetListProductVariationComboAndUpdateCombo",
            data: {
                product_id: @Model.product_id,
                list_product_variation_id_selected: list_product_variation_id_selected
            },
            context: document.body,
            type: "POST",
            dataType: "html",
            success: function (data) {
                loadProductVariationCombo();
                $(".showNumeric").autoNumeric('init', { aSign: ' ₫', pSign: 's', mDec: '0', aSep: '.', aDec: ',' });
            },
            error: function (xhr, status) {
                toastError();
            },
            complete: function (xhr, status) {
                //$('#showresults').slideDown('slow')
            }
        });
        $('#modalSelectListProductVariationForCoupon').modal('hide');
    });

    function removeThisPvOutOfCombo(product_variation_id) {
        $.ajax({
            url: "/Product/DeleteComboProduct",
            data: {
                product_id: @Model.product_id,
                product_variation_id: product_variation_id
            },
            context: document.body,
            type: "POST",
            dataType: "html",
            success: function (data) {
                var data_json = JSON.parse(data);
                list_product_variation_id_selected = data_json.list_combo_pv_id;
                loadProductVariationCombo();
            },
            error: function (xhr, status) {
                toastError();
            },
            complete: function (xhr, status) {
                //$('#showresults').slideDown('slow')
            }
        });
    }

    function loadProductVariationCombo() {
        $.ajax({
            url: "/Product/GetListProductVariationCombo",
            data: {
                list_product_variation_id_selected: list_product_variation_id_selected
            },
            context: document.body,
            type: "POST",
            dataType: "html",
            success: function (data) {
                $("#list_combo_product_variation").html(data);
                $(".showNumeric").autoNumeric('init', { aSign: ' ₫', pSign: 's', mDec: '0', aSep: '.', aDec: ',' });
                showToast("success", 'Danh sách sản phẩm bán kèm đã được cập nhật.', "Cập nhật thành công");
            },
            error: function (xhr, status) {
                toastError();
            },
            complete: function (xhr, status) {
            }
        });
    }
</script>