@model IEnumerable<ProductVariationModel>
@using ElysienVietNam.Models;
@using Data;
@using Data.Providers;

@{
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
}


<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
        <form>
            <div class="table-content table-responsive cart-table-content">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tên sản phẩm</th>
                            <th>Giá sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pv in Model)
                        {
                        <tr>
                            <td class="product-thumbnail">
                                <a href="/@pv.product_seo_alias"><img class="img-product-cart lazyload" src="~/Assets/images/loader/img-loader.jpg" data-src="@urlCMS/@pv.product_variation_image" alt="@pv.product_variation_alt_image" /></a>
                            </td>
                            <td class="product-name"><a href="/@pv.product_seo_alias">@pv.product_name</a></td>
                            <td class="product-price-cart"><span class="amount showNumeric">@pv.product_variation_price</span></td>
                            <td class="product-quantity">
                                <div class="cart-plus-minus">
                                    <div class="dec qtybutton" onclick="decreaseQuantity('@pv.product_variation_id')">-</div>
                                    <input id="Quantity_@pv.product_variation_id" class="cart-plus-minus-box quantity_input" min="1" max="100000" type="text" name="qtybutton" value="@pv.quantity_in_cart" />
                                    <div class="inc qtybutton" onclick="increaseQuantity('@pv.product_variation_id')">+</div>
                                </div>
                            </td>
                            <td class="product-subtotal showNumeric">@(pv.product_variation_price * pv.quantity_in_cart)</td>
                            <td class="product-remove">
                                <a href="javascript:void(0)" onclick="removeFromQuickViewCart('@pv.product_variation_id')"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="grand-totall">
            <h4 class="grand-totall-title">Tổng tiền <span class="showNumeric">@ViewBag.CostAllProduct</span></h4>
            <a href="/checkout">Thanh toán</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("img.lazyload").lazyload();
        $(".showNumeric").autoNumeric('init', { aSign: ' ₫', pSign: 's', mDec: '0', aSep: '.', aDec: ',' });
    });

    function decreaseQuantity(product_variation_id) {
        var quantity_value = $('#Quantity_' + product_variation_id).val();
        if (quantity_value > 1) {
            var list_product_variation_in_cart = $.parseJSON(Cookies.get("ELYSIEN_CART"));
            $.each(list_product_variation_in_cart, function (index, value) {
                if (value.id == product_variation_id) {
                    value.quantity--;
                }
            });
            var date_obj = new Date();
            var minutes = 525600;
            date_obj.setTime(date_obj.getTime() + (minutes * 60 * 1000));
            Cookies.set("ELYSIEN_CART", JSON.stringify(list_product_variation_in_cart), { expires: date_obj, path: '/' });
            loadCart();
            
            updateCartForUserLoged();
        }
    }

    function increaseQuantity(product_variation_id) {
        var quantity_value = $('#Quantity_' + product_variation_id).val();
        var product_variation_in_stock = $('#product_variation_in_stock_' + product_variation_id).val();
        var allow_ordering_while_out_of_stock_status = $('#allow_ordering_while_out_of_stock_status_' + product_variation_id).text();
        var warehouse_management_status = $('#warehouse_management_status_' + product_variation_id).text();
        if (warehouse_management_status == "True") {
            if (allow_ordering_while_out_of_stock_status == "True") {
                var list_product_variation_in_cart = $.parseJSON(Cookies.get("ELYSIEN_CART"));
                $.each(list_product_variation_in_cart, function (index, value) {
                    if (value.id == product_variation_id) {
                        value.quantity++;
                    }
                });
                var date_obj = new Date();
                var minutes = 525600;
                date_obj.setTime(date_obj.getTime() + (minutes * 60 * 1000));
                Cookies.set("ELYSIEN_CART", JSON.stringify(list_product_variation_in_cart), { expires: date_obj, path: '/' });
                loadCart();
                
                updateCartForUserLoged();
            }
            else {
                if (quantity_value < product_variation_in_stock) {
                    var list_product_variation_in_cart = $.parseJSON(Cookies.get("ELYSIEN_CART"));
                    $.each(list_product_variation_in_cart, function (index, value) {
                        if (value.id == product_variation_id) {
                            value.quantity++;
                        }
                    });
                    var date_obj = new Date();
                    var minutes = 525600;
                    date_obj.setTime(date_obj.getTime() + (minutes * 60 * 1000));
                    Cookies.set("ELYSIEN_CART", JSON.stringify(list_product_variation_in_cart), { expires: date_obj, path: '/' });
                    loadCart();
                    
                    updateCartForUserLoged();
                }
            }
        }
        else {
            var list_product_variation_in_cart = $.parseJSON(Cookies.get("ELYSIEN_CART"));
            $.each(list_product_variation_in_cart, function (index, value) {
                if (value.id == product_variation_id) {
                    value.quantity++;
                }
            });
            var date_obj = new Date();
            var minutes = 525600;
            date_obj.setTime(date_obj.getTime() + (minutes * 60 * 1000));
            Cookies.set("ELYSIEN_CART", JSON.stringify(list_product_variation_in_cart), { expires: date_obj, path: '/' });
            loadCart();
            updateCartForUserLoged();
        }
    }

    function removeFromQuickViewCart(product_variation_id) {
        var list_product_variation_in_cart = $.parseJSON(Cookies.get("ELYSIEN_CART"));
        $.each(list_product_variation_in_cart, function (index, value) {
            if (value.id == product_variation_id) {
                list_product_variation_in_cart = list_product_variation_in_cart.filter(function (el) { return el.id != product_variation_id });
            }
        });
        if (list_product_variation_in_cart.length > 0) {
            var date_obj = new Date();
            var minutes = 525600;
            date_obj.setTime(date_obj.getTime() + (minutes * 60 * 1000));
            Cookies.set("ELYSIEN_CART", JSON.stringify(list_product_variation_in_cart), { expires: date_obj, path: '/' });
            

        } else {
            Cookies.remove("ELYSIEN_CART");
        }
        getNumOfItemInCart();
        updateCartForUserLoged();
    }

    $(".quantity_input").keypress(function (event) {
        if (event.which != 8 && event.which != 0 && (event.which < 48 || event.which > 57)) {
            return false;
        }
    });
</script>
