@model Data.product
@using Data;
@using Data.Providers;
@{
    ViewBag.Title = Model.product_name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];
    var category_parent = new category();
    var category_child_1 = new category();
    var category_child_2 = new CategoryProvider().getByProductId(Model.product_id).FirstOrDefault();

    if (category_child_2 != null && category_child_2.category_parent_id > 0)
    {
        category_child_1 = new CategoryProvider().getByCategoryId((long)category_child_2.category_parent_id);
    }

    if (category_child_1 != null && category_child_1.category_parent_id > 0)
    {
        category_parent = new CategoryProvider().getByCategoryId((long)category_child_1.category_parent_id);
    }

    var list_related = new ProductProvider().getListRelatedByProductId(Model.product_id);
    var list_nhan_su = new StoreMembershipProvider().getAll();
}

<div class="page-banner-area-two">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-banner-content-two">
                    <h2>@Model.product_name</h2>
                    <ul>
                        <li>
                            <a href="/">Trang chủ</a>
                        </li>

                        @if (category_parent != null && category_parent.category_id > 0)
                        {
                            <li><a href="/category/@category_parent.seo_alias" target="_self">@category_parent.category_name</a></li>
                        }

                        @if (category_child_1 != null && category_child_1.category_id > 0)
                        {
                            <li><a href="/category/@category_child_1.seo_alias" target="_self">@category_child_1.category_name</a></li>
                        }

                        @if (category_child_2 != null && category_child_2.category_id > 0)
                        {
                            <li><a href="/category/@category_child_2.seo_alias" target="_self">@category_child_2.category_name</a></li>
                        }

                        <li>@Model.product_name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Reviews Area -->

<section class="reviews-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                @Html.Raw(Model.content)
                <div class="fb-like" data-href="@urlSite/articles/@Model.seo_alias" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
                <div class="fb-comments" data-href="@urlSite/blogs/@Model.seo_alias" data-numposts="10" data-width="100%"></div>
            </div>
            <div class="col-lg-4 col-md-12">
                <aside class="widget-area" id="widget-area">
                    <section class="widget widget_mediva_posts_thumb" id="widget_mediva_posts_thumb">
                        <h3 class="widget-title">Cùng chủ đề</h3>
                        @foreach (var article in list_related)
                        {
                            if (article.product_id != Model.product_id)
                            {
                                <article class="item">
                                    <a href="/articles/@article.seo_alias" class="thumb">
                                        <span class="fullimage cover" role="img" style="background-image:url(@urlCMS/@article.product_image)"></span>
                                    </a>
                                    <div class="info">
                                        <span>@article.show_datetime.Value.ToString("dd/MM/yyyy")</span>
                                        <h4 class="title usmall"><a href="/articles/@article.seo_alias">@article.product_name</a></h4>
                                    </div>
                                </article>
                            }
                        }
                    </section>

                    <section class="widget widget_dat_lich" id="widget_dat_lich">
                        <h3 class="widget-title">Đặt lịch online</h3>
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Tên của bạn</label>
                                        <input type="text" class="form-control" placeholder="Nhập tên tại đây">
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Số điện thoại</label>
                                        <input type="text" class="form-control" placeholder="Nhập số điện thoại tại đây">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Nhập ngày tháng</label>
                                        <input id="datetimepicker" type="text" class="form-control" placeholder="@DateTime.Now.ToString("dd.MM.yyyy")">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-sm-12">
                                    <div class="form-group" style="text-align: center">
                                        <a href="javascript:void(0)" class="default-btn">Đăng Ký Ngay</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>

                    <section class="widget widget_bac_si" id="widget_bac_si">
                        <h3 class="widget-title">Đội ngũ bác sĩ</h3>
                        <div class="doctor-2-slider owl-carousel owl-theme">
                            @foreach (var ns in list_nhan_su)
                            {
                                <div class="team-card team-card-2">
                                    <a href="/"><img src="@urlCMS/@ns.mavatar" alt="@ns.mname"></a>
                                    <div class="content">
                                        <h5>
                                            <a href="javascript:void(0)">@ns.mname</a>
                                        </h5>
                                        <span>@ns.mposition</span>
                                        <p>@ns.msummary</p>
                                    </div>
                                    <div class="button-contact-card">
                                        <a href="javascript:void(0)" class="default-btn btn-2" onclick="showModal()">Đặt Lịch</a>
                                        <a href="javascript:void(0)" class="default-btn">Tư Vấn</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- End Reviews Area -->

<script>
    jQuery(document).ready(function () {
        var q2w3_sidebar_1_options = {
            "sidebar": "widget-area",
            "margin_top": 50,
            "margin_bottom": 310,
            "screen_max_width": 0,
            "width_inherit": false,
            "widgets": ['main-adsense-sidebar']
        };
        q2w3_sidebar(q2w3_sidebar_1_options);
        setInterval(function () { q2w3_sidebar(q2w3_sidebar_1_options); }, 1500);
    });
</script>
