@using Data;
@using Data.Providers;

@{
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];

    var favicon = new StoreLogoProvider().getFavicon();
    var logo_header = new StoreLogoProvider().getLogoHeader();
    var logo_footer = new StoreLogoProvider().getLogoFooter();
    var logo_mobile = new StoreLogoProvider().getLogoMobile();
    var contact = new StoreContactProvider().get1Contact();
    var list_page_link = new PageProvider().getListShow();
    var list_page_parent = list_page_link.Where(p => p.page_parent_id == null).ToList();
    var list_newest_blog = new BlogProvider().getNewest().Take(6).ToList();

}
<!doctype html>
<html class="no-js" lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="../Assets/images/icon/favicons.png" type="image/x-icon">

    @Styles.Render("~/bundles/styleCore")
    @Scripts.Render("~/bundles/jsCoreFirst")

    <link href="https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800,900|Dancing+Script:400,700|Rubik:400,500,600,700|Roboto+Condensed:300,400,700|Quicksand:300,400,500,600,700,800|Montserrat:300,400,500,600,700,800|Playfair+Display:400,400i,700,900&amp;display=swap" rel="stylesheet">

</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=237727621047446&autoLogAppEvents=1" nonce="4VsP1zGE"></script>
    <!--  ====== header-area-start=======================================  -->
    <header>
        <div id="header-sticky" class="header-area white-bg border-bottom">
            <div class="header header-2 position-relative pl-35 pr-35">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-xl-2  col-lg-7 col-md-7 col-sm-7 col-8">
                            <div class="logo float-right float-xl-left">
                                <a href="/"><img src="@urlCMS/@logo_header.image" alt="@logo_header.alt"></a>
                            </div>
                            <div class="d-block d-xl-none">
                                <a class="mobile-menubar" href="javascript:void(0);"><i class="fas fa-bars"></i></a>
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-9 col-lg-1 col-md-1 col-sm-1 col-1 d-none d-lg-flex align-items-lg-center justify-content-lg-center position-static">
                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li>
                                            <a href="/">Trang chủ</a>
                                        </li>

                                        @foreach (var c_parent in new CategoryProvider().getListParentCategory())
                                        {
                                            if (c_parent.show_datetime <= DateTime.Now && c_parent.status == true)
                                            {
                                                var list_child_1 = new CategoryProvider().getByCategoryParentId(c_parent.category_id);
                                                if (list_child_1.Count > 0)
                                                {
                                                    <li>
                                                        <a href="/collections/@c_parent.seo_alias">
                                                            @c_parent.category_name
                                                        </a>
                                                        <ul class="mega-menu mega-dropdown-menu">
                                                            @foreach (var child_1 in list_child_1)
                                                            {
                                                                var list_child_2 = new CategoryProvider().getByCategoryParentId(child_1.category_id);
                                                                if (list_child_2.Count > 0)
                                                                {
                                                                    <li class="position-relative">
                                                                        <a href="/collections/@child_1.seo_alias">
                                                                            @child_1.category_name <span class="pr-20 float-right"><i class="fas fa-angle-right"></i></span>
                                                                        </a>
                                                                        <div class="mega-menu mega-sub-menu">
                                                                            <ul>
                                                                                @foreach (var child_2 in list_child_2)
                                                                                {
                                                                                    <li><a href="/collections/@child_2.seo_alias"> @child_2.category_name</a></li>
                                                                                }
                                                                            </ul>
                                                                        </div>

                                                                    </li>
                                                                }

                                                                else
                                                                {
                                                                    <li><a href="/collections/@child_1.seo_alias">@child_1.category_name</a></li>
                                                                }
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="">
                                                        <a href="/collections/@c_parent.seo_alias" title="@c_parent.category_name">
                                                            @c_parent.category_name
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        }

                                        @if (list_page_parent.Count > 0)
                                        {
                                            foreach (var pp in list_page_parent)
                                            {
                                                if (pp.mount_on_header_menu_status == true)
                                                {
                                                    var list_page_child = new PageProvider().getListShow().Where(p => p.page_parent_id == pp.page_id).ToList();
                                                    if (list_page_child.Count > 0)
                                                    {
                                                        <li class="">
                                                            <a href="/pages/@pp.page_seo_alias" title="@pp.page_title">
                                                                @pp.page_title
                                                            </a>
                                                            <ul class="mega-menu mega-dropdown-menu">
                                                                @foreach (var pc in list_page_child)
                                                                {
                                                                    <li class="">
                                                                        <a href="/pages/@pc.page_seo_alias" title="@pc.page_title">
                                                                            @pc.page_title
                                                                        </a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="">
                                                            <a href="/pages/@pp.page_seo_alias" title="@pp.page_title">
                                                                @pp.page_title
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                            }

                                        }

                                        <li>
                                            <a href="/blogs">Tin tức</a>
                                        </li>
                                        <li>
                                            <a href="/pages/lien-he">Liên hệ</a>
                                        </li>

                                    </ul>
                                </nav>
                            </div><!-- /main-menu -->
                        </div><!-- /col -->
                        <div class="col-xl-1  col-lg-4 col-md-5 col-sm-5 col-4">
                            <div class="header-right d-flex justify-content-end">
                                <ul class="header-search d-none d-xl-block">
                                    <li><a href="javascript:void(0);"><span class="icon-search"></span></a></li>
                                </ul>
                            </div><!-- /header-right -->
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div>
        </div><!-- /header-bottom -->
    </header>
    <!--  header-area-end  -->
    <!--  ====== header extra info start================================== -->
    <!-- side-mobile-menu start -->
    <div class="side-mobile-menu bg-white pt-30 pb-30 pl-30 pr-30">
        <div class="close-icon float-right pt-10">
            <a href="javascript:void(0);"><span class="icon-clear"></span></a>
        </div>
        <div class="header-search-content pt-110">
            <h4 class="pb-10 text-center">Tìm kiếm sản phẩm</h4>
            <form class="position-relative pt-10 pb-15">
                <input id="input_search_mobile" type="text" placeholder="Gõ từ khóa sản phẩm tại đây...">
                <a onclick="searchMobile()" href="javascript:void(0)"><span class="icon-search"></span></a>

            </form>
        </div>
        <div class="mobile-menu"></div>
    </div><!-- /side-mobile-menu -->


    <div class="body-overlay"></div>
    <!-- header search details start -->
    <div class="header-search-details text-center white-bg pt-60 pl-230 pr-230">
        <div class="close-icon float-right">
            <a href="javascript:void(0);"><span class="icon-clear"></span></a>
        </div>
        <div class="header-search-content pt-200 ml-150 mr-150">
            <h4 class="mb-25">Tìm kiếm sản phẩm</h4>
            <form class="position-relative pt-10">
                <input id="input_search_desktop" type="text" placeholder="Gõ từ khóa sản phẩm tại đây...">
                <a onclick="searchDesktop()" class="position-absolute" href="javascript:void(0)"><span class="icon-search"></span></a>
            </form>
        </div>
    </div><!-- /extra-info -->

    <script>
        $('form').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

        function searchMobile() {
            var keyword = $('#input_search_mobile').val();
            search(keyword);
        }

        function searchDesktop() {
            var keyword = $('#input_search_desktop').val();
            search(keyword);
        }

        $('#input_search_desktop').keypress(function (e) {
            if (e.which == 13) {
                var keyword = $(this).val();
                search(keyword);
            }
        });

        function search(keyword) {
            if (keyword == "" || keyword == null) {
                alert("Vui lòng nhập từ khóa tìm kiếm");
            } else {
                location.href = '/search/keyword=' + keyword;
            }
        }
    </script>


    <!-- header-shopping-cart-details start -->
    <div class="header-shopping-cart-details white-bg pt-50 pb-40 pl-50 pr-40">
        <div class="close-icon float-right">
            <a href="javascript:void(0);"><span class="icon-clear"></span></a>
        </div>
        <h5 class="mb-30">Your Cart</h5>
        <p>No products in the cart.</p>
    </div><!-- /header-shopping-cart-details -->
    <!-- header extra info end  -->

    <main>
        @RenderBody()
    </main>

    <!-- ====== footer-area-start ============================================ -->
    <footer>
        <div class="footer-area widget-area pt-100 dark-black-bg">
            <div class="border-footer pb-35">
                <div class="container-wrapper pl-15 pr-15">
                    <div class="row">
                        <div class="col-xl-2  col-lg-2  col-md-4  col-sm-4 col-6">
                            <div class="footer-widget pb-30">
                                <h4 class="text-uppercase text-white ">Sản phẩm</h4>
                                <ul class="footer-info pt-35">
                                    @foreach (var c_parent in new CategoryProvider().getListParentCategory())
                                    {
                                        if (c_parent.show_datetime <= DateTime.Now && c_parent.status == true)
                                        {
                                            <li><a href="/collections/@c_parent.seo_alias">@c_parent.category_name</a></li>

                                        }
                                    }
                                </ul>
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-2  col-lg-2  col-md-4  col-sm-4 col-6 d-flex justify-content-center">
                            <div class="footer-widget pb-30">
                                <h4 class="text-uppercase text-white">Liên kết nhanh</h4>
                                <ul class="footer-info pt-35">
                                    @foreach (var page in list_page_link)
                                    {
                                        if (page.mount_on_footer_menu_status == true)
                                        {
                                            <li><a href="/pages/@page.page_seo_alias">@page.page_title</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-2  col-lg-2  col-md-4  col-sm-4 col-12 d-flex justify-content-end">
                            <div class="footer-widget pb-30">
                                <h4 class="text-uppercase text-white">Bài viết mới nhất</h4>
                                <ul class="footer-info pt-35">
                                    @foreach (var blog in list_newest_blog)
                                    {
                                        <li><a href="/blogs/@blog.blog_seo_alias">@blog.blog_title</a></li>
                                    }
                                </ul>
                            </div>
                        </div><!-- /col -->
                        <div class="col-xl-6  col-lg-6  col-md-12  col-sm-12 col-12">
                            <div class="footer-widget subscriber-area pb-30 pl-100">
                                <h4 class="text-uppercase text-white">TPA Lock</h4>
                                <div class="footer-info pt-30">
                                    <p>HAPPY LIFE WITH TPA LOCK</p>
                                    <ul class="footer-address">
                                        <li>Địa chỉ: @contact.address</li>
                                        <li>Điện thoại: @contact.phone_number</li>
                                        <li>Email: @contact.email</li>
                                        <li>
                                            @Html.Raw(contact.map)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /container -->
            </div><!-- /widget-area -->
            <div class="copyright-area pt-50 pb-50">
                <div class="container-wrapper pl-15 pr-15">
                    <p class="center-div">
                        Bản quyền thuộc về TPA Lock. Thiết kế bởi <a href="https://diwe.vn" target="_blank">Diwe.vn</a>
                    </p>
                </div><!-- /container -->
            </div><!-- /copyright-area -->
        </div>
    </footer>

    <!-- back top -->
    <div class="position-relative">
        <div class="top text-center border-gray2"><span class="icon-chevrons-up"></span></div>
    </div>

    @Scripts.Render("~/bundles/jsCoreSecond")


    <script>
        $(document).ready(function () {

            //$("img.lazyload").lazyload();
            $(".showNumeric").autoNumeric('init', { aSign: ' ₫', pSign: 's', mDec: '0', aSep: '.', aDec: ',' });


        });
    </script>
</body>
</html>
