@using Data;
@using Data.Providers;
@{
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];

    var favicon = new StoreLogoProvider().getFavicon();
    var logo_header = new StoreLogoProvider().getLogoHeader();
    var logo_footer = new StoreLogoProvider().getLogoFooter();
    var logo_mobile = new StoreLogoProvider().getLogoMobile();
    var contact = new StoreContactProvider().get1Contact();

    var list_page_link = new PageProvider().getListShow();
    var list_page_parent = list_page_link.Where(p => p.page_parent_id == null).ToList();
    var list_page_2 = list_page_link.Where(p => p.mount_on_header_menu_status == false && p.mount_on_footer_menu_status == false).ToList();

    var list_category = new CategoryProvider().getListCategoryAreShowing();
    var banner = new StoreBannerProvider().getbyId(1);
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="@urlCMS/@favicon.image" type="image/x-icon" />
    <title>@ViewBag.Title</title>

    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="HaiDN - ngochaiit257@gmail.com">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:locale" content="vi_VN">
    <meta name="revisit" content="1 days">
    <meta name="robots" content="noodp,index,follow" />

    <!-- Helpers ================================================== -->
    <meta name="apple-mobile-web-app-title" content="Lis Pharma">
    <meta name="application-name" content="Lis Pharma">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noodp,index, follow" />
    <link rel="canonical" href="@ViewBag.Canonical" />
    <link rel="alternate" href="@ViewBag.Alternate" hreflang="vi-vn" />
    <meta itemprop="name" content="@ViewBag.Title">
    <meta itemprop="description" content="@ViewBag.Description">
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:url" content="@ViewBag.Url" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:site_name" content="Lis Pharma" />
    <meta property="og:image" content="@ViewBag.Image" />
    <meta property="og:type" content="website">
    <meta property="og:image:secure_url" content="@ViewBag.Image" />

    <!-- ** Plugins Needed for the Project ** -->
    <link rel="stylesheet" href="../Assets/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../Assets/vendors/jquery-nice-select/nice-select.css">
    <link rel="stylesheet" href="../Assets/vendors/OwlCarousel2/owl.carousel.min.css">
    <link rel="stylesheet" href="../Assets/vendors/magnific-popup/css/magnific-popup.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <link href="../Assets/css/style.css" rel="stylesheet">
    <link href="~/Assets/css/custom.css" rel="stylesheet" />

    <!--Favicon-->
    <link rel="shortcut icon" href="../Assets/images/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,500,700,800|Dancing+Script:400,700|Caveat:400,700|Roboto+Condensed:300,400,700|Quicksand:300,400,500,600,700,800|Montserrat:300,400,500,600,700,800|Playfair+Display:400,400i,700,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca:400,500,700,800;display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <script src="../Assets/vendors/jQuery/jquery.min.js"></script>

</head>

<body id="top">
    <!-- start of preloader -->
    <div class="preloader"></div>
    <!-- end of preloader -->
    <!-- signup-modal -->
    <div class="modal fade rounded" id="signup-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-secondary font-weight-600">Register now</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-3 p-sm-4">
                    <form method="POST" class="row">
                        <div class="form-group mb-20 col-12">
                            <label class="text-secondary h6 mb-2" for="fname">Your Name*</label>
                            <input class="form-control shadow-none rounded-sm" type="text" placeholder="Jack" id="fname" required>
                        </div>
                        <div class="form-group mb-20 col-12">
                            <label class="text-secondary h6 mb-2" for="pnumber">Phone Number*</label>
                            <input class="form-control shadow-none rounded-sm" type="text" placeholder="Phone Number" id="pnumber" required>
                        </div>
                        <div class="form-group mb-20 col-12">
                            <label class="text-secondary h6 mb-2" for="email2">Email Address*</label>
                            <input class="form-control shadow-none rounded-sm" type="email" placeholder="jack@email.com" id="email2" required>
                        </div>
                        <div class="form-group mb-20 col-12">
                            <label class="text-secondary h6 mb-2 d-block">Gender*</label>
                            <div class="d-flex custom-radio-group rounded-sm">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1">Male</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-20 col-12">
                            <label class="text-secondary h6 mb-2" for="password">Password*</label>
                            <input class="form-control shadow-none rounded-sm" type="password" id="password" required>
                        </div>
                        <div class="form-group mb-20 col-12">
                            <label class="text-secondary h6 mb-2" for="repassword">Retype Password*</label>
                            <input class="form-control shadow-none rounded-sm" type="password" id="repassword" required>
                        </div>
                        <div class="form-group col-12">
                            <button class="btn btn-primary w-100 rounded-sm" type="submit">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- signup-modal -->
    <!-- signin-modal -->
    <div class="modal fade rounded" id="signin-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mx-auto" style="max-width:400px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-secondary font-weight-600">Welcome back</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-3 p-sm-4">
                    <ul class="nav nav-pills nav-justified tab-nav" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="guardian-tab" data-toggle="tab" href="#guardian" role="tab" aria-controls="guardian" aria-selected="true"><img src="../Assets/images/guardian.png" class="mr-2" alt="" style="height:45px"> Login as<br>Guardian</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="tutor-tab" data-toggle="tab" href="#tutor" role="tab" aria-controls="tutor" aria-selected="false"><img src="../Assets/images/tutor.png" class="mr-2" alt="" style="height:45px"> Login as<br>Tutor</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="guardian" role="tabpanel" aria-labelledby="guardian-tab">
                            <form method="POST" class="row">
                                <div class="form-group mb-20 col-12">
                                    <label class="text-secondary h6 font-weight-600 mb-2" for="email">Email Address*</label>
                                    <input class="form-control shadow-none rounded-sm" type="email" id="email" required>
                                </div>
                                <div class="form-group mb-20 col-12">
                                    <label class="text-secondary h6 font-weight-600 mb-2" for="passwordSignIn">Password*</label>
                                    <input class="form-control shadow-none rounded-sm" type="password" id="passwordSignIn" required>
                                </div>
                                <div class="form-group col-12">
                                    <button class="btn btn-primary w-100 rounded-sm" type="submit">Sign In</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="tutor" role="tabpanel" aria-labelledby="tutor-tab">
                            <form method="POST" class="row">
                                <div class="form-group mb-20 col-12">
                                    <label class="text-secondary h6 font-weight-600 mb-2" for="email">Email Address*</label>
                                    <input class="form-control shadow-none rounded-sm" type="email" id="email" required>
                                </div>
                                <div class="form-group mb-20 col-12">
                                    <label class="text-secondary h6 font-weight-600 mb-2" for="passwordSignIn">Password*</label>
                                    <input class="form-control shadow-none rounded-sm" type="password" id="passwordSignIn" required>
                                </div>
                                <div class="form-group col-12">
                                    <button class="btn btn-primary w-100 rounded-sm" type="submit">Sign In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- signin-modal -->

    <header class="bg-white shadow">
        <div class="container-lg">
            <nav class="navbar navbar-expand-xl navbar-dark px-0">
                <a class="navbar-brand" href="/">
                    <img src="@urlCMS/@logo_header.image" alt="@logo_header.alt" style="height:60px">
                </a>

                <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#navbarNavAlt" aria-controls="navbarNavAlt" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fas fa-bars"></span>
                </button>
                <div class="" style="text-align: right; width: calc(100% - 200px);">
                    @*<div class="block-navbar__top">
                        <a href="https://www.teachapax.com" class="badge badge-primary" target="_blank">CAREERS</a>
                        <a href="#" class="badge badge-primary" target="_blank">Tuyển dụng</a>
                        <a href="/pages/lien-he" class="badge badge-primary">Liên hệ</a>
                    </div>*@
                    <div class="collapse navbar-collapse" id="navbarNavAlt">

                        <ul class="navbar-nav mt-4 mt-xl-0 ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Giới thiệu <i class="fas fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="about.html">Giới thiệu</a></li>
                                    <li><a class="dropdown-item" href="about-2.html">Tầm nhìn</a></li>
                                    <li><a class="dropdown-item" href="about-3.html">Sứ mệnh</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Điểm khác biệt
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Chương trình học <i class="fas fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="about.html">Khóa Beginer</a></li>
                                    <li><a class="dropdown-item" href="about-2.html">Khóa Starter</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="blog.html">Tin tức <i class="fas fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="about.html">Hình ảnh</a></li>
                                    <li><a class="dropdown-item" href="about-2.html">Video</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   Tuyển dụng
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Liên hệ
                                </a>
                            </li>
                        </ul>


                    </div>
                </div>

            </nav>
        </div>
    </header>

    @RenderBody()



    <footer class="footer footer-newsletter-overlap bg-brand-color">
        <div class="container">
            <div class="wrap-box-register">
                <div class="box-register">
                    <span class="ic-monkey"></span>
                    <div class="title">
                        Đăng ký học thử miễn phí <span><i class="fa fa-caret-up"></i></span>
                    </div>
                    <div class="content">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Họ tên bố/ mẹ" id="register_fullname">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Độ tuổi của bé" id="register_behoctienganh">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email" id="register_email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Số điện thoại" id="register_phone">
                            </div>
                            <div class="form-group">
                                <select id="register_centre" class="form-control">
                                    <option value="0">Đăng ký học thử và kiểm tra trình độ</option>

                                    <option value="46">Apax Leaders - Cần Thơ</option>

                                </select>
                            </div>
                            @*<div class="form-group">
                                    <div class="g-recaptcha" data-sitekey="6LeMDFgUAAAAAEmErNlKXaNzbGeH8tIyAtTCpTeL"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LeMDFgUAAAAAEmErNlKXaNzbGeH8tIyAtTCpTeL&amp;co=aHR0cDovL3d3dy5hcGF4bGVhZGVycy5lZHUudm46ODA.&amp;hl=en&amp;v=_KUxfxvAoJ4k7SaKyLbja4Mi&amp;size=normal&amp;cb=6uf76ytrsfyw" width="304" height="78" role="presentation" name="a-h512gl5nr5s8" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
                                </div>*@
                            <button type="button" class="btn btn--white" onclick="return ajax_post_register();">Đăng ký</button>
                            <div class="form-group alert" style="    text-align: center;">

                            </div>
                        </form>
                    </div>
                </div>
                <script type="text/javascript">
                    function ajax_post_register() {
                        var fullname = $("#register_fullname").val();
                        var behoctienganh = $("#register_behoctienganh").val();
                        var email = $("#register_email").val();
                        var phone = $("#register_phone").val();
                        var centre = $("#register_centre").val();
                        if (fullname == "") {
                            $("#register_fullname").focus();
                            return false;
                        }
                        if (behoctienganh == "") {
                            $("#register_behoctienganh").focus();
                            return false;
                        }
                        if (email == "") {
                            $("#register_email").focus();
                            return false;
                        }

                        if (phone == "") {
                            $("#register_phone").focus();
                            return false;
                        }
                        if (centre == 0) {
                            $("#register_centre").focus();
                            return false;
                        }
                        var url = root + "register/post_register";
                        $.post(url, {
                            fullname: fullname,
                            email: email,
                            behoctienganh: behoctienganh,
                            centre: centre,
                            phone: phone

                        }, function (data) {
                            if (data == 1) {
                                $(".alert").html("<p>Cảm ơn đã đăng ký! <br/>Trung tâm Anh ngữ Apax sẽ liên hệ với bạn trong thời gian sớm nhất.</p>");
                                $("#register_fullname").val("");
                                $("#register_behoctienganh").val("");
                                $("#register_email").val("");
                                $("#register_phone").val("");
                                $("#register_centre").val("");
                            }
                        });
                        return false;
                    }
                </script>
            </div>
            <div class="pb-80 pt-50 text-white">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-5 col-sm-8">
                        <h3 class="font-weight-bold mb-30">Latest Courses</h3>
                        <div class="row">
                            <div class="col-xl-5 col-6">
                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        <a href="#!" class="text-light">
                                            <i class="fas fa-chevron-right small mr-2"></i> Development
                                        </a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!" class="text-light">
                                            <i class="fas fa-chevron-right small mr-2"></i> Design
                                        </a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!" class="text-light">
                                            <i class="fas fa-chevron-right small mr-2"></i> Marketing
                                        </a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!" class="text-light">
                                            <i class="fas fa-chevron-right small mr-2"></i> Lifestyle
                                        </a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!" class="text-light">
                                            <i class="fas fa-chevron-right small mr-2"></i> IT & Software
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xl-5 col-6">
                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        <a href="#!" class="text-light">
                                            <i class="fas fa-chevron-right small mr-2"></i> Photography
                                        </a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!" class="text-light">
                                            <i class="fas fa-chevron-right small mr-2"></i> Personal
                                        </a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!" class="text-light">
                                            <i class="fas fa-chevron-right small mr-2"></i> Development
                                        </a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!" class="text-light">
                                            <i class="fas fa-chevron-right small mr-2"></i> Business
                                        </a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!" class="text-light">
                                            <i class="fas fa-chevron-right small mr-2"></i> Music
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl col-lg-3 col-sm-4 col-6 mt-5 mt-sm-0">
                        <h3 class="font-weight-bold mb-30">Our Pages</h3>
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <a href="#!" class="text-light">
                                    <i class="fas fa-chevron-right small mr-2"></i> About
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light">
                                    <i class="fas fa-chevron-right small mr-2"></i> Courses
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light">
                                    <i class="fas fa-chevron-right small mr-2"></i> Gallery
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light">
                                    <i class="fas fa-chevron-right small mr-2"></i> Career
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light">
                                    <i class="fas fa-chevron-right small mr-2"></i> Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl col-lg-3 col-sm-6 col-6 mt-5 mt-lg-0">
                        <h3 class="font-weight-bold mb-30">Valuable Links</h3>
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <a href="#!" class="text-light">
                                    <i class="fas fa-chevron-right small mr-2"></i> Pricing
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light">
                                    <i class="fas fa-chevron-right small mr-2"></i> Privacy
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light">
                                    <i class="fas fa-chevron-right small mr-2"></i> Conditions
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light">
                                    <i class="fas fa-chevron-right small mr-2"></i> Refund Policy
                                </a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light">
                                    <i class="fas fa-chevron-right small mr-2"></i> Our Product
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 mt-5 mt-xl-0">
                        <img src="../../../www.s7template.com/tf/eduskills/images/logo.html" alt="">
                        <p class="mt-15">Silent sir say desire fat him letter. Whatever settling goodness too and honoured she building.</p>
                        <div class="mt-30">
                            <a href="#!" class="pr-3 text-light"><i class="fab fa-facebook-f"></i></a>
                            <a href="#!" class="p-3 text-light"><i class="fab fa-twitter"></i></a>
                            <a href="#!" class="p-3 text-light"><i class="fab fa-instagram"></i></a>
                            <a href="#!" class="p-3 text-light"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-light py-3 border-dark border-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 text-center text-lg-left mb-3 mb-lg-0">
                        &copy; Copyright All Review <span class="text-primary">Edu</span>Skills
                    </div>
                    <div class="col-lg-3 text-center text-lg-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item"><a href="#!" class="p-2 d-block text-light">Privacy</a></li>
                            <li class="list-inline-item"><a href="#!" class="p-2 d-block text-light">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <a href="#top" class="scroll-to-top">
        <span class="fas fa-chevron-up"></span>
    </a>

    <!-- jQuery -->
    <script src="../Assets/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../Assets/vendors/jquery-nice-select/jquery.nice-select.min.js"></script>
    <script src="../Assets/vendors/OwlCarousel2/owl.carousel.min.js"></script>
    <script src="../Assets/vendors/counterup/waypoints.min.js"></script>
    <script src="../Assets/vendors/counterup/jquery.counterup.min.js"></script>
    <script src="../Assets/vendors/magnific-popup/js/magnific-popup.min.js"></script>

    <!-- Main Script -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="../Assets/js/script.js"></script>
    <script src="~/Assets/js/custom.js"></script>
    <script src="~/Assets/js/autoNumeric.js"></script>
    <script>
        var width_device = $(window).width();
        var $swipeTabsContainer = $(".swipe-tabs"),
            $swipeTabs = $(".swipe-tab"),
            $swipeTabsContentContainer = $(".swipe-tabs-container"),
            currentIndex = 0,
            activeTabClassName = "active-tab";

        $swipeTabsContainer.on("init", function (event, slick) {
            $swipeTabsContentContainer.removeClass("invisible");
            $swipeTabsContainer.removeClass("invisible");

            currentIndex = slick.getCurrent();
            $swipeTabs.removeClass(activeTabClassName);
            $(".swipe-tab[data-slick-index=" + currentIndex + "]").addClass(
                activeTabClassName
            );
        });

        $swipeTabsContainer.slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            arrows: true,
            infinite: false,
            swipeToSlide: true,
            swipe: true,
            draggable: true,
            touchThreshold: 10,
            prevArrow: '<button type="button" class="slick-prev slick-prev-1 hidden"><i class="fas fa-chevron-left"></i></button>',
            nextArrow: '<button type="button" class="slick-next slick-next-1"><i class="fas fa-chevron-right"></i></button>',
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 4
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }],
        });

        $swipeTabsContentContainer.slick({
            asNavFor: $swipeTabsContainer,
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            infinite: false,
            swipeToSlide: true,
            swipe: true,
            draggable: true,
            touchThreshold: 10,
            prevArrow: '<button type="button" class="slick-prev slick-prev-content hidden"><i class="fas fa-chevron-left"></i></button>',
            nextArrow: '<button type="button" class="slick-next slick-next-content"><i class="fas fa-chevron-right"></i></button>',
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        arrows: true,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                    }
                }]
        });

        $swipeTabs.on("click", function (event) {
            // gets index of clicked tab
            currentIndex = $(this).data("slick-index");
            $swipeTabs.removeClass(activeTabClassName);
            $(".swipe-tab[data-slick-index=" + currentIndex + "]").addClass(
                activeTabClassName
            );
            $swipeTabsContainer.slick("slickGoTo", currentIndex);
            $swipeTabsContentContainer.slick("slickGoTo", currentIndex);
        });

        $swipeTabsContentContainer.on("swipe", function (event, slick, direction) {
            currentIndex = $(this).slick("slickCurrentSlide");
            $swipeTabs.removeClass(activeTabClassName);
            $(".swipe-tab[data-slick-index=" + currentIndex + "]").addClass(
                activeTabClassName
            );
        });

        $swipeTabsContentContainer.on("afterChange", function (event, slick, i) {
            currentIndex = $(this).slick("slickCurrentSlide");
            $swipeTabs.removeClass(activeTabClassName);
            $(".swipe-tab[data-slick-index=" + currentIndex + "]").addClass(
                activeTabClassName
            );

            if (i === 3) {
                $('.slick-next-1').addClass('hidden');
            }
            else {
                $('.slick-next-1').removeClass('hidden');
            }

            if (i === 0) {
                $('.slick-prev-1').addClass('hidden');
            }
            else {
                $('.slick-prev-1').removeClass('hidden');
            }
        })

        $swipeTabsContainer.on("swipe", function (event, slick, i) {
            currentIndex = $(this).slick("slickCurrentSlide");
            $swipeTabs.removeClass(activeTabClassName);
            $(".swipe-tab[data-slick-index=" + currentIndex + "]").addClass(
                activeTabClassName
            );
            $swipeTabsContentContainer.slick("slickGoTo", currentIndex);
        })

        $swipeTabsContainer.on("afterChange", function (event, slick, i) {
            currentIndex = $(this).slick("slickCurrentSlide");
            $swipeTabs.removeClass(activeTabClassName);
            $(".swipe-tab[data-slick-index=" + currentIndex + "]").addClass(
                activeTabClassName
            );
            $swipeTabsContentContainer.slick("slickGoTo", currentIndex);
        })



        var $swipeTabsContainer2 = $(".swipe-tabs-2"),
            $swipeTabs2 = $(".swipe-tab-2"),
            $swipeTabsContentContainer2 = $(".swipe-tabs-container-2"),
            currentIndex2 = 0,
            activeTabClassName2 = "active-tab";

        $swipeTabsContainer2.on("init", function (event, slick) {
            $swipeTabsContentContainer2.removeClass("invisible");
            $swipeTabsContainer2.removeClass("invisible");

            currentIndex2 = slick.getCurrent();
            $swipeTabs2.removeClass(activeTabClassName2);
            $(".swipe-tab-2[data-slick-index=" + currentIndex2 + "]").addClass(
                activeTabClassName2
            );
        });

        $swipeTabsContainer2.slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            arrows: true,
            infinite: false,
            swipeToSlide: true,
            swipe: true,
            draggable: true,
            touchThreshold: 10,
            prevArrow: '<button type="button" class="slick-prev slick-prev-2 hidden"><i class="fas fa-chevron-left"></i></button>',
            nextArrow: '<button type="button" class="slick-next slick-next-2"><i class="fas fa-chevron-right"></i></button>',
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 4
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }],
        });

        $swipeTabsContentContainer2.slick({
            asNavFor: $swipeTabsContainer2,
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            infinite: false,
            swipeToSlide: true,
            swipe: true,
            draggable: true,
            touchThreshold: 10,
            prevArrow: '<button type="button" class="slick-prev slick-prev-content hidden"><i class="fas fa-chevron-left"></i></button>',
            nextArrow: '<button type="button" class="slick-next slick-next-content"><i class="fas fa-chevron-right"></i></button>',
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        arrows: true,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                    }
                }]
        });

        $swipeTabs2.on("click", function (event) {
            // gets index of clicked tab
            currentIndex2 = $(this).data("slick-index");
            $swipeTabs2.removeClass(activeTabClassName2);
            $(".swipe-tab-2[data-slick-index=" + currentIndex2 + "]").addClass(
                activeTabClassName2
            );
            $swipeTabsContainer2.slick("slickGoTo", currentIndex2);
            $swipeTabsContentContainer2.slick("slickGoTo", currentIndex2);
        });

        $swipeTabsContentContainer2.on("swipe", function (event, slick, direction) {
            currentIndex2 = $(this).slick("slickCurrentSlide");
            $swipeTabs2.removeClass(activeTabClassName2);
            $(".swipe-tab-2[data-slick-index=" + currentIndex2 + "]").addClass(
                activeTabClassName2
            );
        });

        $swipeTabsContentContainer2.on("afterChange", function (event, slick, i) {
            currentIndex2 = $(this).slick("slickCurrentSlide");
            $swipeTabs2.removeClass(activeTabClassName2);
            $(".swipe-tab-2[data-slick-index=" + currentIndex2 + "]").addClass(
                activeTabClassName2
            );

            if (i === 3) {
                $('.slick-next-2').addClass('hidden');
            }
            else {
                $('.slick-next-2').removeClass('hidden');
            }

            if (i === 0) {
                $('.slick-prev-2').addClass('hidden');
            }
            else {
                $('.slick-prev-2').removeClass('hidden');
            }
        })

        $swipeTabsContainer2.on("swipe", function (event, slick, i) {
            currentIndex2 = $(this).slick("slickCurrentSlide");
            $swipeTabs2.removeClass(activeTabClassName2);
            $(".swipe-tab-2[data-slick-index=" + currentIndex2 + "]").addClass(
                activeTabClassName2
            );
            $swipeTabsContentContainer2.slick("slickGoTo", currentIndex2);
        })

        $swipeTabsContainer2.on("afterChange", function (event, slick, i) {
            currentIndex2 = $(this).slick("slickCurrentSlide");
            $swipeTabs2.removeClass(activeTabClassName2);
            $(".swipe-tab-2[data-slick-index=" + currentIndex2 + "]").addClass(
                activeTabClassName2
            );
            $swipeTabsContentContainer2.slick("slickGoTo", currentIndex2);
        })




        //===VERTICAL SLIDER===
        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.slider-nav',
        });
        $('.slider-nav').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            arrows: false,
            vertical: true,
            asNavFor: '.slider-for',
            dots: false,
            focusOnSelect: true,
            verticalSwiping: true,
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                        vertical: false,
                        arrows: false
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        vertical: false,
                        arrows: false
                    }
                },
                {
                    breakpoint: 580,
                    settings: {
                        vertical: false,
                        slidesToShow: 3,
                        arrows: false
                    }
                },
                {
                    breakpoint: 380,
                    settings: {
                        vertical: false,
                        slidesToShow: 2,
                        arrows: false
                    }
                }
            ]
        });



        // student-says-carousel Init
        var sliderMain = $('.slider-main');
        sliderMain.owlCarousel({
            loop: true,
            nav: false,
            dots: false,
            items: 1
        });
        // Custom Navigation Events
        $('.slider-main-left').click(function () {
            sliderMain.trigger('prev.owl.carousel');
        });
        $('.slider-main-right').click(function () {
            sliderMain.trigger('next.owl.carousel');
        });

        $(".owl-carousel-testi").owlCarousel({
            loop: true,
            center: true,
            nav: true,
            margin: 0,
            responsiveClass: true,
            nav: true,
            autoplay: true,
            autoPlaySpeed: 3000,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                680: {
                    items: 2,
                    nav: false,
                    loop: false
                },
                1000: {
                    items: 3,
                    nav: true
                }
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".showNumeric").autoNumeric('init', { aSign: ' ₫', pSign: 's', mDec: '0', aSep: '.', aDec: ',' });
        });
    </script>
</body>
</html>